<p>hi</p>
<%= @request.provider %>
<%= @request.uid %>
<%= @request.info.name %>
<%= @request.info.email %>
<%= @request.info.first_name %>
<%= @request.info.last_name %>
<%= @request.info.description %>
<%= @request.info.image %>


<br> <br>

<pre><%= @request.to_yaml %></pre>


