
<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
  <a href="/" class="brand w-nav-brand">
    <div class="logo-design" style="font-size: 17px;"> MYN - <%= current_user.name %> </div>
  </a>
  <nav role="navigation" class="nav-menu w-nav-menu">
    <%= link_to 'Go Back to Dashboard', user_account_path(current_user), id: "watch_explainer_btn" %>
	</nav>
  <div class="w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
</div>

<div style="text-align:center">
  <h3 style="margin-bottom: 26px"> Reminder to be in touch with <%= @content %> </h3> 
  <%= form_for :reminder, url: create_reminder_url do |f| %>
    <%= f.hidden_field :content, value: @content %>
    <%= f.datetime_select :date, :ampm => true, :order => [:minute, :hour, :day, :month, :year], 
      :minute_step => 15 %> <br>
    <%= f.submit "set reminder", class: "add-button w-button", style: "margin-top: 33px;" %>

    <br>

  	<% if notice %>
  		<div class="notice-reminder"><%= notice %></div>
  	<% end %>
  <% end %> <br>
</div>
