<% if notice %>
	<p> <%= notice %> </p> 
<% end %> 

<h1> New Reminder </h1>
<!-- adding several contacts -->
<%= form_for :reminder, url: create_reminder_url do |f| %>
  <%= f.hidden_field :content, value: @content %>
  <%= f.datetime_select :date, :ampm => true, :order => [:day, :month, :year, :hour, :minute], :minute_step => 15 %>
  <%= f.submit "done" %>
<% end %> <br>
