<h1> MindYourNetwork: <%= @user.name %> </h1>

<%= link_to 'Log Out', logout_path, method: :delete %> <br> <br>

<p>
	<strong> One recurring reminder </strong> will be sent each Sunday to suggest contacts with whom you should follow up this month.
	<br> <br>
	<strong> Specific reminders </strong> are email reminders that you yourself can easily set to  follow through.
</p>

<!-- adding a contact -->
<%= form_for :contact, url: create_contact_url do |f| %>
  <%= f.text_field :name, placeholder: "Add Contact" %>
  <%= f.submit "done" %>
<% end %> <br>

<!-- adding several contacts -->
<%= form_for :contact, url: create_many_contacts_url do |f| %>
  <%= f.text_field :names, placeholder: "Add Contacts" %>
  <%= f.submit "done" %>
<% end %> <br>

<!-- all contacts of user -->
<% @contacts.each do |contact| %>
  <%= contact.name %>
  <%= contact.this_month %>
  <%= contact.interval %> 
  <%= link_to 'set a reminder', new_reminder_path(content: contact.name) %> <br> <br>
<% end %>
