<h1>
	Who are your Important Contacts to Keep in Touch with?
</h1>

<%= @user.name %>

<%= form_for :contact, path: create_contact_path, html: { multipart: true } do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.text_field :name, placeholder: "Name" %>
<%= f.submit "done" %>
