<p> <%= link_to 'Log Out', logout_path, method: :delete %> </p>

<h1> MindYourNetwork: <%= @user.name %> </h1>

<% if notice %>
  <p> <%= notice %> </p>
<% end %>

<p> <strong> A recurring reminder </strong> will be sent each Sunday to suggest contacts with whom you should follow up this month. </p>

<p> <strong> Specific reminders </strong> are email reminders that you yourself can easily set here to help yourself follow through. </p>

<!-- add several contacts -->
<%= form_for :contact, url: create_many_contacts_url do |f| %>
  <%= f.text_area :names, placeholder: "Add many Contacts", id: "add_contacts_field" %> <br>
  <%= f.submit "done" %>
<% end %> <br> <br>


<!-- all contacts of user -->
<% @contacts.each do |contact| %>
  <!-- form for each contact -->
  <%= form_for :contact, url: update_contact_url(id: contact.id), 
          method: (:patch), remote: true, :authenticity_token => true  do |f| %> 
    
      <div class="contact_name">
        <%= contact.name %>
      </div>
      
      <!-- 
        @marci - please dont delete
        the containing div or the invisible submit button. 
        The Javascript uses the div to find the button
        each time user makes a change one of the two fiels to submit stuff.
      -->

      <div class="container">
        <%= f.check_box :this_month, checked: contact.this_month, onchange: "click_submit_btn(this); return false;" %>
        this month

        <%= f.number_field :interval, value: contact.interval, 
                class: "interval_field", onchange: "click_submit_btn(this); return false;" %> 
        month intervals

        <%= f.submit "submit", class: "submit_btn" %>
      </div>

      <%= link_to 'set a reminder', new_reminder_path(content: contact.name) %>
    
      <div class="side_section">
        <%= link_to 'comment', "#" %> |
        <%= link_to 'x', "#" %>
      </div>

  <% end %>
<% end %>
