
<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
  <a href="/" class="brand w-nav-brand">
    <div class="logo-design">mind your network</div>
  </a>
  <nav role="navigation" class="nav-menu w-nav-menu">
    <a href="#" class="nav-link w-nav-link"><%= @user.name %></a>
    <a href="#" class="nav-link w-nav-link"><%= link_to 'Log Out', logout_path, method: :delete %></a></nav>
  <div class="w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
</div>

<div class="wrapper-form">
<div class="w-form">
  <%= form_for :contact, url: create_many_contacts_url do |f| %>
    <%= f.text_area :names, placeholder: "Add your Contacts. Separate multiple contacts with a comma.", id: "name", class: "text-field w-input" %>
    <%= f.submit "Add Contacs", class: "submit-button w-button" %>
  <% end %>
</div>
</div>

  <!--
  <form id="email-form" name="email-form" data-name="Email Form" class="form">
      <input type="text" class="text-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Enter name of new contact" id="name" />
      <input type="submit" value="Add Contact" data-wait="Please wait..." class="submit-button w-button" />
    </form> 
  -->

<div class="notice">
<% if notice %>
   <%= notice %>
<% end %>
</div>

<div id="settings_updated">
  <p> settings updated. </p>
</div>


<% @contacts.each do |contact| %>
  <%= form_for :contact, url: update_contact_url(id: contact.id),
          method: (:patch), remote: true, :authenticity_token => true  do |f| %>
          <div class="wrapper-contact">
            <div class="top-wrapper">
              <div class="wrapper-contact-info">
                <div class="title-wrapper">
                  <div class="name-contact"><%= contact.name %></div>
                </div>
              </div>
              <div class="wrapper-time">
                <div class="text-block-2">
                  <%= f.check_box :this_month, checked: contact.this_month, onchange: "click_submit_btn(this); return false;" %>
                  <span class="this-month">contact this month</span>

                  <span class="intervals">contact in</span>
                  <%= f.number_field :interval, value: contact.interval,
                          class: "interval_field", onchange: "click_submit_btn(this); return false;" %>
                  <span class="intervals">month intervals</span>

                  <%= f.submit "submit", class: "button-hide" %>
                </div>
              </div>
              <div class="div-block-5">
                <div class="bellow-function-wrapper">
                  <img src="https://daks2k3a4ib2z.cloudfront.net/59f72a5b04139300016ae066/5a04657e7e1de90001c9136a_notification.svg" class="organize-icon" />
                  <div class="text-below">
                    <%= link_to 'Notes', "#", 
                          onclick: "display_comment_section(#{contact.id}); return false" %>
                  </div>
                </div>
                <div class="bellow-function-wrapper">
                  <img src="https://daks2k3a4ib2z.cloudfront.net/59f72a5b04139300016ae066/5a04656e9ea3b90001b7d926_calendar.svg" class="organize-icon" />
                  <div class="text-below"><%= link_to 'Schedule Reminder', new_reminder_path(content: contact.name) %></div>
                </div>
                <div class="bellow-function-wrapper">
                  <div class="text-below">
                    <%= link_to 'x', delete_contact_path(id: contact.id), 
                              method: :delete, data: { confirm: 'Do you want to delete this contact?' } %>    
                  </div>
                </div>
              </div>
            </div>
          </div>
  <% end %>

  <!-- comment setting sections -->
  <div id="<%= "comment_container_" + contact.id.to_s %>" class="note_taking_container">
    <h3> Set comment </h3>
    <%= form_for :profile, :url => create_or_update_profile_url(contact_id: contact.id) do |form| %>
      <%= form.text_area :comment, placeholder: "placeholder" %> <br>
      <%= form.submit "set comment" %> <br> <br>
      <%= link_to 'Back', "#", onclick: "hide_this_section(this); return false" %>
      <br> <br>
      <p> <%= contact.profile.comment if contact.profile %> </p>
    <% end %>
  </div>

<% end %>
