<h1> MindYourNetwork: <%= @user.name %> </h1>

<%= link_to 'Log Out', logout_path, method: :delete %> <br> <br>

<p>
	<strong> A recurring reminder </strong> will be sent each Sunday to suggest contacts with whom you should follow up this month.
	<br> <br>
	<strong> Specific reminders </strong> are email reminders that you yourself can easily set here to help yourself follow through.
</p> <br>

<!-- add a contact -->
<%= form_for :contact, url: create_contact_url do |f| %>
  <%= f.text_field :name, placeholder: "Add one Contact" %>
  <%= f.submit "done" %>
<% end %> <br>

<!-- add several contacts -->
<%= form_for :contact, url: create_many_contacts_url do |f| %>
  <%= f.text_field :names, placeholder: "Add many Contacts" %>
  <%= f.submit "done" %>
<% end %> <br> <br>


<!-- all contacts of user -->
<% @contacts.each do |contact| %>

  <!-- form to update action -->
  <%= form_for :contact, url: update_contact_url(id: current_user.id), method: (:patch) do |f| %> 
    <%= contact.name %> <br>

    <%= f.check_box :this_month, checked: contact.this_month %>
    <%= f.number_field :interval, value: contact.interval %> 
    <%= f.submit "submit" %> <br>

    <%= link_to 'set a reminder', new_reminder_path(content: contact.name) %> <br> <br>
  <% end %> <br> <br>

<% end %>

