<%= link_to 'Log Out', logout_path, method: :delete %> <br>

<h1> Who are your Important Contacts to Keep in Touch with? </h1>

<p> Account: <%= @user.name %> </p>

<!-- adding a contact -->
<%= form_for :contact, url: create_contact_url do |f| %>
  <%= f.text_field :name, placeholder: "Add Contact" %>
  <%= f.submit "done" %>
<% end %> <br>

<!-- adding several contacts -->
<%= form_for :contact, url: create_many_contacts_url do |f| %>
  <%= f.text_field :names, placeholder: "Add Contacts" %>
  <%= f.submit "done" %>
<% end %> <br>

<!-- all contacts of user -->
<% @contacts.each do |contact| %>
  <%= contact.name %> <br>
<% end %>
