<div style="min-width: 1040px;">
<div data-collapse="medium" data-animation="default" data-duration="400"
    class="navbar w-nav" style="position: relative;">
  <a href="/" class="brand w-nav-brand">
      <div class="logo-design" style="font-size: 17px;"> MYN - <%= @user.name if @user %> </div>
  </a>
  <nav role="navigation" class="nav-menu w-nav-menu">  
    <div style="float: right;">
    <%= link_to 'About Us', about_path, class: "header_btn" %>
    <%= link_to 'Pricing', pricing_path, class: "header_btn" %>
    <%= link_to 'Security', privacy_path, class: "header_btn" %>
    <%= link_to '2 Min Product Tour', product_tour_path, class: "header_btn_outer" %>
    <%= link_to 'Log Out', logout_path, method: :delete, class: "header_btn_outer" %>
    </div>
  <div class="w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
</div>
</div>


<div class="add_contacts_container">
  <p style="text-align: center; font-size: 24px; line-height: 1.38; margin-bottom; 40px; margin-top: 43px;"> 
    Add Your Contacts
  </p>

    <%= form_for :contact, url: create_many_contacts_url do |f| %>
      <%= f.text_area :names, placeholder: "Elon Musk, Boris Johnson, Ayn Rand, Noam Chomsky ... etc.", id: "add_contacts_field" %> <br>
      <%= f.submit "Add", class: "add-button w-button" %>
    <% end %>

    <% if notice %>
      <br> <br>
      <p style="text-align: center; font-size: 20px; line-height: 1.28;"> 
         <%= notice %>
      </p>
   <% end %>
</div>

<div id="settings_updated" class="notice">
  changes saved succesfully.
</div>

<div class="table_container">
  <div>
    <div style="display: inline-block; width: 230px; max-width: 230px; font-weight: bold; text-decoration: underline; padding-left: 60px;">
      Name
    </div>

    <div style="display: inline-block; width: 130px; max-width: 130px; font-weight: bold; text-decoration: underline;">
      This Month
    </div> 
  
    <div style="display: inline-block; width: 174px; max-width: 174px; font-weight: bold; text-decoration: underline;">
      Contact Intervals
    </div> 

    <div style="display: inline-block; width: 186px; max-width: 186px; font-weight: bold; text-decoration: underline;"> 
      E-Mail Reminders
    </div>
    
    <div style="display: inline-block; width: 166px; max-width: 166px; font-weight: bold; text-decoration: underline;"> 
      Tags & Notes
    </div>
    
    <!--
    <div style="display: inline-block; width: 112px; max-width: 112px; font-weight: bold; text-decoration: underline;">
      Online Scan
    </div>
    --> 
  </div>

  <% if !@contacts.empty? %>
  
  <% @contacts.each do |contact| %>
    <p style="margin-bottom: 42px;"> 
      <%= form_for :contact, url: update_contact_url(id: contact.id),
          method: (:patch), remote: true, authenticity_token: true do |f| %>

        <div style="display: inline-block; width: 234px; max-width: 234px; font-size: 15px; padding-left: 60px;"> 
          <strong> <%= contact.name %> </strong> <br>
          <span style="font-size: 12px;">
            <%= contact.profile.tags if contact.profile && contact.profile.tags %>
          </span>
        </div>

        <div style="display: inline-block; width: 132px; max-widths: 132px;">
          <%= f.check_box :this_month, checked: contact.this_month, style: "margin-left: 33px;",
              onchange: "click_submit_btn(this); return false;", class: "this_month_check_box" %>
          <%= f.submit "this month.", style: "display: none;" %>
        </div>
      
        <div style="display: inline-block; width: 170px; max-width: 170px;"> 
          Every
          <%= f.number_field :interval, value: contact.interval, style: "width: 30px;",
              onchange: "click_submit_btn(this); return false;", class: "interval_field" %> 
          Months
          <%= f.submit "set", style: "display: none;" %>
        </div>

        <div style="display: inline-block; width: 186px; max-width: 186px;">
          <%= link_to 'Set Reminder', new_reminder_path(content: contact.name),
              id: "set_reminder_btn" %>
        </div>

        <div style="display: inline-block; width: 166px; max-width: 166px;">
          <%= link_to 'Tags & Notes', "#", id: "manage_contact_btn",
              onclick: "display_comment_section(#{contact.id}); return false",
              style: "padding: 5px 22px;" %>
        </div>
  
        <div style="display: inline-block; width: 140px; max-width: 140px;">
          <%= link_to 'Follow-up done', update_last_contacted_url(contact_id: contact.id),
              method: :post, id: "manage_contact_btn", style: "padding: 5px 12px;" %>
          <span style="font-size: 12px;">
            <% if contact.last_contacted %>
              Last -
              <%= contact.last_contacted.strftime("%d %B") %>
            <% end %>
          </span>
        </div>
  
        <!--
        <div style="display: inline-block; width: 145px; max-width: 145px;">
          <%= f.text_field :email, value: contact.email, style: "width: 155px;",
              onkeyup: "click_submit_btn(this); return false;", placeholder: "contact's email" %> 
          <%= f.submit "set", style: "display: none;" %>
        </div>
        -->
      <% end %>
    </p>


    <!-- Tags & Notes -->
    <div id="<%= "comment_container_" + contact.id.to_s %>" class="note_taking_container">
    
      <div data-collapse="medium" data-animation="default" data-duration="400"
          class="navbar w-nav" style="position: relative;">
        <a href="/" class="brand w-nav-brand">
            <div class="logo-design" style="font-size: 17px;"> MYN - <%= @user.name if @user %> </div>
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">  
          <div style="float: right;">
          <%= link_to 'About Us', about_path, class: "header_btn" %>
          <%= link_to 'Pricing', pricing_path, class: "header_btn" %>
          <%= link_to 'Security', privacy_path, class: "header_btn" %>
          <%= link_to 'Go Back to Dashboard', root_path, class: "header_btn_outer" %>
          <!--
          <%= link_to 'Delete This Contact', delete_contact_path(id: contact.id), method: :delete, data: { confirm: 'Sure?' }, class: "header_btn_outer" %>
          -->
          </div>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div> <br> <br> <br>


      <%= form_for :profile, :url => create_or_update_profile_url(contact_id: contact.id) do |f| %>
        <p> <strong> Tags - <%= contact.name %> </strong> </p>
   
        <%= f.text_field :tags, placeholder: "your tags",
          value: (contact.profile.tags if contact.profile && contact.profile.tags), class: "add_note_field", style: "height: 30px;" %> <br> <br> <br>

        <p> <strong> Note - <%= contact.name %> </strong> <br> Relevant Info? <br>
        Work? Interests? Hobbies? etc. </p>

        <%= f.text_area :comment, placeholder: "...", 
            value: (contact.profile.comment if contact.profile && contact.profile.comment),
                class: "add_note_field" %> <br>

        <%= f.submit "save", class: "submit-button-2 w-button", 
              style: "padding: 2px 26px; margin-top: 18px;" %> <br> <br>
      <% end %>
      

      <%= link_to 'Back To Dashboard', user_account_path(current_user), style: "text-decoration: underline;" %> |
      <%= link_to 'Delete this Contact', delete_contact_path(id: contact.id), method: :delete, data: { confirm: 'Sure?' }, style: "text-decoration: underline;" %>
    </div>
  <% end %>


  <% else %>
    <!-- when there are no contacts yet -->
    <h3 id="empty_contacts_msg">
      <%= link_to 'Product Tour', "https://www.youtube.com/watch?v=Z9-01xCqYaI&feature=youtu.be",
            target: "_blank", id: "watch_explainer_btn", style: "padding: 15px 34px" %> 
    </h3>
  <% end %>

</div> 
