<%= link_to "Author's Dashboard", chai_dashboard_path, id: "dashboard_link" %> 

<div class="container-fluid">
	
	  <div class="central_container" style="border: 1px solid lightgrey;"> 		

	  	<div class="left_side_container"> 		
		    <% if @authors_settings.portrait_feature %>
	  			<%= image_tag "#{@image_of_author}", id: "profile_image" %>
			<% end %>
			<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h1 class="name_title"> <%= @name %> </h1>

			<% if @authors_settings.about_feature %>
				<h3 class="title"> <%= @authors_settings.about_title %> </h3>
				<p> <%= @authors_settings.about_content %> </p> <br>
			<% end %>

			<h3 class="title"> Posts <h3>

		    <% if @authors_settings.post_one %>
			<p class="post_title" onclick='show_piece("piece_zero");'> <%= @title1 %> </p>
			<p class="post_excerpt"> Based on Reedsy Prompt  ...</p>
			<% end %>

		    <% if @authors_settings.post_two %>
			<p class="post_title" onclick='show_piece("piece_one");'> <%= @title2 %> </p>
			<p class="post_excerpt">The Prestidigitator is based on ... </p>
			<% end %>

		    <% if @authors_settings.post_three %>
			<p class="post_title" onclick='show_piece("piece_two");'> <%= @title3 %> </p>
			<p class="post_excerpt"> Baikal of the Kurykans lies cold beneath  ... </p>
			<% end %>

		    <% if @authors_settings.post_four %>
			<p class="post_title" onclick='show_piece("piece_three");'> <%= @title4 %> </p>
			<p class="post_excerpt"> New moon, full dark, and Calli could ... </p>
			<% end %>
		
		    <% if @authors_settings.post_five %>
			<p class="post_title" onclick='show_piece("piece_four");'> <%= @title5 %> </p>
			<p class="post_excerpt"> “Clear!” The team leaned back ... </p>
			<% end %>

			<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
	  	</div>

<!-- START OF POSTS -->
<div class="post" id="piece_zero">
	<h1 onclick='show_default("piece_zero")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title1 %> </h3>
	<p>
Based on Reedsy Prompt: “ My heart is a thousand years old. I am not like other people.” With a quote as pretentious as this, we deserve to have a bit of fun. 
<br> <br>

Choose your own Adventure
<br> <br>

The truth is that you are in serious trouble. Some might call it a “catch 22” situation. Others might say that you are between a rock and a hard place. You don’t like to use those tired old clichés, so you simply say to yourself, “I am so screwed.” And of course, you are absolutely correct. You just found out that you are, “The Chosen One,” the one who is destined to save your people’s homeland or die trying. It is actually the “die trying” part that has you a little bit nervous right now. But even dying is not as bad as failure. Failure is not an option. But after you think about it, you can’t help but admit that failure is a real possibility. When you think about the Dark Lord and his demons set free to torture and kill the ones you love the most, you feel sick.
<br> <br>

You look at a crumpled picture that you carry in your vest pocket — a picture that tears your heart out. This picture is the reason that you agreed to that old wizard’s half-baked plan to save the Kingdom from the Spell of Summoning.
<br> <br>

Whose picture do you carry close to your heart?
<br> <br>

1-Princess Arboria, your secret love. If you fail, she will be forced to wed the Dark Lord and bear hideous, deformed half-human offspring. When His Royal Darkness tires of her, he will let his demons finish her off. Slowly.
<br> <br>

2-Prince Sylvan, your secret love. Even now, the Spell of Summoning has chained him between dimensions. Only his love for you is keeping him from going insane from the torment. If you fail, he will be torn from this dimension forever. Only his screams will remain.
<br> <br>

3-Your family. You may be The Chosen One, but if you fail, the Dark Lord will be sure to eliminate every trace of your bloodline, because sometimes these things are genetic. Knowing His Royal Darkness, He will enjoy the slow torture and death of every member of your family, even that cousin that you don’t particularly like, and definitely your parents and siblings.
<br> <br>

You trace the picture with your finger, and gently slip it back inside your vest pocket. Gritting your teeth with resolve, you try to find the courage that you will need to begin your quest. You know in your heart that only love can carry you through this journey, and only love will enable you to face your darkest fears.
<br> <br>

1-Your love for the slender, auburn haired princess with the emerald eyes will sustain you. But it is not Princess Arboria’s beauty alone that draws you like a moth to a flame. It is her passion, her wit, and her intellect that have won your deepest love. You know that you will fight for her no matter what the cost. Even so, you are afraid.
<br> <br>

2-Your love for the dark haired prince with the lithe, muscular body will sustain you. But it is not Prince Sylvan’s handsome visage alone that draws you like a moth to a flame. It is his passion, his wit, and his honor that have won your deepest love. You know that you will fight to free him no matter what the cost. Even so, you are afraid.
<br> <br>

3-Your love for your beloved family will sustain you. As the oldest child, you feel a deep responsibility for your younger siblings. They have always looked up to you, and you have never let them down. Your home has always been a place of joy, and even now you can picture your family gathering around the dinner table, tearfully setting out an empty chair for you. You know that you will fight to save them no matter what the cost. Even so, you are afraid.
<br> <br>

Everyone has dark, primal fears. What frightened you most as a child?
<br> <br>

1-I’m not gonna lie. Those flying monkeys from “The Wizard of Oz” made me hide in the bathroom and lock the door.
<br> <br>

2-Ummm…whatever lived under my bed. I still can’t sleep if my foot is hanging over the edge of the bed, I am pretty sure it will grab my leg and pull me under.
<br> <br>

3-Clowns. Nuff said.
<br> <br>

4-Spiders. Nope, nope, nope, nope, nope. That’s all.
<br> <br>

The bad news is that the Dark Lord studied Freudian psychology. Why did you admit your darkest primal fears? I hope you were lying about it, because it is time for some good, old-fashioned psychoanalysis. The Dark Lord is planning to use your fears against you.
<br> <br>

1-Your fear of flying monkeys reveals that you are intimidated by the unnatural, the fey, the creatures controlled by a powerful magic. This makes it highly likely that you will face creatures with sharp teeth, leathery wings, disturbing shapes, and magical powers. Lucky you.
<br> <br>

2-Your fear of monsters under the bed reveals that you are intimidated by the unknown, the occult, and the demonic forces of the underworld. This makes it highly likely that you will face creatures who hunger to drag you down to hell, overcoming you with darkness and overwhelming force. Lucky you.
<br> <br>

3-Your fear of clowns reveals that you are intimidated by your own fragile mind, and you are easily overcome by deceit, and illusion. This makes it highly likely that you will face psychological torture, terror, and trickery. Lucky you.
<br> <br>

4-Your fear of spiders reveals that you are intimidated by the idea of losing control — of being eaten away either physically or mentally (okay, probably both). This makes it highly likely that you will face foes that terrify you mentally as they overcome you slowly and methodically. Lucky you.
<br> <br>

Okay, so you have a few fears, so what? You probably also have a trick or two up your sleeve. The best way to fight the Dark Lord is to use your strengths and skills against him. You figure that it is a good time to take inventory of your abilities. Think about it for a minute — what can you bring to the table in this whole good versus evil prophecy thing?
<br> <br>

1-I have a lot of speed and agility. In my village, the tumbling troupe came to entertain us every Spring. I spent lots of time among their wagons, picking up special skills like flips, jumps, and feints. This makes me very good in a close fight with personal weapons. I can get in a quick strike and escape from attackers, maybe even swinging up on a rope, a tree, or a ladder to get out of sight fast. My special weapon is a rope, and I can use it to make a weapon, a trap, or an escape.
<br> <br>

2-I am a lot stronger than I look. Working out in my father’s fields built up my endurance and power. I can swing a broadsword single-handed, either left or right. Using the hoe and the axe gave me a sense of balance that is pretty remarkable. I am great on narrow ledges or rocky terrain, because I never fall. My special weapons are the mace and the nunchucks, because I can swing them hard and balance them perfectly. But pretty much any heavy steel weapon works for me.
<br> <br>

3-I am pretty smart, I am not going to lie. I grew up near the forest, and I studied every type of plant and mineral. I know how to make poisons, and I know how to create fires and explosions. My special weapon is a small knife, flint and steel, and a bag. If you let me loose in the forest, I can make my own weapons depending on the circumstance.
<br> <br>

4-Strengths? Skills? Not that I am aware of. I have exactly zero idea why I am “The Chosen One.”
<br> <br>

I hope you remember that the Dark Lord is listening. You didn’t give away your strengths, did you? If you did, you are not as smart as you imagined, because now he knows what he is up against. The Dark Lord is not an idiot. That is how he got to where he is today, you know. He is the ruler of the underworld and the leader of the demonic legions of darkness for a reason. If he were evil and stupid, chances are good that he would be the Dark Loser, or the Dark Dead Guy or something.
<br> <br>

Well, that is neither here nor there at this point. The time has come to prepare for your quest. You know that there is a certain old wizard who must have a few of the answers you are looking for. It is time to seek him out. Did I mention he is old? Wizards are only human, and to be completely honest, you suspect that the wizened mage-druid with the long white beard is one french fry short of a happy meal. But like Obi Wan Kenobi, he is your only hope. What questionable advice do you get?
<br> <br>

1-You get some baffling poem type of thing that is literally impossible to decipher. The old wizard’s eyes seem to glow as he chants the words, and you try to remember them. But in actual fact you suck at remembering poems. So you make up a little jingle and sing it. The wizard slaps you for your insolence. When you ask him what the poem means, he is not forthcoming. He gives you some lame song and dance about how you will “know only when you are meant to know,” but that only pisses you off.
<br> <br>

2-The old wizard rummages through a chest that is filled with arcane objects. He pulls out an ancient key, kind of like one of those skeleton key things with the prongs at the end. It is on a red ribbon, so it can be worn around your neck. You don’t really want to be rude, but you notice an uncannily similar key hung up next to the old guy’s door. Did he just give you his house key? When he drones on about some sort of “magical door” crap, you just keep nodding as you slowly back away. The guy is clearly nuts.
<br> <br>

3-There is a fire in the wizard’s humble abode, and above it, a cauldron bubbles, emitting vapor into a series of glass cooling tubes. Awesome, it is a still! The old man isn’t daft, he’s drunk. Or maybe he is a daft drunk. Either way, you don’t care. The wizard fills a flask with golden effluent from the still. He claims that the liquid is, “magical.” You kind of believe him. You really hope the Dark Lord is a drinker.
<br> <br>

4-You arrive at the druid wizard’s home in the forest. Something seems — -off. Your horse whinnies nervously. Animals know shit, and you are certain that your horse is no exception. When the door is open, the hairs on the back of your neck stand up. The old man is dead. Demons. The overwhelming smell tells you that they are not far away. You grab the wizard’s cloak, bag, and staff, and get the hell out of there as quickly as possible, whispering a brief prayer for the wizard’s soul.
<br> <br>

You are hell bent on finding the Dark Lord and stopping him from summoning more demons through the cleft in the world. Hell bent — get it? The Dark Lord lives in Tartarus, surrounded by his evil minions. After riding for days across some jagged mountain peaks that are called, “The Dragon’s Teeth” or “The Spine of the World” or “The Spires of Doom” or some equally sinister name evocative of scary dangerous places of the type that you typically find in fantasy novels, you suddenly realize that you have no freaking clue where you are going. Plus, you are hungry. Why didn’t you pack some hardtack or something? Just as you begin to hear the howling of direwolves, you are relieved to see a simple farmhouse. You are too stupid to wonder what a simple farmhouse is doing out in the middle of freaking nowhere, so you decide to stop and ask for directions.
<br> <br>

1-Big mistake. Inside, the Dark Lord sits, grinning an evil grin as his red eyes burn like coals. Ruh roh.
<br> <br>

2-Huge mistake. The Insane Clown Posse is waiting inside. They grab you and throw you into a big sack.
<br> <br>

3-Major mistake. Inside the house is a dark vortex, spinning into nothingness. You are sucked into another dimension. Well that pretty much blows.
<br> <br>

4-Spiders. The house is filled with spiders.
<br> <br>

What the actual — okay, congratulations. You have just been dragged down to hell. Are you happy now? You better come up with some sort of plan, and fast. You can see a jagged tear in dimensional space, and you understand that the summoning will rend the opening even wider. Beyond the rift you can see hideous, leathery, iron-clawed, yellow eyed, demonic forms writhing. They look hungry. Hungry for human souls. What are you going to do? You do have a plan, right?
<br> <br>

1-Of course you have a plan! You start to recite an ancient poem. You aren’t sure if it is exactly the same poem that the wizard taught you, because you didn’t actually write it down. Typically, these lines tend to show up in italics below the chapter heading, but you forgot that this is not a fantasy novel, this is real life. Then you remember the song you made up. You start to sing. The demons become further enraged, because your voice sucks.
<br> <br>

2-So the Dark Lord thinks he can summon his demon ass minions, does he? Well eat my key. You start to wave the key in the air, mumbling something about a “magic door.” Nothing happens. Well, that was awkward.
<br> <br>

3-You see some large, lumbering demons coming at you. Perhaps an intoxicant will keep them at bay. With a wink and a flourish, you uncork your golden flask of spirits. But first, you can’t help tasting it yourself. The liquid slides down your throat like honey on fire. Mmmm, so good. But what is that strange feeling? Is it lust? You realize too late that you have just swallowed a love potion and suddenly His Royal Darkness is looking pretty damn hot. Is it warm in here?
<br> <br>

4-The wizard’s staff! It is made of hawthorn. You wield it above your head as you cast the bag of potions towards the rift. The demons catch the bag after you make a perfect throw through the jagged dimensional tear. Turns out the old man’s bag was filled with magic mushrooms from the forest. The demons are tripping, and they are even more eager to eat your soul. That didn’t turn out as planned.
<br> <br>

You are filled with terror and hopelessness, acutely aware of your pending demise. The agony of the loss of all that is dear to you fills you with despair. You scream with rage and pain. Of course that moment of stress is the very thing that unlocks your latent magical gifts. Turns out you just had to get really upset and emotional before the “Chosen One” magical gene kicks in. Your magic is untrained, but that doesn’t really matter because you are able to shoot large glowing balls of white fire at the rift, searing it. It takes all of your strength, but you are able to close the rift with your magic. The Dark One vaporizes, and his minions disappear into the void. You have won! But you collapse with exhaustion, your magical abilities spent. You wake up inside the King’s castle, surrounded by your family and friends. The Kingdom is saved! But you wonder what happened after your collapse in hell. You don’t remember anything.
<br> <br>

1-Princess Arboria steps forward, kneeling at your bedside. Tears tremble on her lashes. She has never looked more beautiful. When the curse was broken, she was freed from the Dark Lord’s dungeon, and she charmed all of the forest animals to help carry you for many days back to the kingdom, where she nursed you back to health. The King offers you her hand in marriage.
<br> <br>

2-Prince Sylvan steps forward, kneeling at your bedside. He touches your cheek with his strong hand, and his dark eyes seem to penetrate your soul. You can feel his longing, and his relief that you have finally awakened. When the curse was broken, his chains fell away, and he fought his way through the remaining creatures of the dark to rescue you from hell. He carried you on his broad shoulders for days, then he nursed you back to health. He asks for your hand in marriage.
<br> <br>

3-Your siblings step forward, cheering adorably. Your parents have tears of joy running down their faces. The wizard rescued you from hell, and with the last of his strength, he created a spell of healing to bring you back from the brink of death. You had almost died when you expended all of your magic and collapsed after saving the kingdom. He gifts you his Hawthorne staff, and claims that you are the new wizard of the kingdom.
<br> <br>

4-You still kind of have the hots for the Dark Lord. That potion didn’t wear off yet. But the demented old wizard does not have an antidote. It is going to be a very long day.
<br> <br>

You soon realize that the interaction with the dimensional rift has given you an unusual gift. You can feel time. The loves and sorrows of a millennium twist and swirl through your heart. This gives you wisdom far beyond that of ordinary people. It is with a sense of duty that you finally accept your role as the Chosen One. You lead the people with magic, teaching them the binding spells to prevent demons from entering the world of man ever again. You decide on a theme quote:
<br> <br>

“My heart is a thousand years old. I am not like other people.”
<br> <br>

People think that you are kind of a douche to say something like that, but you don’t care. After all, you are the Chosen One.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_one">
	<h1 onclick='show_default("piece_one")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title2 %> </h3>
	<p>
The Prestidigitator is based on the prompt: You are a professional hoax-buster
<br> <br>

You are a professional hoax-buster 1–3k words
<br> <br>

The Prestidigitator
<br> <br>

I’m a professional prestidigitator. Finger flicker. Sleight-of-hand is my one and only talent, and this time, for once, it was actually on the up and up — well, not that I had much choice. Las Vegas is a bitch, and unfortunately for me, cameras never lie. So yeah, I know all about those little confidence games, because I have seen it all, and done it all too — better than most. Like I said, I’m a professional. Sorry, I have a case of nerves. Talking too fast. Rambling again.
<br> <br>

Do you have a cigarette? No? Okay, I’ll take two fingers of scotch, neat. Thanks.
<br> <br>

So anyway, I made mistakes. Cameras. After I got out of prison, I was working cocktail events, doing close-up work for tips. The hand is quicker than the eye, and the tourists love me. Because of my history, I’ll never be a headliner in that town — and yeah, it’s my own damn fault. I was too eager to make a quick buck. But I’m clean now, and I do get enough work to pay the bills. It was after one of my shows that he came up to me. There was something about him, I couldn’t place it. He wanted to know my secrets.
<br> <br>

Of course, everybody knows that we magicians are a brotherhood. We have a code. Indocilis privata loqui, and all — every magicians’ fellowship has an oath that goes something like that. We don’t share trade secrets. So this guy, he was pissing me off. But like I said, there was something about him. It was the eyes, I think. Most people follow your misdirects, they play into the illusion. But this guy wasn’t looking at my fingers, he was watching my face. Then he gave me his card, and told me that he was looking to hire a magician.
<br> <br>

When he mentioned the figures he was willing to pay, I knew it was a red flag, if you know what I mean. Sure, I should have walked away, but I needed the money. Hiring illusionists to debunk spiritualists and shamans is something that has gone on since before Egypt, even. That’s why I had to steal the book. I didn’t steal it, exactly, I borrowed it.
<br> <br>

You didn’t know about the book? Shit. I guess I incriminated myself there, but you might as well know. I mean, there isn’t any reason for me to lie about that, too. I mean, what’s the point? Right?
<br> <br>

That book is the oldest magic book in the world. What I mean is that it is the first book that showed how magic tricks were done. Of course there have always been hocus pocus occult type books, but The Discoverie of Witchcraft debunked the whole idea of witches and demons by exposing how some of their tricks were done. The guy who wrote it was trying to prove that witches weren’t real. Hey, it was 1584, so he didn’t have much luck enlightening the masses, but he did set a precedent. If you want to smoke out a hoaxer, call a professional magician. And sometimes it really helps if the magician is an ex-con.
<br> <br>

So anyway, it turns out that King James I had all of the copies of The Discoverie of Witchcraft burned, so there are precious few of the original printing. The author made enemies in high places. It turns out that the book exposed some pretty shady tricks, like the legend of the incubus. It turns out that the incubus was just a convenient cover-up for rape. The incubus demon would take a human shape before attacking a woman in her own bed. Clever, right? The devil made me do it. Hey, some people will believe anything.
<br> <br>

So yeah, I went to Yale. Not as a student, obviously, but anyway, they had a copy of this book in their rare book library. Had being the operative word. I needed that book. I needed an original, first printing. It’s very hard to get. So I lifted it.
<br> <br>

Yes, it’s safe. I was going to bring it back. Damn, give me a break. Got a refill on that scotch? Where am I, anyway? This doesn’t look like the town lock up. An inn? Well, it’s a period piece, for sure. This place looks colonial to me. Wood floors, cold drafts, the works, right? Salem’s a hell of a change from Vegas.
<br> <br>

But anyway, the book was in New England, so it was on the way to the job. I flew to JFK, rented a car, and drove up 95. I already had the first half of my payment wired to an offshore account. Caymans. Yeah, I know how that sounds, but this guy said he had his reasons, and I didn’t ask what those reasons were. Maybe I didn’t want to know. But anyway, he told me that he would find me when I got to Salem. Then he told me about Tezcatlipoca. The Aztecs thought he was the god of obsidian and sorcery.
<br> <br>

So by now I guess you are all wondering what the hell Salem has got to do with some Aztec bullshit, right? I did not steal Cortes’s spirit mirror. I swear. I don’t know how it got there. But I do know a little bit of the history behind it. A magician by the name of John Dee was the one that stole it, like 500 years ago. He was this English guy, and he got this obsidian mirror from Mexico. In the old language, it was called the “smoking mirror.” He started to hold séances at the same time that this guy Reginald Scot was writing The Discoverie of Witchcraft. These dudes were sworn enemies.
<br> <br>

Can I ask you a favor? Is there a King James Bible in that drawer? If you wouldn’t mind, I would just like to hold it. I just want to, okay? No reason.
<br> <br>

So yeah, King James I, the King James, who is he going to believe? Is he going to believe Scot, or is he going to believe Dee? I’ll give you three guesses. Okay, just two. But you’re right. The King believes in magic. The dark kind. So it turns out that King James wrote this book called, Daemonologie. It is what you think it is. And this book had sections on necromancy, sorcery, and ghosts. And of course how to punish the witches. This book isn’t rare, didn’t get burned. It seems that some of the early settlers to Salem had Daemonologie on their shelves right next to their King James Bibles.
<br> <br>

So you wonder what I was hired to do? Well, I’m the prestidigitator. I was hired to prove that Daemonologie is a crock of bullshit. Just a bunch of tricks from a professional magician, like myself. You know, illusions for the gullible. That’s why I had to get my hands on that other book. It was kind of like, dueling ancient books of witchcraft, if you get my drift.
<br> <br>

I know, you all are Salem’s finest. You boys probably get all kinds of nutcases and kooks around here. You’re not? FBI? Shit, man. But I swear, you all are questioning the wrong guy. Do you have any chalk? I really need some chalk. Thanks. And I really need to know, where is that damn Aztec obsidian? The lady from the Harvard Museum of Natural History? Does she have it? I don’t want to sound like a crackpot, but can you contact her? Just let her know to, well, just ask her to please cover it. Don’t look at it. Yeah, just please do it. Can you text her? Thanks, man. I mean, she is a pretty lady, might look into it. See her reflection. Just humor me for god’s sake.
<br> <br>

It’s getting dark out. You guys from DC then? Always wanted to go visit the J. Edgar Hoover Building. No, of course not, I just said that because I am nervous. Scotch took the edge off, but still. It’s getting dark. Look, I’m not asking to call a lawyer or anything, I’m just asking you to give me a second with this chalk. Yes, yes exactly. I am going to demonstrate exactly what I did inside the Corwin house. I think you will find this helpful. Please, just give me a moment.
<br> <br>

It’s a circle. Just a circle here. I’m just going to draw it with myself inside of it. Me and the Good Book, the King James Bible and me inside, that’s all. Am I a suspect in the deaths? Just tell me that, first. I’m innocent, by the way. Look at my hands. My fingers, they are long and slim, like I said, I am a finger flicker, not a killer. Petty thief, yes. But you know, don’t you? You know there is no way on Earth that these hands could do — what was done to those people. No way on Earth. You know that I didn’t do it. No — human — did that.
<br> <br>

Yes, this is what I drew. These symbols, they are religious symbols. Good symbols. They are symbols that keep the dark out. This is exactly how I drew it, and then I recited the incantation in the book, the one to consecrate the circle. I never did touch the obsidian. Hell, I didn’t know it would be there. Necromancy, I didn’t believe it. It’s all smoke and mirrors, and ventriloquism. But that changed, and it wasn’t me, it was Tezcatlipoca, no matter how fucking insane that sounds. I saw it happen.
<br> <br>

But you already knew that, didn’t you? That is why I am here at this empty old inn, and not in the lockup, isn’t it? Because you do believe me, not because you don’t believe me. You aren’t really questioning me, are you? You know. You know what happened. Oh my God. You do know.
<br> <br>

I swear, you can trust me. I am a magician. A magician, for god’s sake. We have a code of secrecy. Indocilis privata loqui. You know what that means, right? It’s Latin. It means, “Not likely to disclose secrets.” I swear to god I am not likely to disclose secrets. It’s my brotherhood. I’ll take this secret to the grave for you, just let me go. Please. I swear.
<br> <br>

That woman from the museum, she doesn’t have the real obsidian mirror, does she? Oh my god, you gave her a fake. You don’t know what you are doing. Put it away. Please. Don’t.
<br> <br>

Which ground I take for my proper defence — please put the mirror back in the box, I swear I won’t tell.
<br> <br>

From all malignant spirits — don’t use the summoning. Please! You don’t understand the risk!
<br> <br>

That they may have no power over my soul or body, nor come beyond these Limitations — God help me.
<br> <br>

* * *
<br> <br>

Salem’s finest were responding to another call. Another day, another hoax. But they were used to it. This time, the call was for an abandoned inn, a nice colonial era place that was closed for renovation. One of the neighbors claimed they had seen some smoke. Probably teens out partying.
<br> <br>

“Hey, Ben, over here.” A stocky, older man with thinning hair and a utility belt cinched around his waist motioned for his partner. “Looks like there was a fire. Very — localized.”
<br> <br>

“That’s odd.” The younger man followed his partner’s lead. “Looks like the fire took out just one room. Let’s get a closer look.”
<br> <br>

It was true. The old inn was completely intact except for a single room, which had been burnt so thoroughly that the windows had melted.
<br> <br>

“Look here,” Ben said. “What do you make of this, Mack?” He pointed to the ground.
<br> <br>

“Damn.” The older man ran his hand over his balding scalp. “What the hell?”
<br> <br>

All that remained of the wooden floor was a circle. It was outlined with chalk. Inside the circle, the wood had not been burned at all. In the middle of the circle was a glass with a small amount of amber liquid at the bottom. Mack leaned over to pick it up.
<br> <br>

“Hmm.” The policeman swirled the liquid, sniffing it. “Smells like whiskey,” he said.
<br> <br>

Somewhere on Grand Cayman, a man with slender, trembling hands held a King James Bible. He slipped into a George Town bar and sat at a small table out of the line of sight. He ordered the usual, and started to read, like he did every night. All night. On the worn floor beneath him, there was a faint circle, drawn with chalk.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_two">
	<h1 onclick='show_default("piece_two")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title3 %> </h3>
	<p>
Baikal of the Kurykans lies cold beneath the canopy of stars;
<br> <br>

Climbing oceans of inverted sky, we sojourners bear the crescent
<br> <br>

moon in a boat; the jagged breastbone of the earth cloven deep
<br> <br>

and luminous beneath the pale and stellate glory of the Milky Way.
<br> <br>

Cronus of the Greeks consumes his children, lest they ascend
<br> <br>

from Earth or Tartarus; and we are exiles from a distant place.
<br> <br>

The lakes of Titan are cold, and absent water, reflect only black.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_three">
	<h1 onclick='show_default("piece_three")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title4 %> </h3>
	<p>
Collaboratively written with: Michael Riley, Gunjan Karun, Shreya Parashar, Luciano Aldana II, and Jake
<br> <br>

“There was nowhere to go but everywhere, so just keep on rolling under the stars.” — Jack Kerouac
<br> <br>

New moon, full dark, and Calli could not believe that she was finally at Deep Sky West, a little observatory in the middle of nowhere. There was no light pollution here, and the sky was alight with stars.
<br> <br>

It was funny how sometimes you need absolute darkness to finally see the light, she thought. Of course she wasn’t thinking about the sky. Her recent divorce had left her all alone in a condo in Greenbelt, MD, working at the Goddard for not a lot of money. But she had finally seen the light.
<br> <br>

The trip to Deep Sky was a treat, and she had earned it. It was hard to see the night sky in suburban Maryland, with so much glare that it was impossible to see anything other than maybe the big dipper, and Orion if she was lucky. Definitely no to the Messier objects, or anything deep space at all.
<br> <br>

It was ironic that Calli, an astrophysicist who loved the night sky, was stuck working the Earth satellite. She saw big splotches of light all around the globe, except North Korea and patches of Africa. But it was a job. And she had her laptop with her, showing the lights of Earth. The satellite was currently trained on the West Coast, and LA was in view. The light pollution there was terrible.
<br> <br>

Calli was setting up her telescope when suddenly the lights over LA went out. That’s strange, she thought. Something bad must have happened.
<br> <br>

She grabbed her phone and hopped on Twitter to see what was happening. It was a massive earthquake that knocked the power out for the entire city. People were freaking out.
<br> <br>

Per protocol, she called her boss and let her know what was going on. She felt badly about what had just occurred, but it was out of her hands. She said a quick prayer and continued gazing into the stars. And just like that she floated into her childhood…rather a part of the childhood that she had tucked away safely, somewhere.
<br> <br>

Calli, before being adopted by her parents when she was seven, had spent many a nights in the small village of Azerbaijan and electricity largely played hide and seek there. She had spent many a nights on the thatched roof of her uncle, watching stars.
<br> <br>

But the aliens did not care about all this. The small spinning rock hidden behind the moon, too small to be detected by the asteroid detection satellite grid ignored it as space debris. The two aliens that were now on every device across the earth, looking into the cameras and us looking back at them.
<br> <br>

The greys had arrived, and there were no flowers in their hair. Facial expressions were non-existent. Finally, their looks confirmed, just as we imagined, grey with big eyes, and oval head. Despite their differing in their appearance, they really were just like us. They had dreams. They had fears. They had goals. Unfortunately for us, this pair had their sights set on earth. This was their frontier and they were conquerors.
<br> <br>

When Calli saw New York go dark on the land sat, she knew that it was more than just an earthquake. Holy shit. The power grids were not connected between the coasts. Could it be an EMP? She just didn’t know. She waved over the other stargazers from Deep Sky. All of them were smart, all of them knew something of engineering, physics, astronomy, and the like. Maybe between the seven of them they could figure out what was going on. Calli called Goddard, but nobody answered. NO answer at Goddard? Now she was terrified. She knew it was something that this earth had never seen before, but she didn’t even consider the idea of aliens. That was way too far out. That was something out of a science fiction novel, it wasn’t something real.
<br> <br>

One by one, the lights went out around the globe. Light pollution would be a thing of the past. Calli and the others at Deep Sky West knew that this was unprecedented — the beginning of the end. When she saw the greys on her monitor, she finally understood. Should they try to survive, or just wait for the inevitable? Calli decided. She decided to walk. Just walk, under the brightness of the stars.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_four">
	<h1 onclick='show_default("piece_four")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title5 %></h3>
	<p>
“Clear!”
<br> <br>

The team leaned back, lifting hands up and away from the slim chest that lay ashen beneath a tangle of wires and conductive gel electrode stickers. The defibrillator whined as paddles charged, and then released their stored energy with a loud clunk. The patient’s core temperature had been rising with aggressive use of warming blankets and heated IV fluids. She’s not dead until she is warm and dead — at least that is what everyone on the team had learned about cold water drownings. They would not call the code until the core temperature was normal. There was still a chance.
<br> <br>

“Is there a pulse?”
<br> <br>

The team leader pressed his fingers gently into the shallow cleft outlined by the sternocleidomastoid muscle, just to the side of the young girl’s slender neck. Damp blonde hair, darkened by moisture, clung in strands to the pale skin of her face, contrasting with the dusky blue fullness of her lips beneath the clear plastic of the bag valve mask.
<br> <br>

Before the team leader could reply, the girl’s chest rose slightly, and a ragged inspiration followed by a spasm of a cough shuddered through her body. Her eyelids fluttered, then flew open, revealing blue eyes that struggled briefly to focus before closing again. The girl was alive.
<br> <br>

“No, that is not the way to start a story.” The professor paced back and forth in front of the whiteboard, waving a dry erase marker in the air like a weapon, stabbing at invisible enemies. “Story has structure. Even the shortest story has a beginning, a middle, and an end.”
<br> <br>

The professor stopped to look at the student who had been reading aloud from his short story assignment. He ran his marker-free hand through his unruly dark hair, revealing a few strands of gray at the temples. The professor was definitely in the middle of his own story — no longer young and handsome, and not yet distinguished. Those who cannot do, teach, the student thought. He was well aware that the professor was still working on his Great American Novel, but so far he didn’t have much more than a few short stories in literary journals with readerships that didn’t extend much beyond the desperate writers who submitted to their slush piles.
<br> <br>

It was winter in Michigan, and a recent cold snap had frozen the lake into something resembling an opaque white table. Alabaster ice. The wind had died down and the sun was out, breathing vibrant life into the dead fields and barren trees. She was bundled up, of course, but a brisk walk with her energetic black lab was likely to generate plenty of heat. The sun fell like warm gold on her upturned face as she breathed in the freshness of the frosty air.
<br> <br>

Nero was just an overgrown puppy, straining heavily at the leash as he wagged the entire back half of his body. He jerked forward, pulling his human out over the frozen ground through the dusting of snow. Cassandra laughed and jogged after him, sliding precariously on snow that had melted slightly in the afternoon sun. Of course there would be a squirrel. Nero’s leash flew from her hand as he leaped forward to give chase. As her beloved pet dashed out onto the icy lake with his leash dragging behind him, Cassandra did not think twice.
<br> <br>

The student’s next class was literary criticism, taught by a slim, almost skeletal older woman with white hair cut into a neat bob. She was definitely an acolyte of deconstructionist theory. The student slumped back into his chair. Stories have a beginning, a middle, and an end, he thought. Or maybe they don’t. He rummaged through his pack, and pulled out a blotter and a bottle of visine. Gets the red out. The student grinned at his own humor. He carefully expelled a drop of visine onto the blotter, and pulled out his lower eyelid, dropping a hit of acid into his conjunctival sac. It burned, but hell yeah. That didn’t really matter, and neither did beginnings, middles, or ends. He was already tripping.
<br> <br>

The heat and blinding brightness of the sun reflected from dun colored baked brick at Etemenanki. The high priest felt sweat trickling down his neck behind his plaited beard, and the smell of camel was thick in the folds of his heavy ceremonial robes. The tar joined steps gleamed with shimmering waves of heat, a mirage that gave the appearance of an icy body of water. A lake, perhaps. Or a deep pool with a surface gently rippling in the breeze, deep enough for drowning. A well by the ziqqurat in Babil of Akkad. A real body of water was nowhere to be seen in the desert space between the two rivers that formed the plains of Shinar. The priest was a demigod, the son of a temple prostitute. Surely he would be able to extend his reach into the heavens. If his father did not offer his approval, he would take it by force.
<br> <br>

Ayao ata ohuaye! The place of the flowering tree was called, “Tlalocan,” the place of the afterlife for those who die by water. Amoxtli was a princess. Her father had given her a name that meant, “book,” but after his capture, she knew that her story was finished. She bowed her head, allowing a smooth curtain of shining black hair to cover her nakedness. She stood in front of Tlaloc’s well, and was entranced by the stunning blue of the waters beneath. Her skin was cooled by a gentle breeze that lifted the delicate petals of fragrant flowers and raised gooseflesh on her arms. Chains of pure gold, warmed by the sun, felt heavy around her neck. It would weigh her down, beneath the crystal waters to the black depths of icy cold beneath. As she fell, she could feel the first drop of rain.
<br> <br>

Cassandra ran, chasing Nero. She didn’t see the feathering of a fault as it shot through the ice. She only heard a crack, like a gunshot. Cassandra slid to a stop, confused. Had someone fired a gun? She didn’t understand what was happening until her foot was submerged beneath the icy waters of the lake. Her arms flailed like windmills, sending her favorite knit cap sailing and releasing a cascade of blonde hair that floated like a thousand breaths in the sunny sky before following Cassandra’s body beneath the ice.
<br> <br>

She re-read the poems of Qu Yuan. Li Sao, encountering sorrow, resonated in the emptiness of her chest. The bag had been stolen from the temple, but someone would find it. Ying Yue reverently brought the jiaobei from the soft leather pouch. They were decorated with fine red lacquer, shaped like crescents. Would the answer be shengjiao or nujiao? Or perhaps the moon blocks would not grant such a clear oracle. The position of the blocks were signifiers, and they might say yes, or no — or perhaps the gods would laugh at the question. But maybe she didn’t need to know their answer. Just once, she would answer for herself. It would be her voice, and the words would mean whatever she wanted them to mean. She cast the oracles, though, if only to defy them. Picking up a stone, she waded into the icy cold waters of the Miluo.
<br> <br>

There were golden water dragons, and a fiery feathered serpent. They exploded into a rain of twisting color, and lit up the ocean into a million spiraling lights. The water was cold, cold enough to extinguish sensation in a blaze of burning shards of ice. The mouths of fish and of beautiful girls formed delicate “O” shapes in soundless gasps for air, submerged. Unheeded oracles fell from the lips of a thousand Cassandras. Words didn’t mean anything. Stories had no end. The languages exploded from the tower of Babel into an infinite play of signifiers.
<br> <br>

The medical team rushed into the classroom, pulling a gurney with strong, black straps. The student was on the floor, shaking and twitching, back arched in a rigor of opisthotonus. The team leader knelt, and gently cradled his head in both hands.
<br> <br>

“He’s seizing, let’s get IV access, STAT!”
<br> <br>

The team transferred the student onto the gurney, sliding a large bore IV into his antecubital space. The slim, elderly professor shook her head. “I don’t know if he has any medical problems,” she said. Her whole body was shaking. She didn’t have any words for the emotions that flooded her like a punch in the gut. Some things were real. Some words needed to be communicated and understood.
<br> <br>

“There’s a blotter on the floor,” the paramedic said. “Probably an overdose.”
<br> <br>

The team leader shook his head. “That’s a bad acid trip. His blood pressure is through the roof.”
<br> <br>

The EMS team rushed the student into the ambulance, heading for the ER. It was pretty routine stuff for them, but it was always unsettling to see young people getting into some bad acid or some heroin cut with fentanyl. The paramedic grabbed the backpack, found a wallet and a cellphone, and left the rest behind. He didn’t want the kid to be a John Doe. It would be up to the doctor to phone the family later, thank God that isn’t my job, he thought.
<br> <br>

On the floor, on a piece of typewritten printer paper underneath the desk, Cassandra awoke. Every story has a beginning, a middle, and an end.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>
<!-- END OF POSTS -->


	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
	
			<% if @authors_settings.email_subscription_feature %>
			<div class="functionality_container">
				<p class="functionality_title"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
					<%= f.submit "done", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
			<% end %>

			<% if @authors_settings.social_icons_features %>
			<div class="functionality_container" style="margin-top: 60px;">
				<p class="functionality_title"> My Social </p>
				
				<% unless @twitter_link.empty? %>
				<a href= <%= @twitter_link %> target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px;"></i>
				</a>
				<% end %>

				<% unless @medium_link.empty? %>
				<a href= <%= @medium_link %> target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; color: black;"></i>
				</a>
				<% end %>

				<% unless @fb_link.empty? %>
				<a href= <%= @fb_link %> target="_blank">
					<i class="fab fa-facebook" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<% end %>
			
			</div>
			<% end %>

			<% if @authors_settings.contact_feature %>
			<div class="functionality_container" style="margin-top: 40px;">
				<p class="functionality_title"> Contact Me </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: " your message",
							style: "width: 170px; height: 100px;" %> <br>
				    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
					<%= f.submit "send", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
	  		<% end %>
	  	</div>
	  </div>

	  </div>

</div>


<script type="text/javascript">
	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("middle_container").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url(<%= @background_image %>) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
