<%= link_to "Author's Dashboard", jones_dashboard_path, id: "dashboard_link" %> 

<div class="container-fluid">
	
	  <div class="central_container" style="border: 1px solid lightgrey;"> 		

	  	<div class="left_side_container"> 		
		    <% if @authors_settings.portrait_feature %>
	  			<%= image_tag "#{@image_of_author}", id: "profile_image" %>
			<% end %>
			<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h1 class="name_title"> <%= @name %> </h1>

			<% if @authors_settings.about_feature %>
				<h3 class="title"> <%= @authors_settings.about_title %> </h3>
				<p> <%= @authors_settings.about_content %> </p> <br>
			<% end %>

			<h3 class="title"> Posts <h3>

		    <% if @authors_settings.post_one %>
			<p class="post_title" onclick='show_piece("piece_zero");'> <%= @title1 %> </p>
			<p class="post_excerpt"> When you’re seven, surrounded by family members  ...</p>
			<% end %>

		    <% if @authors_settings.post_two %>
			<p class="post_title" onclick='show_piece("piece_one");'> <%= @title2 %> </p>
			<p class="post_excerpt"> “If you see something, say something.” ... </p>
			<% end %>

		    <% if @authors_settings.post_three %>
			<p class="post_title" onclick='show_piece("piece_two");'> <%= @title3 %> </p>
			<p class="post_excerpt"> The Spanish Moss looms over  ... </p>
			<% end %>

		    <% if @authors_settings.post_four %>
			<p class="post_title" onclick='show_piece("piece_three");'> <%= @title4 %> </p>
			<p class="post_excerpt"> Can this be the end? ... </p>
			<% end %>
		
		    <% if @authors_settings.post_five %>
			<p class="post_title" onclick='show_piece("piece_four");'> <%= @title5 %> </p>
			<p class="post_excerpt"> Many times in life we are  ... </p>
			<% end %>

			<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
	  	</div>

<!-- START OF POSTS -->
<div class="post" id="piece_zero">
	<h1 onclick='show_default("piece_zero")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title1 %> </h3>
	<p>
When you’re seven, surrounded by family members, trapped in a dusky surrealistic world, the desire to wander away from the darkness is strong. But where will you go? And how long will it take? 
<br> <br>
I heard Jenny left him. Wayne told me that. He watched her get in the car, back it up into the street, and while it was still moving backwards, she slammed it into drive, squealed the tires and was never to be seen again. Later Steve showed me a postcard from California that she sent. Claims she had an uncle out there. She left with their daughter and most of their bank account.
<br> <br>
Steve was at the marina the day she went AWOL. Anyone who just gets angry, leaves, and robs a man of his child, money, and meaning of life is absent without leave. Divorce is permission to leave. But running? From what? Steve didn’t seem all that bad to me. He worked on One For All, his boat, most of the time. Kooky name for a boat I think. But that don’t make ’im a major sicko. Last day I saw him, he kept insisting he had to make sure she was ready. Ready for what? I don’t know. Wasn’t long after postcard day, Steve left too. Now, of all nights, while it’s pouring rain, Steve calls, Thunder’s so loud I can barely hear him on the phone. Power’s out, lightnin’s flashin’. He’s been gone for more than a month. Suddenly he needs a ride home? Wonder what happened to his truck?
<br> <br>
Check my gas. Type in Cap’n Jack’s Marina Hallandale Florida, hit enter, and now I’m off to help someone I barely know.
<br> <br>
***
<br> <br>
“Thanks for coming to get me John.”
<br> <br>
“Hop in.”
<br> <br>
“In a hurry to get back? I’m hungry, and I’ll be glad to buy you a good dinner and pay for the gas.”
<br> <br>
“Good dinner. Hmm. I think a good dinner is at Rex’s Steakhouse. Too expensive?”
<br> <br>
“Nah. I can cover it.”
<br> <br>
“Okay, Rex’s it is.”
<br> <br>
“John I got to tell you, I was surprised you came to pick me up. Thanks. I was in shock a month ago. My Dad died the day before I left. I saw him. Lying in bed, catheter shoved up his penis, tubes in his arms, with a glazed, faraway look in his eyes. My sister handled everything. I had two big-deal charters setup. No work for two months, stuff happening all around me. What was I to do? I had to work-I had to go out there. Jenny always struggled with my schedule, never accepted it.”
<br> <br>
Lightnin’ lit up the sky and the interior of my truck. Steve was sunburned, he had a scab on his left cheek and a recently healed pinkish scar on the back of his left hand. As I drove to Rex’s, I kept hearing Steve’s voice inside my head, ‘I had to go out there.’ Where is there? What did this man do?
<br> <br>
“Sometimes, I’ve got the same problem with Shelly. You and your father were close?”
<br> <br>
“Towards the end.”
<br> <br>
The drive to Rex’s was six miles. Several traffic lights. All red. Radio in the truck, dead. Steve remained quiet. Looked at the rain drops slowly going down the glass. I parked in the back. We got out. I pulled the large steer-horn handle on the door of the restaurant, Steve walked in. Waitress seated us right away.
<br> <br>
“How’s One For All?
<br> <br>
“Huh?”
<br> <br>
“Your boat.”
<br> <br>
“She’s gone, lost at sea.”
<br> <br>
“What? What happened? How’d you get here?”
<br> <br>
“Long story.”
<br> <br>
“I’ve got time.”
<br> <br>
“My clients boarded at a private dock, down at Bal-Harbor. We sailed south east towards Nassau. The lovebirds took in the Caribbean, light winds, blue skies, not a care in the world. Myself, I struggled going against the Gulf Stream, especially with the winds due west. Next stop Jamaica. I gave them a nice tour. Got dockage for a couple of days at Port Morant on the east end. Had very little interaction with the lovebirds, Colombianos, that recently moved to the United States. Showing them places of interest, translating when needed, recommending the best rum. We left Port Morant, and kept close to the coast. Steady offshore breeze from the winds coming down the Blue Mountains and through the Cedar Valley kept One For All in a starboard tack as we sailed towards Kingston. We stayed for three days. I was available if needed, but they spent all their time in the hotel room. Shame, nice weather those days.
<br> <br>
“I Called Jenny, many times. No answer. No call backs. Damn it, I needed to talk to my daughter. How can she just leave with our child? By the end of the third day, the honeymooners changed their minds on passage back to the states. They paid me, hailed a cab to Norman Manley International, and flew home. Needed that money from their passage back. Damn it!
<br> <br>
“I looked around for some Americans that might want to sail back home. Found a couple that wanted to go up to Bimini. They boarded next day. Caught the Gulf Stream in the straits between Cuba and Haiti, and rode one to twos with warm winds from deep out of the Caribbean. One For All, at times doing six knots. Paid for dockage for one day at Alice Town. Didn’t get any prospects for passage back to the mainland, so I set sail for home. Alone.”
<br> <br>
“You’ve been gone over a month. Round trip, what you just told me, might take two weeks. Tops.”
<br> <br>
“Do you want to know what happened?”
<br> <br>
“No, I think you got mixed up in something bad. You’re a neighbor I know little about. I only came down here hoping to make some extra gas money for the week.”
<br> <br>
“I have to tell someone. If I’m buying dinner, and paying for gas, you’re listening.
<br> <br>
“It was Sunday when I left Bimini. Out on the open water, taking in the sun. I thought about my father. I thought about the weak old man dying in bed. I thought about the devout Catholic, who attended church every Sunday evening, alone. I thought about his anger, his personal trauma — the loss of two sons, my brothers, years ago.
<br> <br>
“I lowered the sails and let her drift with the Gulf Stream. The warm sun on my face felt good. I removed all my clothes and laid down on the deck. As the sun covered my body, the current carried my boat, and the sea carried my soul to another place. A white gull landed on the railing of the stern. The gull stared at me. His eyes focused on me. What was I to the gull? A food source? An oddity? A large still form adrift on a larger object with a direction that was unknown. Suddenly, the gull took off. He climbed high above the boat and circled, riding the currents of air, ever smaller circles each time. The gull became a dot. A dot that my eyes fixated on. The dot became a speck, then began to grow larger, larger, until it became a falcon. The talons opened above me. I was the target. I stood up, the falcon vanished.”
<br> <br>
“Look Steve. I’m not into drugs. My life is clean. I don’t need this. Let’s go.”
<br> <br>
“I don’t do drugs either. I’m clean. I’ve always been clean. I’ve lived my life clean and sober. Doing everything in my power to live right. But what I saw out there, it was different. I was different. Let me finish.”
<br> <br>
I look around for the waitress. Distracting myself from the weather-beaten man across the table.
<br> <br>
“… Okay.” Steve’s straight up nuts. Dinner better be good.
<br> <br>
“Anyway. I needed to swim, to refresh. So I dropped the ladder into the water on the port side and went for a swim. The water cooled my body. The falcon returned, flying around my boat, watching me.
<br> <br>
“A large gray fin appears out of the corner of my left eye, as I float in the calm seas. The fin stays above the water. Shall I stay here and join my brothers, and my father? I imagine one of my brothers in a plane crashing into the Mediterranean Sea. Sixteen Navy enlisted men, drowning. The fuselage coming apart. The pilots’ broken skulls bleeding in the water, water full of gray fins, thrashing, mouths open, hungry, thirsting for blood, coming for dinner. My brother Cliff, knocked out, unable to save himself. Why was he there? Why did he go? The gray fin draws near, nudges me, senses me. I do a light back-stroke towards the boat as the shark’s circles get smaller and smaller. Climbing the ladder, just out of the water, I look down at the large, open round eye. He strikes … late. A warning for me?
<br> <br>
“On the deck, the teak is warm, but clouds are coming. Winds soft and steady, flow over me, the gull returns. I lay down on the deck. When must I be the gull? When must I be the falcon? These two questions haunt me. Today is Sunday, it is the day for peace, for family, but I’ve none of that. Only my sister is alive. She’s at church today, an evangelical church, praising God. Remembering things in different ways, ways that are not true. She’s distant, she asks me about my faith. Do I believe in God? I lie and say yes. ‘How does your faith help you? ’she asks. I answer. To know to be thoughtful and kind. Appeasement. She accepts my response, without ever knowing who I really am. She wanted to hear my words. She needs something to guide her life. She found the Bible, she likes the answers it gives her. I ask her if she remembers that day. ‘What day?’ she asks. I say, the last Sunday Dad took us home from church. Do you remember the ride home? ‘Of course, we stopped to get butter fudge cakes at the bakery, like always.’ I ask again. “Do you remember the ride home? Do you remember what happened after the bakery?” I ask. ‘We went home. In the Ford. You remember. Don’t you?’
<br> <br>
“The car is a navy blue Ford, with light blue vinyl seats. The windows are up, my Dad is driving. It’s four doors, economy, family all the way. Thomas is in the right front seat. I’m in the middle of the back seat, my brother Cliff is on my right side. My sister, to my left, right behind my father. He always picks us up. After he drops us off, he’ll go to Catholic mass across town, then come back to the Episcopal church. My mother insists on All Saints, because she hates my father’s Irish Catholic mother. Spite got us to church, not faith.
<br> <br>
“We stop at the bakery. My brothers and I look at all the desserts, cakes, cookies, fudge. I like the peanut butter fudge a lot, but the butter fudge cakes are the family favorite. We all love them. Sweet, with a heavy buttery texture, warm, flakey and light brown on top. My sister is looking at a birthday cake. She likes chocolate. Her birthday is in July. She’s older than me. I’m the youngest. My dad pays for the Sunday morning treats while my oldest brother, Thomas, looks at the other girl behind the counter. She has blonde hair, ruby cheeks and blue eyes. She smiles back at him. They don’t talk. The cashier smiles at all of us. We line up to leave the bakery. I’m first. I push on the door hard when we leave because there is a bell on the door and I like to be the one that makes it clang and jingle.
<br> <br>
“My father opens the rear car door on the driver’s side. Me and my sister get in. My brothers open their own doors. The butter fudge cakes are on my lap. I hold them tight. The aroma fills the car and we’re excited to get home. The engine starts. Dad makes sure everyone has their seatbelts on. He backs up in the parking lot and then goes forward on to Trenton road. We’re all smiles as we anticipate our reward. Mother telling us, ‘Not too much, share, that’s enough.’ Sister looks out the window. The Ford stops at a red light. My father is going to turn left on Woodbourne road. He signals. The light turns green, and we go through the turn slow, easy, as the car accelerates on to Woodbourne road. Butter fudge. I want some now. My sister looks at me, she knows what I’m thinking, we’d both be caught. She looks out the window again.
<br> <br>
“Thomas asks father a question about the sermon at All Saints Episcopal church. My father answers. But I didn’t hear his answer. We pass the doctors’ offices. Then Osers farm. Mrs. Smits is at Oser’s buying vegetables. The farm stand is busy. There’s Billy, my friend from school. There’s a big truck in front of us. It stops. We stop. We wait. The truck moves again. Thomas asks another question about the sermon. I hear part of the question. ‘How could God make the world in six days?’ Then he follows with, ‘My science teacher says the earth is several billion years old. He showed us a rock in Thursday’s class that was over four million years old.’ My father answers. ‘Biblical days were different.’ My brother, ‘but how could God do that?’ Father, no answer. How? No answer. Thomas, ‘I don’t believe in God, not the God they teach about in church.’ Father, nothing, but he looks at Thomas, stays quiet. We keep driving. Past the Greek church with three gold domes, barren lot for cars. The woods where me and my friends play is behind the church. My brother asks another question. The yelling starts. Dad is yelling. I’m scared. My brother Cliff, taps Thomas, and says, ‘quiet, wait till we get home.’ Thomas wants to know, he asks again. The yelling continues. I’m scared. My father punches Thomas hard in his left shoulder.”
<br> <br>
“Your father hit your brother?”
<br> <br>
“Yes. This is all true. But I cannot take the recollection. It pains me too much. I fall asleep on the boat deck. When I wake up…
<br> <br>
“A black crow lands on my boat. He rests on the railing where the gull was before. The past’s shadows emerge in my fluid memories, pleasant, scary. For a moment I’m open to the sea to let me escape, but soon I’m back in the car again. We start to go down a hill that crosses a creek. The crow interrupts. My skin is sunburned. I go into the cabin to dress. The crow follows me and rests on the table. He caws loud. I swat at him. He flies away.
<br> <br>
“I take water from the fridge in the galley. While the water flows inside me, cool, refreshing, thoughts take over me. My father is helping me build a soap box derby car. Then we are in the mountains. He takes pictures, lots of pictures. More photos, more scenes from the past. Photos of mountains, out at sea, of weddings, of family. Smiles, joy, happiness carries me away. I climb the stairs and I’m back on deck. The gull returns and lifts me up. I fly on the back of the gull. Soft white feathers lift me up high in the air. Below is a vast deep blue sea. I’m at peace in Heaven. The falcon returns. Shadow’s us. The gull flies away from the falcon. He tries to keep his distance. I want to stay with the gull forever. I love the feeling of riding on air. The gull climbs higher. My thoughts are at peace right now, floating far away from the car, far away from my father. The gull levels off, circles, then slowly brings his wings in tight. He dives, speed increases. I let go and try to fly by myself. At this moment the gull and I are separate. The gull is trying to be something it’s not, a falcon. He wants to soar, and become more than what he is, I understand everything he does. I am the same. I need to become more than what I am. To break free from the past and the car on that Sunday morning. But I am failing. The gull smashes into the deck of my boat, dies instantly. I wake up on the deck. Blood and feathers are under me. Did that happen?
<br> <br>
“My question is the same as my brother Cliff’s on that Sunday. Did that happen? Cliff sits on his bed punching his fists together, then he punches the wall. He curses my father. The dream is so real, he’s alive, angry, scared, and I’m on the top bunk in the bedroom watching my brother again.
<br> <br>
“The Ford crests the top of a hill that goes down into a small valley. For a brief moment a pleasant memory comes to me. In the bottom of the valley is a creek. When it rains, the creek floods, me and my brothers get out tire tubes and ride the rough flowing water. It’s dangerous and I like it. The chance of drowning, the need to survive. My eyes are on every danger, soaking up the flow of the water with the speed of the current. Defying blinding, broken, jagged limbs, large skull-busting rocks with daring and going home heroes of the day. My brothers and I survived that day.
<br> <br>
“Another question comes from my brother as the Ford goes down the hill, we cross the creek and make a right turn and go into Quincy Hollow. My father throws another punch. Thomas yells. My father throws another punch. Thomas yells, then begins to cry and yell for an answer to his question. Then my father speaks, ‘You dumb kid, don’t you ever doubt the Bible. The Bible is the truth. I’ll pound every word of the Bible into your head. You hear me?’ The car continues down the hill and slows to turn. Thomas, crying uncontrollably jumps out of the car right at the entrance as the Ford almost comes to a stop to enter Quincy Hollow.
<br> <br>
“One For All is being carried out to sea. If a storm comes for me, I’ll go to the sea bottom. The falcon is descending on the boat. He lands on the starboard railing. His dive, tight, skillful. He has a black feather in his beak. I stare at the grayish feathers on his back and a dark tuft on his head. If a storm comes, the falcon will survive, he’ll fly away, if need be, soaring sharply through fierce winds, defying all of Nature and after the storm finding a large pine tree to rest upon. The falcon defines his wants and desires.
<br> <br>
“Thomas is running away from the car. He’s tall and can run fast. The car stops. My father gets out and yells, ‘Come back here, get in.’ He never runs after his son. In a moment he gets in the car, looks at me, Cliff looks at our father. My sister does nothing. We go home.
<br> <br>
“No one asks for butter fudge cakes. My father goes into his bedroom, mother follows. More yelling, I hear something hit a wall. The picture hanging on the wall in the living room falls to the floor and the glass in the frame breaks on the floor. It’s a picture of Jesus. The wall divides my parents’ bedroom and the living room. None of us go near the broken glass, we all go upstairs. It wasn’t long after that, Thomas came home. He went upstairs where we all gathered around him. He was still crying.”
<br> <br>
“Steve, we all had moments in our lives.”
<br> <br>
“Don’t … Don’t waste your time. You think you know my life. Don’t say a thing.”
<br> <br>
“I do feel some empathy. It’s just … I cannot imagine a father beating his son over a sermon.”
<br> <br>
“My father was always angry.”
<br> <br>
“Did he get help?”
<br> <br>
“John. You know your father?”
<br> <br>
“Yes. We still talk.”
<br> <br>
“My father came from a time when you took care of your own problems. You didn’t whine or moan or talk to anyone about anything. You go to work. You do your job. You shut your mouth. That’s who my father was.”
<br> <br>
“What about when he couldn’t take care of his problems?”
<br> <br>
“Then he failed, silently. Stuck in his misery, until it came roaring up through all his insecurities, his cowardice, and he would rage at us again and again to suppress all of his failures. Until it was shoved back in his face.”
<br> <br>
“On that day.”
<br> <br>
“On that day, and almost every day that followed. We all needed our father. But we needed him for things he never taught us. When to be strong. To teach us about honesty and character. He only gave us anger.”
<br> <br>
“Did he drink?”
<br> <br>
“No. He turned away from anyone who drank. Couldn’t even have a conversation. Unsociable.”
<br> <br>
“What happened to Thomas?”
<br> <br>
“Let me finish the story. We never ate the butter fudge cakes. In fact, we never went to the bakery ever again. My brothers were my life. Older, crazy in good ways, devilish, we used to sneak out of the house at night and go on adventures. Sometimes for hours. But those times never settled the angst in our home. Thomas was funny before that day. Inventive, he built rockets. But later he made things blow-up. He became destructive.
<br> <br>
“You see John, when a father beats a kid for no reason. That kid will beat someone for no reason, or torture an innocent victim. Someone easy to pick on. My brother Thomas preferred torture.”
<br> <br>
“Animals?”
<br> <br>
“No. Me. It started as a joke. It was always supposed to be a joke. Just kidding. No harm. Until the breathing stopped. Then you wake up from the joke. Remembering very little. Getting stuffed in the sofa bed. Being scared. Why is this happening? Why are they doing this? Why are they laughing? Nothing. Then you’re flat on your back on a cold vinyl floor, and your mother is pressing on your chest. You come to. You hear, ‘Jesus Christ you could have killed him. He turned blue.’
<br> <br>
“I was lying on the deck in a storm. Waiting for that higher power that my father believed in so much to take me away. Away from the Ford, the bakery, the church, the airplane with my brother Cliff crashing into the Mediterranean Sea. But it was not to be. The boat listed severely and threw me into the water. The shark came close again. One For All beached hard on a sandbar. The hull got punctured by a large piece of driftwood. I swam to the stern and untied the tender, climbed in. With nothing, I let myself drift towards the Gulf Stream.
<br> <br>
“I saved myself, so I could ride the waves to nowhere. To be eternally lost. Never to be seen again. I wanted to die. I wanted answers. I wanted to yell and scream at my father. The yelling machine. The anger man. The man, the coward who signed the papers and let a seventeen-year-old kid go in the Navy. He didn’t know how to be a father. It was easy to let Cliff go. Then the yelling would stop. But it didn’t.”
<br> <br>
Steve pauses. I see a rope burn inside his right hand. I look straight into his eyes. Watery. His cheeks, sunken. He’s lost weight since last time I saw him.
<br> <br>
“We haven’t ordered. The waitress has been here twice and I just waved her off. Next time she comes back, food, or we leave. People are looking at us, at you. You’re lost in a past that will never change. You get hypnotized every time you talk about your father,” I say.
<br> <br>
“When my father was my age. He was in Korea, taking pictures of dead soldiers, prisoners of war, and blown-up tanks. Officially, he was in the army, second battalion, but had been assigned with a group of Marines. He liked the Marines, told me they saved him more than once.”
<br> <br>
“Maybe you should cut him some slack. Be forgiving. Did you ever fight in a war?
<br> <br>
“No.”
<br> <br>
“You can’t know what he went through.”
<br> <br>
“You’re right … but, I wanted to know. I wanted him to tell us all about the blood, the screams, I wanted him to put me there in the battle fields and take it from his mind. I was mad as hell at him for never telling me what it was like to be a soldier. To hold that inside, and release it some other way… on your own damn kids. Why?
<br> <br>
“I needed someone to teach me about life. Advice. Girls. Money. To show me how to hit a baseball. I needed my father. My brothers were gone. My sister left the house at eighteen, pregnant to a wife beater. We have all been lost on a listing ship adrift at sea. Every damn one of us. And it all started on that day.
<br> <br>
“But you’re right, forgiveness is, was, the only answer. I did forgive him before he died.”
<br> <br>
“Completely? One-hundred percent?” I ask.
<br> <br>
“At first it was just accepting him as an over-stressed troubled man. Then I accepted his lack of social skills, still later I accepted that he did his best. I began to praise him for his accomplishments. On the day he died, I forgave him.”
<br> <br>
“But it was too late?”
<br> <br>
“… yeah. I was too late.”
<br> <br>
“What do you think all your animated animal friends meant to you?”
<br> <br>
“Mockery?”
<br> <br>
“I didn’t mean it like that. What did the gull really mean to you?”
<br> <br>
“The gull, as I said before, wanted to be something it wasn’t. The gull dreamed of being the falcon. But it was a worthless dream. The gull died trying to be something it could never be, he failed, he was only a dreamer, nothing more.”<br> <br>

“The falcon and the shark. Why two animals that are almost the same?”
<br> <br>
“The falcon saved my life. The falcon stopped death from following me by killing the crow. To give me another chance at life. To go home and find my family.”
<br> <br>
“You risked everything you had seeking answers and you lost. Your boat’s gone. Your family’s gone.”
<br> <br>
“I haven’t lost everything. I dreamed about dying … and I dreamed about living. I still have a child and a chance to be a part of her life. I have a chance to be a good father.”
<br> <br>
“How? I don’t see it. What will become of you?”
<br> <br>
“The question you asked a moment ago, why two that are the same? But they’re not the same. The falcon, master of the sky, has another personality. He will become a mentoring father. Teaching flight, the skills of the hunt, survival, responsibility. He’ll find food for the nest, then push from the nest. The falcon builds self-reliance, with no illusions. The falcon will never try to be the gull. The shark will only search for blood its whole life. The blood of the wounded. Tearing the flesh. The shark, sleek and magnificent, tormented by the need for constant movement, is really a garbage cleaner. If I was worthless waste, the shark would have eaten me. Understanding the Falcon and surviving the shark gave me a new purpose for my life.
<br> <br>
“I rode in the Gulf Stream as a dot in a vast blue space. Embraced by a quest for survival. I conserved my energy, and hid from the sun at mid-day by flipping the tender and getting in the water. Evenings, I used emergency supplies in the storage pockets of the tender. Hooks, lures, and line and one gallon of water. I caught, silversides, mullet, and one eel. As the Gulf Stream carried me north, I crossed the routes of fisherman from Florida going to the west end of the Bahamas. The first boat I saw, never saw me, but later that day, I got picked up. My saviors, people who now have a fuzzy, warm story to tell their friends, courtesy of the lost man at sea, showed humanity’s best side.”
<br> <br>
“The waitress is coming back. Last chance for food.”
<br> <br>
“You fellas ready?”
<br> <br>
“I’ll have the cowboy baby backs, house salad, and water,” says Steve.
<br> <br>
“Barbeque chicken, mashed potatoes, water,” I say.
<br> <br>
The waitress looks at Steve, glances at me, rolls her eyes in amazement. Smiles. “Anything else? Appetizers?”
<br> <br>
“No, that’ll be all,” I say.
<br> <br>
The waitress leaves.
<br> <br>
“John, you have any kids?”
<br> <br>
“Not yet, maybe soon.”
<br> <br>
“What about brothers and sisters?”
<br> <br>
“Only child.”
<br> <br>
“The question I have to ask myself is not whether my experience at sea was real. I believe everything I told you.”
<br> <br>
“Well I believe the stuff about your father and the rest of your family. As for the rest, you were just a sun-stroked sailor lost at sea. Near death.”
<br> <br>
“The death of the gull still bothers me. I’m going to struggle understanding the loss of a serene and peaceful creature. I’ll need that back.”
<br> <br>
“Your daughter will replace the gull. You will be the falcon, and you will never let her try to be something she’s not. That is, if you find a path back to her. I see the shark like your father. Not in the blood-thirsty sense. But in the sense of taking care of what he needed to for survival. He did all that stuff, food, house, car, but he couldn’t do the big things. Just like the shark, he had no social skills.”
<br> <br>
“Sharks don’t need social skills,” says Steve.
<br> <br>
I wait a minute before I answer. I see talon marks inside his left forearm. I didn’t believe his story. Now I’m stuck, feeling a need to respond. To respect his story and help him see a way forward.
<br> <br>
“Yeah, but your father needed skills he didn’t have. Maybe he never learned himself, being a young man in a war. Developing images of lives lost, seeing the faces of soldiers that will never return home.”
<br> <br>
“You’re letting him off the hook.”
<br> <br>
“No. I’m trying to get you … to let yourself off the hook you’re on right now. Your hook, attaches to a line with a big heavy sinker on it. You’re not seven. Make your own life. Don’t let the past define you. Tomorrow, mentally create the path back to your daughter. Then take the first step. Define your future. Start it right now.”
<br> <br>
End.
<br> <br>
Artemis J Jones 2018
<br> <br>
Also by AJJ, Shark , an observational light humor piece.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_one">
	<h1 onclick='show_default("piece_one")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title2 %> </h3>
	<p>
“If you see something, say something.” This request from adults is directed at children. Children who live in a social-construct. That construct, a concoction of unformed ego’s, no clear path to identity, burdened with lacking social-skills that have not formed and may not understand the requirements for courage, is asked to be on the front lines of social justice.
<br> <br>
While we ask the children for help; us, the adults have not built a set of protocols, local, state or federal laws, along with procedures to be put in place, that have been tested, rechecked, adjusted, and proven to stop violence in schools. We have some procedures. Tell the resource officer. Tell the assistant couch/ security guard.
<br> <br>
We do know that a person did speak up about Nicholas Cruz’s behavior. We also know the follow-up was not effective, and a lack of follow through will allow other adults to play the blame game.
<br> <br>
In the mean time, as grief takes a hold on the those who lost loved ones, and a state of listlessness in the general population is monitored by the those who wish no changes in laws, we wait. Again. And again.
<br> <br>
When will the adults enter the room? When will the adults see the need for other adults to monitor social-media posts from all students? When will adults go to their local school boards and demand to form a public policy that protects the lives of students, staff, and teachers that includes complete review of daily social-media postings. When will they pay for the I-T department to fund this program? When will monitoring public social posts of students, not be an infringement on the non-adult population? When will we as a society make clear concise demands for effective gun laws, with no compromise?
<br> <br>
The NRA scares members demonizing the other side. “They’re going to take your guns.” But the truth is, the other side owns guns too. The other side wants the second amendment, but only for personal protection, hunting, and sport shooting. The other side wants to take away guns, but not from law-abiding, mentally competent people. If we here in Florida had a minimum age requirement of twenty-one for the purchase of an AR-15, Nicholas Cruz would not have been able to buy the weapon of mass destruction. He tried to buy handguns, but was stopped due to the minimum age requirement for handguns.
<br> <br>
Students are consumed with survival, at school, home, and even during activities such as sports, where the social-construct is being part of a team. Students who enter sports still need to survive on the team. They need to go-along, not change the game for their own benefit. No clear identity is formed. Other social groups have the same construct. If a particular student is in an outlier group of bullies or the bullied, or further out in the fringe of no group at all, then there is no possibility to assimilate. The latter is isolated. Think about when you were a student. So, why are we asking students to be the front line? Let’s let them be students.
<br> <br>
At this moment our emotions are fired up, we want action. But we have no plan. So let’s make one right now.
<br> <br>
    Two full-time resource officers, that are trained deputies of the local sheriff's department, for each high school. Resource officer’s monitor students social-media posts, do follow-up investigations in the school, report any action to local, state, FBI, and are responsible for complete oversight of this process.
    Let’s make sure there are no loopholes in our existing laws, and make sure we have sufficient laws to protect our kids. Minimum age for all gun purchases 21. Under twenty-one must have a parent or guardian and will not include any long-gun with a large magazine. Long-guns with large magazines must have a minimum age of twenty-five, and the purchaser must pass mental, physical tests, and demonstrate a need or reasonable use for the gun. Or ban assault weapons in your state.
    On the federal level, all information concerning guns must be shared in a national database. This database must be accessible to local law enforcement including the school resource officers.
<br> <br>
We are the adults, let’s enter the arena of politics and demand to be heard. Let’s stop asking a population (our youth)that is in group mode or completely isolated, to provide information to their outliers (Adults)on possible problems that will have a major impact on society. Let’s take responsibility for our society, setting an example for our future generation, showing that responsibility and democracy come together for the good of all.
<br> <br>
Artemis J Jones 2018b
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_two">
	<h1 onclick='show_default("piece_two")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title3 %> </h3>
	<p>
The Spanish Moss looms over <br> <br>
In the Moonlight <br> <br>
Shadows of spirits long gone<br> <br>
The old Cypress sways<br> <br>
And the Panther sees her prey<br> <br>
You’re older than my tribe<br> <br>
And the Seminole<br> <br>
Grandeur held, in silence<br> <br>
You rise above a swampy world<br> <br>
Where the Eagle rests<br> <br>
The footprint is your mark<br> <br>
But you’re tracked by another sense<br> <br>
Hunger waits no more<br> <br>
The paws are powerful as are the teeth<br> <br>
Whippoorwill has spoken<br> <br>
Fragrance of distant Orange Blossom<br> <br>
Carries serenity<br> <br>
The Suns embers are gone<br> <br>
A gator croaks sounds of love<br> <br>
AJJ 2018
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_three">
	<h1 onclick='show_default("piece_three")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title4 %> </h3>
	<p>
“Our dreams give us a moment of redemption. Then reality returns.” ~ Unknown
<br> <br>
Can this be the end? My vision is blurry, tubes are in my arms, and penetrating pain through my abdomen has frightened any movement of my limbs. A nurse is trying to talk to me, staring at my face, commenting and asking me things, many things.
<br> <br>
“Sir, sir what is your name? Can you hear me? Do you know what happened to you? I’ll keep the blanket on you. You need to stay warm; your oxygen levels are low.”
<br> <br>
My eyes close, but I can still hear voices. Other voices, a man’s voice, distant laughter. My tongue begins to swell; I am gasping for air. The nurse talks to me. “Sir, I’m going to put a tube in your throat.” I gasp for air ….
<br> <br>
Sunlight pushes into my room, it pushes through the cracks between the curtains, over the top of the valance and it pushes right up to my eyes, forcing them to open. I am not used to bright light. In fact, I hide from it. Night and darkness are my comforts, not the warmth of the sun.
<br> <br>
A nurse comes in my room, she greets me as sir, and she does not know who I am. “Sir, do you know where you are? What is your name? You were brought in a few days ago, you were in really bad shape. There was no ID on you.” she continued with “We are giving you blood, you have stitches on your abdomen. You are on an IV for fluids and here is your pain button. Press the pain button when needed.”
<br> <br>
I fade in and out of consciousness.
<br> <br>
I wake up, it’s nighttime, the moon is shining through my window and it is a full moon. I begin to have memories. The last time I saw the moon it was a first quarter moon. There is some clarity in my mind and I am thinking about a name, my name. I am yelling and fighting with a woman and her visual image is clear in my mind. I slap her, she swings at me, she is screaming, “Stop … stop!” At that moment, a man comes into my memory. He has a bat and swings at me. The memory stops. I continue to think about the memory, when a nurse and a sheriff’s deputy come in the room.
<br> <br>
The nurse checks me and says nothing. The Deputy introduces himself.
<br> <br>
“Sir I’m detective Robert Moreno of the Hendry County Sheriff’s department. I’m investigating your case. You were found at the intersection of 9th avenue and Everett Street. A deputy found you lying on the road face down, with your head up on the curb, unconscious. You had multiple contusions, bruises and stab wounds. There was no ID on you and we need to establish your identity. Sir, do you know your name?”
<br> <br>
I think for a moment, then answer, “My name is Denny … Denny James Franklin.
<br> <br>
“Do you know your address? Where do you live sir?”
<br> <br>
I stare at him, confused for a moment. I am getting flashes of different places in my mind; a house with bricks, a trailer. The numbers 489 flash in my mind. I am looking at a house, with 489 on the front ….
<br> <br>
I blurt out, “I live at 489 Ninth Avenue.”
<br> <br>
“Do you have family? Is there anyone we can call for you?”
<br> <br>
“I have a girlfriend. We live together at the address I just told you. I’m not sure of her name.”
<br> <br>
“Do you want us to call her? Do you know her telephone number?”
<br> <br>
“I don’t know, but I’m sure I live with a woman, a young woman. She has Auburn hair. Can I rest? I mean, I need to rest. I’m tired.”
<br> <br>
The nurse leaves the room. Detective Moreno is silent for a moment, but stares at me, and then he begins to write on a card. “Mr. Franklin, I will leave you my card. Your case number is on the back of the card; my name and number are on the front. Call me if you can think of anything that will help us determine what happened to you.”
<br> <br>
I watch as the detective leaves the room. There are bandages covering my abdomen and bruises on both shoulders, but the left shoulder is worse and more swollen. I push the pain button, take a deep breath and rest my head on the pillow. As the medicine takes effect, I use my hands to “look” at myself, to wonder, Who am I?
<br> <br>
Looking down the length of my body, I note that have a long bruise across my chest, wider up near my left shoulder. Moving my hands around, touching my chest, abdomen, and sides, I feel tender, sore spots. I stop moving my hands, I do not want to know more, but the memories come back and, at the same time, I see myself from above the bed, staring down on the havoc of my condition. Mind, body, what else could be so damaged. Who am I?
<br> <br>
Who else can I be? Denny James Franklin must be my name, but who is Denny? Some scrawny-ass pussy that everybody beats up? Someone beat the shit out of me. Why? And … who the fuck stabbed me? I can see and hear people talking about me in my mind. “He;s funny, Denny is so funny.” Girls are laughing. They are young and one is familiar. The girl with Auburn hair; someone calls her Jennifer. Yeah, that’s it, Jennifer is my girlfriend, , a little plump, with auburn hair. A smile comes over my face, an impulse, sudden. I am looking at her boobs. They are nice! My smile continues, Jennifer is my girlfriend and she has nice boobs, large and firm. She is laughing and looking at me and then the memory is gone.
<br> <br>
I’m still looking, gazing at myself from above. There is no mirror above me, but I see myself in a vision. My head is oddly shaped. I see how I look and I am ugly, with grayish eyes, bald, but not in a sexy way. My hair is growing back, but I look more dirty than sexy as specs of keratin push through the dermis wrapping my skull. I continue to gaze at myself from above, there is no intimidation. This causes great concern. When people look at me they are not concerned. I am obtuse. I can remember a woman saying that to me once. “Denny you are obtuse.” By definition, I am simple, undiscerning. Then why did someone stab me and beat me?
<br> <br>
I stare at the walls when I am awake, and sleep during the day. I remain awake most of the night. But I am filed with a sense that some time has passed. The nurses that come in during the night ask me. “Do you want something to help you sleep? I can get you some Benadryl.” I reply, “No, no thanks.” The nighttime gives me comfort, solace. My memories continue to increase each and every night that I am here in this bed.
<br> <br>
People are in my mind now and they all have identities. There is Bo, he is in the trailer. The trailer always has the curtains closed. Bo has beakers, vessels, glassware and tubes in his kitchen. There is a glass coffee table in his living room, which is very small. The chairs in his living room are from old cars, bucket seats. Bo works in a junkyard. Then there is also the memory of Jennifer. I know I like Jennifer. I see her laughing, playing with me. She keeps telling me “You are so funny.” Why did Jennifer and I fight. Why … ???
<br> <br>
The memory of Jennifer’s brother and father come clearly to me. I am afraid of her brother, but her father really scares me. He is quiet and he always watches me. He says very little to me, but I always overhear him talking to Jennifer. He says stuff like, “Why are you with him? He is almost forty years old. He doesn’t own a car. How fuckin’ lazy is he?” stuff I do not like to hear. One time he came to see Jenifer, because she had not answered his texts. He came over walked in the house without knocking and he was pissed, pissed at me. Jennifer and I were in bed and she was so mad at him.
<br> <br>
Memories continue to flush out of my mind. They are vivid and purge everything that I wanted to believe about myself. My mind is pulled into catharsis, which I want to go away. I want to be something good, but I am not.
<br> <br>
As the morning sun awakens the day for everyone else, it is a sign for me to rest, to pull the blankets over my eyes and hide. My reality is in darkness. The night is a shield for the clandestine behaviors of a thief and a drug addict. I know now how I earn my money and where my customers are and my moments of opportunity, to steal anything I want. TVs, I-phones, maybe a car. I also have opportunities to sell what I have stolen, do some part-time drug deals and skim off some extra goods for myself. I need to rest.
<br> <br>
During the day, the nurse’s or doctor, somebody, put these pulsating things on my legs. They keep blowing up with air and deflating. They annoy me and keep me awake. This causes stress; it will take away the comfort of my nights.
<br> <br>
While my irritation builds, Detective Moreno comes in the room. He looks at me for a moment and then addresses me as Mr. Franklin. He is confident in his use of a formal tone and does not doubt that I am Denny James Franklin. Adrenaline pushes through my veins to my limbs and they are tensed, ready.
<br> <br>
“ Mr. Franklin, You are indeed Denny James Franklin. I was able to make a positive photo ID from our records. I went to the address you gave me. It was not on file with motor vehicles, but I went there to see if anyone there knew of you. The house was empty. Someone had recently lived there, but most of the belongings were gone. There was a picture of you and a young woman who had blonde hair, but the photo had been partially burned. It was in a dish on a small table, next to a reclining chair. Behind the chair was a broken lamp on the floor and the lamp had blood on it. Do you know anything about that?”
<br> <br>
“No, sir,” I answer quickly and try to change the direction of the questioning with a question of my own. “What color was the chair?” I ask.
<br> <br>
“The chair is light brown. Mr. Franklin, do you know anything about the lamp?”
<br> <br>
I am silent. He already knows more about me than I know about myself and I am scared, but am too wide awake to feign anything that might distract the questions. He stares at me with determination in his eyes. I have seen that look before, in other people, dealers, police, Bo, and Jennifer’s father. When those eyes of determination met their mark, those obtuse like me, I need to turn away, but they follow me into my psyche. I close my eyes, but I feel the weight of their stare, fixed, focused and demanding.
<br> <br>
“Mr. Franklin, the blood on the lamp wasn’t yours, we tested it. The sample gave us a DNA signature that did not match you, or anyone in our database.
<br> <br>
“Am I being charged?” I ask Detective Moreno and then I assert whatever strength I have for a moment. I use it to look back at him, and I stay silent. My instincts reveal themselves and I know I have done this before. I wait for an answer. The Detective leaves the room.
<br> <br>
There is a place between dreams and memories, where the mind gives you images, but you do not know if you are dreaming or remembering. The fight started long before the lamp was broken. I was at Bo’s to get some goods. He had finished cooking a batch the day before and it was ready. I tested some samples.
<br> <br>
“You have hit the jackpot my friend. Where did you learn how to make this? We can cut this stuff and still sell it for the same price.”
<br> <br>
Bo gave me a few specs of goods to sell and threatened me as I walked out of the trailer. “I better see some money tonight, Denny, or I will put you in the crusher tomorrow.”
<br> <br>
I leave the trailer to go visit my customers. They all want samples, some get a hook, some do not. I need some for myself. Bo’s stuff is by far the best it has ever been. I make a little money and I leave the old abandoned building we meet in. I see a blue F-150 down the street with the engine running, but no one is in it, or nearby. I jump in, drive it up to Everett Street, shut it off and get out. I start walking down Ninth Avenue and Jimmy, a neighbor, stops me. He wants drugs. I sell him some and then I head for my house.
<br> <br>
When I first walk in the door, I greet Jennifer. She smiles. Everything seems fine. She is cooking some chili and we have it for dinner. I remind myself to make her laugh at something, anything, and it bolsters my hope that I may get some tonight. She starts talking and asks me about Melinda, one of her friends. Melinda is blonde and has a way better figure than Jenifer, but she’s less intelligent, more silly and boobish. I smile at my apt description of her … “boobish.” Melinda will laugh at anything and that is how I tagged her more than once. Jennifer shows me an older photo of Melinda and me, and tells me she came around that night, wondering what we were doing. Then her we, changed to, you.
<br> <br>
“She wanted to know where you were.”
<br> <br>
She asked a lot of questions; well not really, but the same questions over and over. We started fighting. Jennifer lit a match to the photo and placed it in a dish next to the chair. I put it out.
<br> <br>
“I’m leaving,” she said. “You have no job and you’re an addict and a dealer.”
<br> <br>
“Come on baby,” I reply. ”Let’s go play in the bedroom”
<br> <br>
“No, and I mean it!”
<br> <br>
I go to grab her and she resists, so I slap her. She screams. In seconds, her brother walks in the front door with a bat in his hand.
<br> <br>
“Let her go Denny!” he yells.
<br> <br>
I grab the lamp, letting Jennifer go, and swing at her brother It breaks, cutting his arm. He looks at the blood, swings at me and gets full contact right across my chest. I fall backwards into the kitchen. I get up and run, as he pursues me out the back door, Jennifer’s father is there, and yells to her, ”Get in the car!” He has a knife, a fishing knife. He comes towards me. The look in his eye has a strange sense of desire, but not for pleasures that I know or understand. We struggle and he stabs me several times, but I escape and run.
<br> <br>
I am running down Ninth Avenue toward Everett Street thinking aloud, “Where is the truck I stole?” I see it on the other side of the intersection and begin to cross. Tires squeal and a car hits me as I cross. My body flies through the air, but the drugs and adrenaline keep me conscious. I land, unable to move, with my head on the curb. My eyes are open, my heart is racing, and blood is pumping out of my body. I hear sounds of a car leaving, tires squealing. Next, I hear footsteps from very heavy boots. I hear Bo’s voice.
<br> <br>
“I want my money Denny.”
<br> <br>
My hand is under me as I lie face down. I can feel the blood soaking the skin of my hand. Bo puts his foot on my back pushing some air from my lungs. He reaches into my back pocket, takes my wallet, and walks away. My flared nostrils, imbibe the smell of the street and the sewer nearby.
<br> <br>
Slowly, now, goes my heart. Eyes remaining open. Two juvenile delinquents take a photo of me, laugh, and then walk away.
<br> <br>
Dream or memory, I hear doctors, nurses.
<br> <br>
The End.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_four">
	<h1 onclick='show_default("piece_four")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title5 %></h3>
	<p>
 Many times in life we are just passing through a moment. A place where temporary things happen, and there is no expectation of remembering the fleeting glimpse of a stranger’s life. So the first time we saw each other it was no big deal. She was just this unconventional somewhat skinny girl who wore a black tee shirt that advertised a country music station. She drove a pickup truck, wore nerdy glasses, and talked with a slight southern drawl. Her tone and verbal style was more than any man from my crowd could imagine, especially, coming from the mouth of a girl who grew up on the other side of the tracks. Michelle was, is, and always will be an enigma.
<br> <br>
We crossed paths several times in college. Our first academic encounter was in an English literature class. The class opened my eyes to literature far beyond the chronic symbolism that represented a repressive past of enlightened humanity, to literature written in a different voice. Our class read and discussed short fiction. Michelle and I read and critiqued, The Gilded Six Bits, by Zora Neal Hurston. A short story about deception — love and loss of trust — and the sadness that fuels desperation, prevalent in poor small southern towns. We had a few more encounters in college. There was the class on teaching diverse populations. When I walked into the class, late, I saw her on the other side of the room, sitting by herself at a large table. There she was, the enigma, wearing a black tee shirt with a confederate flag blazoned on the back and the caption, Hell No We’ll Never Forget!. No one could figure her out. Does she think she’s a southern girl? For the other students there was too much risk sitting next to her, this girl who seemed to show southern pride — my pride. But for me, she was a magnet, an attraction of ubiquitous desire that I had to be near. We both nodded recognition, as I took my seat, and smiled at one another. Once again we were partners, but this time we shared personal goals and opened up to each other, as we worked on class projects.
<br> <br>
***
<br> <br>
After college, we didn’t see each other for several years. I got married, started a family, and got divorced. During the divorce, I lost my job. After a period of unemployment, desperate for any income I accepted a sales position with a local supply house. The Hammons family owned six stores selling plumbing supplies to various contractors. I missed the first party that they threw at the end of every year, but I made it the following years. That year I also brought my kids with me. I never shielded them from the type of people I now loathed, haters, and this party was full of those kinds of people. Venomous false prophets of love and unearned respect. It was always a drunken country bash complete with hay bales, tin roof gazebos, and the smell of cow and horse manure wafting through an open barn, full of unusable broken equipment. That was where Mr. Hammons handed out the meager bonus check and feigned appreciation for his well underpaid employees. I never fit in, with my boss, a heavy drinker, or his employees, amongst them, former Klan members, haters of life that always blamed another race for whatever they felt like blaming them for: after all, it made their inferiority vanish. So I wandered through the party, hundreds of people, dancing, joking, using a rich man’s money for a free good time. As I walked and listened, I thought about who I once was. How I used to talk with them agreeing with them. Being on their side and thinking. Yeah, they’re lazy alright. I wondered towards the music, hearing an old song I liked, Love in the First Degree, by Alabama. I put my hand up to a post and rested my foot on a hay bale, then glanced over the crowd. There she was — the enigma — leaning on the far wall by herself. When the music stopped I walked over to her and we began to talk.
<br> <br>

She told me the whole story, the tale of why she was there. It was a fable of life — for one poor family that had become intertwined — — with a seemingly generous man. Her father had worked for Mr. Hammons on the farm. Now her brother worked there. She told me they were nice to her family. Mr. Hammons still helped her mom with bills and paid rent for the beauty salon that her mother owned. She tapped her hands on her knee while she spoke; creating the imagines of benevolence that flowed from her tongue and through her lips. It was a strange moment for me. I was listening, partially, but my mind was wandering. As I watched her lips move, and saw a gleam in her eyes, I could only think about the taste of her skin, kissing her lips while staring into her eyes, and listening to that soft voice tell me her version of tales of entanglement. She still didn’t have any serious relationships to talk about. She wanted someone. She told me she wanted someone, as her eyes, dark and sensual as her skin, focused on my eyes, piercing blue of master race builders. I looked at her while images of her body filled my fantasies. Then my kids found me. I left.
<br> <br>

***
<br> <br>
The next year went by quickly. I was hell bent on getting another job, but was unable to find a better position, with a better class of people, so I stayed, hating every minute of every day I spent at work. Then the announcement for the party was made on December first. I was still single, and … Will she be there? Will we talk? Of course we will.
<br> <br>
I arrived on time. In previous years I’d show up right before the bonuses were handed out then leave. But last year changed that, now I had a desire to stay, to chase a fantasy of forbidden desires, lust, and pleasure with the woman who spoke in tones, foreign, but sensual. Michelle was walking through the crowd, alone. We saw each other. As we walked closer, the weight of our stare prevented any distractions from revelers. We embraced. Together we walked towards the spread of gloriously fried southern food, and raised a few eyebrows, as we passed through odors, malodorous, that emanated from food and people. Permeable odors that I could wash from my clothes, but never from my psyche. Michelle liked the aroma in the air. Maybe my memories would be different this year. We sat down in the center of a table, ate our okra, fried chicken, and fat swelled mash potatoes. I asked her to dance. She smiled at me, and then took my hand. We stepped onto the dance floor while Don’t Close your Eyes played over the loudspeakers. The band was on a break, and everyone cleared the floor and headed to the bar. It was just me and her. Do it now! Kiss her now. Don’t wait. An announcement came over the public address system — meeting in the barn.
<br> <br>

***
<br> <br>

I got my bonus. When I walked out of the barn she was waiting. The hecklers started, but we didn’t care. They’d all trade with me for a piece of that smooth ass in the darkness, and run at the first sign of light. My heart was racing, pounding in my chest. She stared, watched me, the man, the man who thought he knew and understood race years ago, but now, a man who didn’t care about the old rules, the fool who would let his job go for a kiss, a touch, anything. We walked away from the crowd, the sly reserved hecklers that used to burn down houses of hard laboring families had gone back to dancing, and booze.
<br> <br>

There was a full moon that night. We stood alone in the pasture. Her skin a luscious illumination under the light. She put her hand on my chest to feel my heart. We embraced, kissed, and took each other’s breath with deft compassion and held that breath, allowing that precious air to fill our lungs, as if a nourishment to unending hunger, then we let all the years from our past, catch us in the moment. Our clothes fell to the ground and the kisses flowed over two bodies that became a congealed mass of emotions, and lust. We laid on our pile of clothes, bare to the world, two souls under a bright white moon, as we caressed, kissed, and talked. We talked about the revelers, the family of perceived benevolence, and her father. I told her I knew who her mother was, that I knew about the agreement with the Hammons family. She laughed and told me her mother was no fool. I asked her, “Do you know about their past?” ‘Yes I do.’ Was her response while she stared into my eyes. Do you really know what those people have done in their past?” “Yes I do,” then she got up and added “let’s go back.” My answer came in my actions. Once, is not enough. I kissed her breasts, her lips, and worked my way around her body and massaged her warm smooth ass that so many others wanted. I felt their envy, feigned desires, and concealed hate. Their suppressed wrath, cloaked in drunken smiles, while I, the man of a perceived moral compass, guided by right and wrong, pursued passion and a love they never had the courage to ask for. We finished our rite of passage into unknown thoughts, love, and emotions, then dressed and walked towards the party together.
<br> <br>

We stopped at the edge of the pasture, just before we emerged from a seductive cover of live oaks holding a grand drapping vail of southern moss, kissed again and held each other’s hands, then, as one being, self-possessed, re-entered the world of illusory unions and placed ourselves among the unforgiven.
<br> <br>

The End.
<br> <br>

Note. I’ve received a few private comments that this story is not relevant, that it’s from the fifties or sixties. Not true. The people, scenes, that inspired this story came from a Christmas party in 2008, not that long ago.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>
<!-- END OF POSTS -->


	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
	
			<% if @authors_settings.email_subscription_feature %>
			<div class="functionality_container">
				<p class="functionality_title"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
					<%= f.submit "done", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
			<% end %>

			<% if @authors_settings.social_icons_features %>
			<div class="functionality_container" style="margin-top: 60px;">
				<p class="functionality_title"> My Social </p>
				
				<% unless @twitter_link.empty? %>
				<a href= <%= @twitter_link %> target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px;"></i>
				</a>
				<% end %>

				<% unless @medium_link.empty? %>
				<a href= <%= @medium_link %> target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<% end %>

				<% unless @fb_link.empty? %>
				<a href= <%= @fb_link %> target="_blank">
					<i class="fab fa-facebook" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<% end %>
			
			</div>
			<% end %>

			<% if @authors_settings.contact_feature %>
			<div class="functionality_container" style="margin-top: 40px;">
				<p class="functionality_title"> Contact Me </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: " your message",
							style: "width: 170px; height: 100px;" %> <br>
				    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
					<%= f.submit "send", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
	  		<% end %>
	  	</div>
	  </div>

	  </div>

</div>


<script type="text/javascript">
	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("middle_container").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url(<%= @background_image %>) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
