<br> <br>

<h1> Users - <%= @users_count %> </h1>
<% @users.each do |user| %>
	<p>
      <%= link_to "https://www.google.com/search?q=#{user.first_name}+#{user.last_name}", target: "_blank" do %> 
      	<%= user.first_name %> <%= user.last_name %> - <%= user.description %>
	  <% end %> 
	</p>
<% end %> <br> <br>


<h1> Scheduled Reminders: </h1>
<% @reminders.each do |reminder| %>
	<% if reminder.user %>
	<p>
		Remind - <%= reminder.user.name %> -
		to be in touch with - <%= reminder.content %> -
		on - <%= reminder.date %>
	</p>
	<% end %>
<% end %> <br> <br>


<h1> Users followed by their contacts: </h1>
<% @users.each do |user| %>
	<p>
      	<%= user.first_name %> <%= user.last_name %> <br>
		<% user.contacts.each do |contact| %>
			<%= contact.name %>,
		<% end %>
	</p>
<% end %> <br> <br>



