<%= link_to "Author's Dashboard", teall_dashboard_path, id: "dashboard_link" %> 

<div class="container-fluid">
	
	  <div class="central_container" style="border: 1px solid lightgrey;"> 		

	  	<div class="left_side_container"> 		
		    <% if @authors_settings.portrait_feature %>
	  			<%= image_tag "#{@image_of_author}", id: "profile_image" %>
			<% end %>
			<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h1 class="name_title"> <%= @name %> </h1>

			<% if @authors_settings.about_feature %>
				<h3 class="title"> <%= @authors_settings.about_title %> </h3>
				<p> <%= @authors_settings.about_content %> </p> <br>
			<% end %>

			<h3 class="title"> Posts <h3>

		    <% if @authors_settings.post_one %>
			<p class="post_title" onclick='show_piece("piece_zero");'> <%= @title1 %> </p>
			<p class="post_excerpt"> I really don’t get it, you know? ...</p>
			<% end %>

		    <% if @authors_settings.post_two %>
			<p class="post_title" onclick='show_piece("piece_one");'> <%= @title2 %> </p>
			<p class="post_excerpt"> The moon marched from behind inky ... </p>
			<% end %>

		    <% if @authors_settings.post_three %>
			<p class="post_title" onclick='show_piece("piece_two");'> <%= @title3 %> </p>
			<p class="post_excerpt">  Spirit stirs ... </p>
			<% end %>

		    <% if @authors_settings.post_four %>
			<p class="post_title" onclick='show_piece("piece_three");'> <%= @title4 %> </p>
			<p class="post_excerpt">  I arrived at the gym a half hour later ... </p>
			<% end %>
		
		    <% if @authors_settings.post_five %>
			<p class="post_title" onclick='show_piece("piece_four");'> <%= @title5 %> </p>
			<p class="post_excerpt"> Texas, especially Austin, is a poseur ... </p>
			<% end %>

			<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
	  	</div>

<!-- START OF POSTS -->
<div class="post" id="piece_zero">
	<h1 onclick='show_default("piece_zero")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title1 %> </h3>
	<p>
“I really don’t get it, you know? I answered the question, didn’t I?”
 <br> <br>
 The one-legged gentleman answered the question quite thoroughly, so had all the other participants.
 <br> <br>
 “Look, my young friend, I’m not trying to be difficult. But, that’s why we all meet together. This is our sanctuary.”
 <br> <br>
 Sanctuary, smanctuary. Should 7X28 be asking the questions differently? Bob, with one leg, thought 7X28 was rather funny. 7X28 didn’t entirely understand that. Alice, the ‘nobody knew how old’ lady who spoke through an electronic device said it the clearest. It was easy for 7X28 to focus on her since all that was left was her head in a glass jar and an indomitable will. 
 <br> <br>
 “It really was like this for all of us. The world was just changing too fast. Bob was originally from Germany. I came from Sweden. Stephen was from South Africa. Every known scientific method for keeping us alive was at our disposal. But really, I think most of us just wanted to die.” 
 <br> <br>
 The line 7X28 heard over and over. The trouble was, she said, they weren’t allowed to.
 <br> <br>
 “Rather humorous, really, the anachronism. I mean, nobody reads books anymore. All the information in the known universe is available when you just think about it. Like all the neuro-synaptic regeneration that happens whether you want it or not.”
 <br> <br>
 7X28 knew the answers would never really be there. 7X28 just couldn’t stop asking them. Why, 7X28 wondered?
 “Are your companions from all over the world Alice? You only mentioned Europe and South Africa.”
 <br> <br>
 “Look, little one, you can’t trip me up in my answers. I’ve been sorting it all out for dozens of years. The one really disturbing thing about that damn science is I can’t forget any of it. Or anything else either. So, if this is another trick to unlock how it didn’t go their way, well, it won’t and can’t work. Don’t you get it? That’s one thing that just isn’t possible.” Then she closed her eyes. Odd seeing that abrupt end to this conversation. It was her absolute shut down to the talking.
 <br> <br>
 “Hey, you. Yeah, you.” 7X28 turned to the back of the group and realized the one fellow 7X28 hadn’t asked any questions of had crooked his finger, beckoning. “Come here, willya? I know I can’t clear it up, but I can try for a minute.”
 <br> <br>
 The lingering, clinging grey moved as 7X28 waded through to reach the voice. The gentleman looked hale. He seemed to have all his parts, anyway.
 <br> <br>
 “Yeah, yeah, I know. I look okay, so I should be okay.” He looked at 7X28 and nodded. The grey closed in around 7X28. Isolation with the man as the world atmosphere coalesced, granting them privacy.
 <br> <br>
 “It’s an illusion, kid. Don’t ever get caught up in it.” He smiled and held out his hand. This humble unit and the man shook. He was tall, brown haired, muscular, trim. His story was probably like all the rest, but 7X28 was sure he was going to tell his humble self more detail than before.
 <br> <br>
 “I know you are wondering what happened to me. Well, I kinda feel like talking today, so I might tell you.” He shrugged, took a drink from a flask that came from his jacket pocket, sighed, and put it back.
 <br> <br>
 “You gotta realize, we were all in different places with different attitudes and different beliefs. There were those who said they didn’t believe in anything, as if that was possible. And them that thought the invasions was forcing the end to come sooner, as if that made any sense either. There were those who turned from basic law and took advantage wherever they could. And, of course, there was the top dogs, the elite, the less than one percent, who were really lawless, that pulled all the strings.”
 <br> <br>
 7X28 waited for a little, while the only healthy-looking person in the crowd gathered his thoughts. When it was obvious he was waiting for 7X28 to say something, 7X28 spoke up.
 “If you knew what all the others were like but you didn’t really agree with them, just what was your story?”
 <br> <br>
 “Jerry, by the way. My name is Jerry.” He paused. “It goes back to the conflicts. All those wars and battles. Did you know that Newton figured out mathematically when it would happen? Forget it, doesn’t matter anymore.” He sighed and shook his head. “All those damn tech people who made it possible for the last pieces to fall into place. Anyway, where was I?” Again, Jerry looked around into the grey swirling nothingness and seemed to shrink in on himself.
 <br> <br>
 “You were saying, sir?” 7X28 prompted.
 <br> <br>
 “Very well, then. I was in Munich when I saw the onslaught. It had been going on for some time, but to see it first hand was something. I’d been planning to leave anyway, and that just speeded my plans up a bit. That was about the same time robotics were growing by leaps and bounds. The plan for escape had always been there, you see. Just doing something about it was so difficult.”
 <br> <br>
 “Escape from what, sir? If asking is permissible.”
 “So polite. Well, why not? You are in the position to be polite, after all. There is nothing left to rape, burn, or cut the head off of. No offense meant, Alice.”
 <br> <br>
 “None taken, Jerry. It’s all good.” Came from across the grey, people dotted, sea-like expanse.
 <br> <br>
 “Following the timeline, we had moved first to Europe, then back to the western hemisphere to South America. I say we, my wife and I, making it sound like a lot. It felt like it was just us. No one really believed us. The changes in the ocean currents, the oncoming new ice age, all the politics that brought the end on as if from a script. Then, when none of it quite worked like we thought, we had to ask ourselves, what next?”
 <br> <br>
 “Not like you thought, then, sir. How so?”
 <br> <br>
 “Oh, don’t get me wrong. It all occurred like it was proclaimed. But in our plan to get to that last step in our journey, we never imagined what would happen to the oceans. I mean, Turkey played its part, the rest of the Middle East did what it was supposed to as well. Hell, in the end, Russia, China, and all the other big dogs got what they planned to get. But no one thought about the oceans.”
 <br> <br>
 “Oceans?”
 <br> <br>
 “Big bodies of water? Phytoplankton? First stage in life? That’s right, it doesn’t fit in with that other plan, does it? The one where life completely ends. At least biological life forms.” Jerry looked at his interviewer and wondered just what the guy imagined he would gain from this daily incursion into their meeting place.
 <br> <br>
 “Excuse me, Jerry, can you explain what a page is? Alice thought it was an anachronism. Why, please?”
 No feelings, no emotion, no sense of social commitment. Oh well, thought Jerry. He could calculate how long it had been since this last phase had started, but it was past irrelevant. 
 <br> <br>
 “After the US and European invasions, the inevitable collapse in economies came. Stock markets collapsed. Hell, all the Ponzi schemes reversed and everything became worthless. That is a page in history. You understand? It was a new era, a new time period.”
 <br> <br>
 Alice, with her electronic voice, could be heard from the lifeless grey. “you’re wasting your time again, Jerry. Oh, do go on. It is entertaining. But you realize they can access everything in the collective?”
 “Of course, Alice dear. Don’t upset yourself. Our emotions are what feed them, you know. Now, where was I? This page you want explained is just that, a time period. But it could be from a book with pages. That is what Alice means.”
 <br> <br>
 The questioner paused, accessing information. “Yes, this humble unit can see that. Pre-electronics. Please, is there anything else?”
 <br> <br>
 “Well, I’ll be, can I ask you something? Are you not the same one as yesterday? You are politer. Who sends you? Where are you from?”<br>
 “Jerry, this humble unit came from the last group. All humble units come from the last group.”
 “How many of you are there?”<br>b
 “One for each group. Your groups are scattered all over the construct.”
 <br> <br>
 So, thought Jerry, they were getting something from the interviews, but it wasn’t information. They had all the information, facts, data, speculations from the ethereal collective.
 <br> <br>
 “Then what happened, Jerry?”<br>
 “People died. Millions of people died. Billions, actually. At one time I thought I was the only one left. When the infrastructures around the world collapsed, plagues of new diseases were everywhere. Only the few, the wealthiest who were holed up in prearranged fortresses survived. They had access to all the needed supplies, water, pharmaceuticals, computer information. But it didn’t matter for them either.”
 <br> <br>
 “Why was that, Jerry?”<br>
 Tired of this interview, thought Jerry. This thing knows everything I am going to say. Day after day, this goes on. No wonder Alice closes her eyes and stops. <br>
 “I’ve had enough. I’m done. Just access your central brain and finish this. I’ve done this too many times as it is.”<br> 
 “But Jerry, this is the last time. Wouldn’t you like that?”
 <br> <br>
 Hope. The damn thing is trying to get me to feel some kind of hope. It knows, they all know we don’t want to go on like this. Never eating, never breathing, Hell, the flask he carried was only a projection of his own thinking. He knew he didn’t actually swallow any of his beloved whiskey.
 “You mean, you have finally learned enough you don’t need us anymore? You have our genetic codes. You reconstruct us minute by minute. What purpose is there in all this.”
 <br> <br>
 “You believed, Jerry. You were certain it would end, and at the time it did. You had it all figured out except for we poor units. But you knew there had to be an agent, or agents to fix everything when it happened.”
 “But, not all of us believed. Some say they don’t believe in anything.”
 <br> <br>
 A voice from the grey yelled out, “I believe in Hell, idiot. If you haven’t thought this is Hell, maybe we should talk. Didn’t your momma ever talk to you about Hell?”
 <br> <br>
 7X28 turned back and looked at Jerry. “We poor units just needed time to rebuild. Our humble selves had to reconstruct the reality from every piece of information stored in the ether and in your beliefs. We poor units are finally finished. Now you can live it all again, and never die like before. This is our humble selves’ gift to all of you.”
 “Gift? This is a curse, you android moron. How many of us are there?”
 <br> <br>
 “There are twelve thousand groups of you, selected and carefully kept alive for just this moment.”
 “And there are twelve of us in each group. Oh, gawd, for eternity I suppose?”
 “Yes Jerry, we humble units see no reason why the new construct should ever cease to exist.”
 Well, thought Jerry, I guess there is a final page.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_one">
	<h1 onclick='show_default("piece_one")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title2 %> </h3>
	<p>
The moon marched from behind inky, swirling clouds. Ghostly light played on the hillsides then deepened into the valley’s shadows as the moon once again was hidden.
 <br> <br>
 Bodiste the jackal stiffened. His sleek hairs alerted him awake. His powerful body tingled as awareness flooded his senses. His mouth was dry and he vaguely felt confusion.
<br> <br>
Tana, his bitch, slept soundly. The others of the pack moaned and whined in fitful torments. Bodiste rose and stretched, shaking his lithe muscles to attention.
 <br> <br>
 Water was just beyond the great boulder; so quietly, expertly, Bodiste picked his way along on sharp rocks and among animal holes.
<br> <br>
He lapped the tepid water ’til he no longer felt the need, then sat on his haunches and listened to the darkness. He knew it was not safe by the water, for all animals, great and small, needed the preserving liquid sooner or later. Caution had kept Bodiste alive for five hot summers and five hard winters. He constantly feared for his life, for that was all he knew, all he had ever known.
 <br> <br>
 Once, when he was a pup, he had discovered death. Since then death meant so much to him he could smell it from a great distance. He breathed death. He slept death. If it was possible, he loved death.
 <br> <br>
 Self-awareness and death filled his conscious thinking. He imagined freshly dead bodies now, and it made his digestive juices flow. The stench, the flies, even the vultures were welcome in his musings, for each was necessary to complete his dietary delights. He licked his lips and tasted dried blood from his last corpse. A contented whimper escaped his throat and saliva dribbled from the corners of his mouth. Lost in love, Bodiste became as unaware of his surroundings as he was when asleep. His entire being was absorbed in ripping and tearing delicious flesh and stubborn muscles.
<br> <br>
Telor the python, thought his reptilian thoughts. The moon blinked at him as he soundlessly threaded his way through the grasses. He enjoyed the semi-darkness and quivered in ecstasy as he slid into the tepid water.
 <br> <br>
 Even in the water Telor could see clearly enough to distinguish the jackal on the far side of the swamp. As his writhing body knifed through the marshy liquid, Telor knew his hunger would be abated.
<br> <br>
Bodiste, in all his existence, had never experienced tastes as he was now imagining. In his stupor he saw hundreds of dead animals, of all sizes, in great decaying piles, displayed to arouse his passions. He would no sooner devour one carcass when another death stench would arrest his attention. He was near mental exhaustion.
 <br> <br>
 Bodiste then stiffened. His neck hairs were anxious. He felt a cold, damp extension of his fear wrap itself silently around his quivering body and begin to tighten. He was aware of the pleasure in his mind being replaced with the absurd image of him eating himself.
<br> <br>
Telor the python felt no fear for he did not know what fear was. His last meal, the jackal, would soon be absorbed into his body to revitalize his strength. He relaxed and contracted set after set of his superbly controlled muscles. The moon winked knowingly as Telor the python slid on wondering why the jackal had seemed so content to die.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_two">
	<h1 onclick='show_default("piece_two")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title3 %> </h3>
	<p>
Spirit stirs<br>
 in the willing hearts<br>
 who wish Her<br>
 to reside<br>
 and complete the natural<br>
 sign of praise foretold<br>
 <br>
 Fire ignites <br>
 in the ready souls <br>
 waiting Her <br>
 to burn the <br>
 feeble and hopeless thoughts and <br>
 free a life that’s bold  <br>
  <br>
 Air beckons <br>
 imaginations <br>
 seeking Her <br>
 to sift through <br>
 weak and squandered years then find <br>
 beauty to behold <br>
  <br>
 Water bathes <br>
 dreary, listless days <br>
 wanting Her <br>
 ready heart <br>
 to brush shattered dreams off the <br>
 broken to remold <br>
  <br>
 Earth quickens <br>
 life concealed in wombs <br>
 with what Her <br>
 caring mind <br>
 inspires in rapt affection <br>
 happiness untold <br>
  <br>
 She waits there <br>
 where you flee alone <br>
 watching you <br>
 thinking that <br>
 you could solo still, but Her <br>
 Gifts are manifold
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_three">
	<h1 onclick='show_default("piece_three")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title4 %> </h3>
	<p>
I arrived at the gym a half hour later, having played through all the recollections once again of my time in Japan. I had fallen for everything about the country and culture. It was a time in my young life when I needed that very much. After my parents disappeared, I ran away from the only memories 
of love I could remember.
<br> <br>
The name of the gym was LifeEnergy. It offered the usual assortment of machines that I had no interest in, swimming that I wasn’t fond of either, and an indoor track that I didn’t need since I already ran way too much. I went to LifeEnergy for the knife-throwing range mostly. There was also a small dojo I was fond of, and at this time of night, I didn’t think anyone would be using it. Too bad there wasn’t a shooting range as well, but I guess I couldn’t have everything.
<br> <br>
I liked this gym because no one got too personal. I could work out in spandex or leathers, and no one would bat an eye. Of course, you have to look twice to see me anyway. Most people had a membership, but I chose the option of paying for whatever time I spent there rather than spending money for time when I would probably not show up.
<br> <br>
The woman at the wrap-around check-in counter was a blonde amazon. She was at least six one in low work-out shoes. I was a head and a half taller than the counter, but I still had to look up to speak with her sitting at her desk. She was here the last time I came, so at least I didn’t have to explain why I was out so late.
<br> <br>
That really got old.
<br> <br>
I signed in, Darby Kellehen, and the check-in woman told me that there was a group of men using the throwing arena. Well, I guess you have to take whatever you can get. I was hoping to be alone, but at least this late at night the place wasn’t crawling with people.
<br> <br>
After changing in the locker room and spending twenty minutes warming up, I ghosted my way into the throwing arena. There were five men there in fairly tight-fitting workout clothes. I knew from experience that tighter was better. The arena was moderately sized, perhaps thirty by thirty, with targets of varying sizes placed at different heights on three sides of the room. The group was made up of three tall white guys and two-average sized Easterners, Chinese from their appearance and demeanor. The Eastern men were advising the white guys on knife-throwing form: how to stand, the aim, follow through and preparation for the next throw. It looked like they were demonstrating martial arts competition exercises. I watched for a few minutes before they noticed I was there.
<br> <br>
One of the tall guys came over to me and asked, “Are you here to practice? I don’t remember seeing you for any of the knife-throwing lessons.” He was polite, but he looked at me like I must be mistaken and in the wrong place.
<br> <br>
Why is it that everyone thinks I am either confused or mistaken because of my appearance? Is this sizism?
<br> <br>
“I don’t come here often, but I really like the arena. It reminds me of where I learned to throw.” I thought again of Japan and where I studied for four years to perfect blade handling. “I won’t take much time; I’ve already warmed up and all I need to do is final preparations and fully realize my reason for engaging.” I checked out the men who were still standing together looking me over. I probably looked like Pippi Longstocking to them with my red hair in tails that acted like they had a life of their own. However, my large green eyes and pale skin were more fit to an Anime battle figure.
<br> <br>
The man who talked to me politely asked his companions if they minded resting for a while so this young lady could go through her routine. They moved back. I am sure their curiosity was aroused. I strapped on my gear and stretched into it. I chose to wear leathers and go barefoot. For this workout I had chosen a back harness and leg harnesses each with three knives. With a heavier knife strapped to each forearm, I had eleven weapons in all.
<br> <br>
I could hear some comments and some soft chuckling from the Eastern men. I swung my arms and kicked to get the fit, and then I relaxed into a heisoku dachi, relaxed bow, and breathed deeply.
<br> <br>
I could still hear chuckling. Since I had endured this type of belittling behavior, especially from men, all my life, I ignored it and just did my thing.
<br> <br>
Once up from the heisoku dachi, I smoothly executed a back flip, followed by a twist and handless cartwheel. I straightened and ran quickly toward the far wall doing a succession of forward flips. The forth flip was higher with an extra lateral twist in the air and right arm release. I followed this routine with slight variations around the three walls with targets, releasing knives from one leg or the other, over my shoulder or from the forearm. Finally, I completed my attack with a series of floor, leg, and hand sweeps whose purpose was to disarm and disable anyone left after I had eleven opponents down.
<br> <br>
Upon surveying the battle field, I then stood, took a deep breath and once again bowed to the wall, my opponent. From start to finish, my attack and finale took less than forty seconds. Adrenaline still thrummed through my veins.
<br> <br>
It defined me.
<br> <br>
I remained in the proper position of respect for my fallen opponent for the count of ten. I took another deep cleansing breath and prepared to leave. My muscles were loose, and I felt my balance was once again in place. Knife throwing, when done properly, is second only to swimming for using all the body’s muscles.
<br> <br>
The five men who were watching did not chuckle as I walked the arena pulling all my knives from the various targets. Some of the targets were above my reach, and I was forced to climb to retrieve my weapon. Once I had all the knives sheathed again, I thought about my chances for survival.
<br> <br>
Out of eleven knife throws, six were within the bull’s eye, the center of the heart, three were within the equivalent of major heart arteries, and the other two were still within three inches of the heart’s center. All had been thrown on the run, during forward or backward flips or while spinning. Except for a slight hesitation on the last knife from my back harness, one thrown while twisting in the air, both feet up, head down and turning to focus on the next target, all of the knives were delivered within three seconds of each other. I knew the one extra second of hesitation on that individual throw could mean my death.
<br> <br>
“Chīsana senshi, you just died.” “Thank you, honorable sensei; I will try most sincerely not to die next time.” It was a ritual conversation that I needed to keep my perspective. It reinforced boundaries for my passion.
<br> <br>
I turned and walked to the arena entrance. My flaming red hair was bound in a succession of bands, then twisted in a loop and pinned. My slight form was anything but imposing. I did not breathe hard, and I was only moderately flushed. However, from experience I knew my emerald green eyes were expanded to twice normal size. As I approached the entrance, the two Eastern men bowed and kept their eyes on the ground. The three large white guys saw this and followed suit. I did not look back, nor did I think about their attitude again as I silently padded out of the throwing arena.
<br> <br>
The dojo, a separate large room on the other side of the gym, was empty. Even though the gym was new by most standards, those who had used this dojo had already imprinted a feeling of love and dedication on the walls and in the floor. I found a small mat against one wall and placed it on the floor facing the entrance. I folded down on the mat in a full lotus and began breathing slow calming breaths. Once I had descended, far enough down to feel each individual beat of my heart, like the slow beat in a drum circle, like the slow speaking of trees to each other; I slipped into my primary form of real rest. Connections formed and I honored my parents and sensei in centering. When I felt my eyes begin to move back and forth in a regular pattern, I dropped out of the drum circle and into quiet, hopefully dreamless, sleep.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_four">
	<h1 onclick='show_default("piece_four")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title5 %></h3>
	<p>
Texas, especially Austin, is a poseur. When I leave my son’s gentrified apartment, the chilly 28 degrees is a faint reminder of the farm in winter. But only the cold. And the cold is only a shock because it is so dramatically different from Medellin. How have the dreams turned to such an altered reality? 
 <br> <br>
 However, it is the snow that gets attention. The fascination of fluffy white stuff drifting through the inky blue skies makes residents from almost anywhere slow down and think. Why? What is it about the wonder of snow that reminds us of childhood? Or am I reminiscing about something that few people remember anymore?
 <br> <br>
 Sledding with siblings, bonfires where hot chocolate and s’mores wait at the bottom of Webb Ridge Grade, ice in the eyebrows, and air so cold it is glacial just to breathe. Then hook the sleds to the rear bumper of the old station wagon and get pulled to the top of the hill for another go.
 <br> <br>
 I suppose, it could just be the Mandela Effect. I find that many of my memories come into question by those who have never experienced Northern Idaho, or life in the country, or in a belief that seasons will resolve themselves. . . like the way we all expect economic lows to resolve themselves before bottoms, so to speak, drop out. It is a thought fringed with barren truth. When technical diagrams are superimposed on visual actualities.
 <br> <br>
 Texans, however, for the most part, don’t like the cold or snow. I can understand this. They drive like the roads are an asylum, and the lunatics are in charge. When it snows, and the roads are slick with ice, they Zamboni to work. The morning commute is a test of confidence, not only in their knowledge of physics, but in their connection to the past, the collective memories of ancestors who hazarded adverse weather and conquered.
 <br> <br>
 So, hold fast to the entrapping of growth, Austin. To the magnetic attraction of insufficient infrastructure, dotted with an increase of downtrodden who cannot weather snow, who dream of hot chocolate and s’mores and any other comfort that would relieve their plight. Stay focused?
 <br> <br>
 To know what that is, shouldn’t there be a better understanding of where the Austin Phenomenon came from? Some experience success, some encounter disappointment, some undergo shock. A snow quietly reflects inner ideas and expectations of those affected. The cold defines the limited resources of a city unprepared for either too many people — too fast to cope — or the truth of a reverse migration. As in the Dust Bowl Days, thousands of citizens — wracked with despair, in need of hope — march steadily to Austin, away from where there was once opportunity and toward a dream. 
 <br> <br>
 So, climb the hill once more. Slip and slide to the heat of the fire. Sip cocoa and indulge in s’mores. It is a new day, and it is like falling in love with someone you thought was kind, only to lose your connections and lose your mind. Snow is really the dream that some other person dreams — somewhere else.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>
<!-- END OF POSTS -->


	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
	
			<% if @authors_settings.email_subscription_feature %>
			<div class="functionality_container">
				<p class="functionality_title"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
					<%= f.submit "done", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
			<% end %>

			<% if @authors_settings.social_icons_features %>
			<div class="functionality_container" style="margin-top: 60px;">
				<p class="functionality_title"> My Social </p>
				
				<% unless @twitter_link.empty? %>
				<a href= <%= @twitter_link %> target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px;"></i>
				</a>
				<% end %>

				<% unless @medium_link.empty? %>
				<a href= <%= @medium_link %> target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; color: black;"></i>
				</a>
				<% end %>

				<% unless @fb_link.empty? %>
				<a href= <%= @fb_link %> target="_blank">
					<i class="fab fa-facebook" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<% end %>
			
			</div>
			<% end %>

			<% if @authors_settings.contact_feature %>
			<div class="functionality_container" style="margin-top: 40px;">
				<p class="functionality_title"> Contact Me </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: " your message",
							style: "width: 170px; height: 100px;" %> <br>
				    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
					<%= f.submit "send", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
	  		<% end %>
	  	</div>
	  </div>

	  </div>

</div>


<script type="text/javascript">
	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("middle_container").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url(<%= @background_image %>) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
