<%= link_to "Author's Dashboard", karp_dashboard_path, id: "dashboard_link" %> 

<div class="container-fluid">
	
	  <div class="central_container" style="border: 1px solid lightgrey;"> 		

	  	<div class="left_side_container"> 		
		    <% if @authors_settings.portrait_feature %>
	  			<%= image_tag "#{@image_of_author}", id: "profile_image" %>
			<% end %>
			<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h1 class="name_title"> <%= @name %> </h1>

			<% if @authors_settings.about_feature %>
				<h3 class="title"> <%= @authors_settings.about_title %> </h3>
				<p> <%= @authors_settings.about_content %> </p> <br>
			<% end %>

			<h3 class="title"> Posts <h3>

		    <% if @authors_settings.post_one %>
			<p class="post_title" onclick='show_piece("piece_zero");'> <%= @title1 %> </p>
			<p class="post_excerpt"> “Stand up straight!” ...</p>
			<% end %>

		    <% if @authors_settings.post_two %>
			<p class="post_title" onclick='show_piece("piece_one");'> <%= @title2 %> </p>
			<p class="post_excerpt"> Acapulco: More than Beaches and Banana Boats ... </p>
			<% end %>

		    <% if @authors_settings.post_three %>
			<p class="post_title" onclick='show_piece("piece_two");'> <%= @title3 %> </p>
			<p class="post_excerpt"> Mexico has great beaches ... </p>
			<% end %>

		    <% if @authors_settings.post_four %>
			<p class="post_title" onclick='show_piece("piece_three");'> <%= @title4 %> </p>
			<p class="post_excerpt"> ‍‍‍This is the story o‍‍‍f my experiences ... </p>
			<% end %>
		
		    <% if @authors_settings.post_five %>
			<p class="post_title" onclick='show_piece("piece_four");'> <%= @title5 %> </p>
			<p class="post_excerpt"> I’m walking along one ... </p>
			<% end %>

			<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
	  	</div>

<!-- START OF POSTS -->
<div class="post" id="piece_zero">
	<h1 onclick='show_default("piece_zero")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title1 %> </h3>
	<p>“Stand up straight!” Don’t pick your nose!” “Speak like a man!” These are some of the commands from my mom that I endured as an adolescent. Dad once said, “I heard you got an A on a report. How come you didn’t get an A+?” <br> <br>

No wonder I felt stupid, ugly and clumsy growing up. I was in pain but didn’t know where or how to express it. I was shy, and isolated myself from my peers.
<br> <br>
Fortunately, Mom sent me to camp every summer year after year. I learned to appreciate nature and developed curiosity about much that I’d observed. I found some answers to nature’s riddles in science classes and was more comfortable with test tubes than people. Entering college, I had a dream of becoming a PhD biochemist, doing teaching and research.<br> <br>
<strong> Developing Psychosis With No Alternative Treatments Available </strong>
<br> <br>
During the late ’60’s, while still in grad school, I became involved in the emerging counter-culture revolution: radical politics, communes, alternative schools, rock music and psychedelics. For me the wonder of attending the Woodstock Festival was not so much about the music as it was about genuine brotherly love — sharing and caring for one another. During the storm, our neighbor’s tent was destroyed. We had no problem taking him in.
<br> <br>
This era gave hope for a better world and was quite a contrast to my academic lifestyle, with its competitive “publish or perish,” backbiting, “old boy’s club” reality. The counter-culture theme in those days was “tune in, turn on, drop out.” I’d invested so much, I couldn’t just drop out. This conflict of lifestyles was exacerbated when I gained awareness from my inner experiences–experiments with psychedelics. Eventually I began having flashbacks to those experiences without the drugs. I thought that someone was putting drugs in my food, that I was being watched and followed, and I started hearing voices.
<br> <br>
Some people ask me if taking psychedelics made me crazy. I think that they opened the doors to the reality of who I was and to my past. This was too much for me to comprehend, and created the psychosis.
<br> <br>
One day I took a drive out into the suburbs to get away from it all. I thought I heard a helicopter following me and, to escape, drove my car off the road, hitting a tree. I was not hurt and the car undamaged.
<br> <br>
Mom brought me to a psychiatrist who listened to my story for ten minutes and said that I needed to be hospitalized. I didn’t know what else to do. He was the authority and I had no alternatives. From inside the mental hospital, I made my decision to drop out. The dream ended. I was too sensitive to continue in the academic lifestyle.
<br> <br>

<strong> Ten Years of Hospitalizations </strong>
<br> <br>
Hospitalizations became a routine for me when I had psychotic breaks. The stays usually lasted a month, the time it takes to evaluate anti-psychotic medications.
<br> <br>
My brother had spent some time in Berkeley, California, and suggested I go there because they had more knowledge of how to handle dropouts like me. I took his advice and my life became a steeper roller coaster ride, with even deeper lows and highs.
<br> <br>
I joined a group at the Berkeley Rap Center, a free clinic using Eric Berne’s transactional analysis, and embodying the ideas of The Radical Therapist, that the main cause of mental illness was capitalism.
<br> <br>
To overcome my shyness, the group’s leader gave me an assignment. I was to go to the campus and meet young women. I approached one and said, “Hi, my name is Don. My therapy group told me to meet women on campus.” Her response was: “Hi. I’m Sylvia and I have the clap.”
<br> <br>
One hospital stay was at Napa State. My therapy there was talking to a medical doctor for ten minutes once a week. He told me that, similarly to a diabetic with insulin, I’d need to take Thorazine the rest of my life or I’d have psychotic attacks. I was lucky to get out of that hell hole. I’ll not go into that story here.
<br> <br>
As a young adult I was back living with my parents. This became an increasingly intolerable situation. Finally, after a few months, I acted out and Dad brought me to the hospital with the same result: medications and boredom.
<br> <br>

<strong> How I Beat Recidivism </strong>
<br> <br>
This was my fifth hospitalization. I was fed up with the revolving door, and made a firm resolution that when I got out I’d never return again. I believe that when we take our fate into our own hands, the Universe cooperates.
<br> <br>
Three actions helped me to conquer this malady.
<br> <br>
First, against the advice of my friends, who said it would be impossible, I got an apprenticeship at the university with a professor in the fiber arts department. While in California, I picked up a simple form of weaving and wanted to get more seriously involved. It was a very meditative and relaxing activity resulting in a physical product.
<br> <br>
This gave me new identity as an artist and kept me busy and off of the streets and away from the bars.
<br> <br>
Second, when I got out of the hospital I did not follow their recommendations: medications, outreach programs and living in neighborhoods with other ex-patients.
<br> <br>
Third, I entered therapy with a very special psychologist after waiting two years for her appointment calendar to clear. We had two sessions with Mom and Dad. She told me that there was a family problem and that I displayed the symptoms.
<br> <br>
She used the Gestalt therapy method, and trained me in dream analysis. She advised that whenever I heard voices, I should check out where there might be rejection in my life instead of listening in. Using this approach, over time, the voices decreased.
<br> <br>
During my hospitalizations I was a member of the local chapter of the Mental Patients Liberation Project, whose purpose was to alert the public of the dangers of psychiatric oppression. We distributed pamphlets, spoke to classes of nurses in training, held a panel discussion on suicide and did some advocacy work in hospitals.
<br> <br>
<strong> Understanding My Purpose </strong>
<br> <br>
Fast forwarding over many years, I experienced therapies, workshops, men’s groups and living in intentional communities. In 2003, I retired from a career as a chemist and moved to a small magical city in central Mexico.
<br> <br>
To keep in touch with friends and relatives I sent out a short blog every few months. Although I’d not seen myself as a writer, I got a lot of good feedback to that effect.
<br> <br>
In ’95, using my journals, I began writing my experiences as a mental patient, hoping that this might provide some closure on those dark times.
<br> <br>
In 2007, I met a woman who had won national writing awards. She asked me to send her my manuscript. Her response was: “I got so involved in reading it that I forgot to go to my yoga class.” She also sent me several helpful editorial comments.
<br> <br>
I began attending a weekly writing group and read several how-to books on memoir writing. I now wanted to publish, and, as I mentioned earlier, I believe that when an intention is strong, the Universe provides for it.
<br> <br>
I was in the “zone!” I met my cover artist in a hostel in Oaxaca, engaged with a web designer I met on the beach who also introduced me to social media and I got a friend to help me with formatting. I self-published with an online firm that placed me on Amazon with a paperback and Ebook.
<br> <br>
Then came the next hurdle — promotional speaking engagements. In the audience were friends and relatives. Also there were many strangers. “Who cares about me and my story?” I thought. I got up my courage and overcame this fear, finding that everyone has a story and we all have overlap we can identify with.
<br> <br>
As my legacy, I help people who are in trouble as I was. I provide young adults, recovering from schizophrenia, different forms of online self-care, as an adjunct to the mental health mill. My goal is not only to see recovery, but to assist them in actually thriving in life.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_one">
	<h1 onclick='show_default("piece_one")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title2 %> </h3>
	<p>
Acapulco: More than Beaches and Banana Boats
<br> <br>
The comments on my last blog were contradictory. Do you think I need to offer more positive views?
<br> <br>
My friend Jake is posting this as a guest. As a part-time resident of Acapulco, Mexico, he has a more positive viewpoint than mine. See his bio at the end of this Letter.‍‍‍
An incredible beach in the bay of Acapulco.‍‍‍
<br> <br>
When Mexicans and international visitors think of Acapulco, beaches, water sports, and the famous cliff divers come to mind. Less seemly images are narco trafficking and high homicide rates.
<br> <br>
Part-time residents of Acapulco since 2010, my wife Nancy and I know and treasure other dimensions of the port that add depth and interest. Not just a beach community of 800,000 spread out over a large area, Acapulco is most enriching for those who study, work, and retire in this ancient port, known as The Pearl of the Pacific.
<br> <br>
Isla Roqueta has captivated island sojourners from the earliest times of the indigenous and pirates down to present day trippers. I take an old launch to hike the perimeter of the 1.5 by 1.6 km island on the wooded trails. The dramatic views from all sides, out to the ocean, and the mountains encircling the Bay of Bahia, leave one speechless. Cliffs hundreds of feet high to the West receive magnificent swells from Asia and the Americas that crash on the rock-bound coast. I look forward to a refreshing swim after hiking on a hot day.
<br> <br>
The Marines and Federal government has designated the island a protected area.
<br> <br>
With no electricity, roads or motorized vehicles, the island permits no night visitors. All must leave on the last launch by 6 pm. Swimming, kayaking, snorkeling, and several palapa style restaurants keep visitors happy and occupied.
<br> <br>
The island features a light house at the highest point, with a museum under construction to portray maritime history. It has three beaches. One of them is well protected from the open Pacific. Two smaller ones are more exposed to the open sea. Water quality checks show Roqueta is a safe beach.
<br> <br>
Up the mountain from the Loyola University of the Pacific, on the Southeast side of the Bay, a group of visionary women started a botanic garden 15 years ago. Well-funded by local, federal, and international donations, the garden operates seven days a week, all year, to the delight of plant and bird lovers.
<br> <br>
One ascends a series of paths past plantings ending at an adventure trail still under construction. A restaurant near the garden entrance, a gift shop, water fountains, a creek that flows in the rainy season, and a small amphitheater for musical events,‍‍‍ all help to create memorable moments.
<br> <br>
Volunteers give back to the community and promote nature. Day camps do much to teach participants.
<br> <br>
The Jardin works with other botanic groups in tropical areas to propagate and protect threatened species.
<br> <br>
The Fort of San Diego‍‍‍‍‍‍
<br> <br>
Constructed in the 17th century in Acapulco, Fort San Diego is now a museum.
<br> <br>
In the middle of the 17th century, to protect the tiny pueblo of Acapulco from pirate attacks, guard merchandise and arms, and to foster trade with Asia, they constructed The Fort of San Diego.
<br> <br>
This world class museum adds much as a tourist and cultural attraction. ‍‍‍The National Institute of Anthropology operates this museum of the city and maritime trade. On the Costera Miguel Aleman, at the dock for the cruise ships, the Fort occupies a high piece of land that made it a natural defensive point in earlier times.
<br> <br>
The fort hosts events such as the Festival of the Nao of China. It fosters cultural sharing and greater trade connections between Acapulco and Pacific Nations.
<br> <br>
The Nao is a replica of the Spanish galleons constructed in Acapulco sent to the Philippines and Japan on trade missions. The Nao is in Papagayo, the Central Park of the City. Every year features a different country showcasing its film, dance, theater, drama,‍‍‍ and art. In 2017, for example, Japan sent dozens of artists, performers and scholars to give presentations.
<br> <br>
    Palma Sola‍‍‍
<br> <br>
Palma Sola wi‍‍‍‍‍‍th it’s petroglyphs, is an archeological site near a national park. (Video by Don Karp)‍‍‍
<br> <br>
Archeological ruins and ceremonial sites in Guerrero testify to a well-organized culture for fishing, agriculture, and trade.
<br> <br>
Palma Sola was occupied for thousands of years by various indigenous groups before its discovery by the Spanish in 1521.
<br> <br>
As a ceremonial place, it has well preserved paintings and etchings on the cliffs and inside shallow caves. There is no admission fee. One first enters a small museum where a guide explains the history, shows photos, and artifacts. He then leads individuals and groups through winding trails to the top for breathtaking vistas.
<br> <br>
The National Park El Veladero, continues on the hill top. Created in 1981, the National Park Service plans to integrate hiking trails with logical entry points but lacks funds at the present. Bushwhacking anyone? One shouldn’t hike alone and should be out before dark. We have yet to venture in and the authorities do not recommend it, wanting to avoid the possibility of danger and bad press.
<br> <br>
    The Orquesta Filarmonica (Philharmonic Orchestra) De Acapulco‍‍‍
<br> <br>
Now celebrating its 20th anniversary, the Orquesta Filarmonica de Acapulco presents over a hundred concerts a year in three seasons. Listeners hear virtuoso musicians without charge, since the different levels of government, including generous private donors, underwrite operating costs. The State of Guerrero places great importance on culture. Even though one of the poorer states in the country, the opportunity to hear great music is not denied to anyone. The hall fills up when the Canadian and American snowbirds come for the winter.
<br> <br>
Besides Mexicans, many of the musicians come from Europe and South America. Conducted by its charismatic founder, Maestro Eduardo Alvarez, this band entertains and inspires every other Friday in the Juan Alarcon Theater.
<br> <br>
They play in different venues. For example, the amphitheater Sinfonia Del Mar, over the Pacific within view of La Quebrada, the home of the iconic cliff divers. They also appear in Zihuatanejo, Taxco, Mexico City, and other cities of national importance. They play inside a cave, theGrutas de Cacahhuamilpa National Park, near Taxco.
<br> <br>
In one sample video, they honored British music.
<br> <br>
The orchestra board, administration, and musicians, promote the music of Mexican composers, ethnic music, and dance in Guerrero. ‍‍‍Ethnic musicians receive extra focus. They invite dancers to practice and perform with the orchestra.
<br> <br>
To close on a musical note, since words can only communicate so much, I leave you with a finale, the Ode to Joy from the BeethovenNinth Symphony with Maestro Alvarez conducting. With a joint orchestra and a large chorus, the power of Beethoven speaks to the potential of Acapulco as a community that continues to amaze in so many ways.
<br> <br>
I love the Acapulqueños for their non-materialist and humble ways. Their life centers on work, school, family, and enjoying a year round paradise. Life is difficult for these noble people. ‍‍‍They maintain hope for a better day, free of corruption and‍‍‍ crime.
<br> <br>
George (Jake) Jaquith, is the author of this Letter: Acapulco.
<br> <br>
After a varied and interesting career in public school teaching and counseling, Jake retired to Mexico in 2008, from Minnesota. With his energetic and beautiful wife, Nancy, they divide time between St. Paul, Minnesota; Tepoztlan, Morelos; and Acapulco, Guerrero. Together they have four adult children and four grandchildren. He lives his dream, living in the tropical part of the Pacific, where he swims daily and marvels at nature.
<br> <br>
You can leave him a message in the comments below or contact him here.
<br> <br>
Originally published at donkarp.com.
<br> <br>
About the author of Letters From Mexico: Don Karp, the author of the blog Letters From Mexico, has been an expat living in Mexico since 2003. He has published a memoir, can be found on Facebook and Twitter. His website provides additional services.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_two">
	<h1 onclick='show_default("piece_two")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title3 %> </h3>
	<p>
Mexico has great beaches. I’ve been to seven of them. Here’s a compa‍‍‍rative chart I created from my experiences:
<br> <br>

<%= image_tag "https://cdn-images-1.medium.com/max/1000/1*ZouqNjI7vnSrs0_SpSfDBg.png", 
id: "profile_image", style: "width: 300px;" %>

<br> <br>
Tulum
<br> <br>
Not long after I moved to Mexico (2003), I spent two weeks in Tulum. It’s the best for swimming I’ve visited. And for snorkeling and scuba diving.
<br> <br>
We found a camping place. The Mayan manager brought us cinder blocks to make a cookstove and taught us a few Mayan words. Scuba instructors from Australia camped next to us. Cenotes made Tulum best diving place in the world, according to them.
<br> <br>
A cenote (English: /sɪˈnoʊti/ or /sɛˈnoʊteɪ/; American Spanish: [seˈnote]) is a natural pit, or sinkhole, resulting from the collapse of limestone bedrock that exposes groundwater underneath.‍‍‍
<br> <br>
Our neighbors said they could dive in one and wind up in the ocean.
<br> <br>
I think Tulum is the only archeological site, with pyramids, that’s on the coast. There’s another site in the jungle, a 45 minute bus ride. The town is an easy bike ride or short taxi stint.
<br> <br>
We couldn’t afford nightclubs. We’d buy a beer and nurse it the whole night. At sunset, it was fun watching the diving pelicans, and catch the live entertainment there later at night.
<br> <br>
If you can afford European prices, I’d recommend Tulum.
<br> <br>
Playa Paraíso‍‍‍
<br> <br>
My girlfriend and I spent the week after Christmas with a small group, camping out under a woven roof with no walls. This is a magic place where fresh and salt water merge. At least the birds must think so, given their numbers there.
<br> <br>
I estimated that there were 300 people, with me the only non-Mexican.
<br> <br>
We swam in the river, fifty yards from the ocean. Under the full moon around midnight, we enjoyed a boat ride searching for crocodiles, but found none.
<br> <br>
There were crude showers that worked most days.
<br> <br>
The fee per day was low and included three fresh fish meals, each cooked in a different way.
<br> <br>
Zi‍‍‍polite
<br> <br>
This beach on the Pacific Oaxaca coast is a hippie hangout. I took the red-eye overnight bus (11 hours from Mexico City).
<br> <br>
The beach is dangerous for swimming because of rip tides or undertows.
<br> <br>
A notice announcing a jam session by a fire attracted me. When I got there, I found recorded music. Walking further along the beach, I came to a club with three musicians playing. I joined them, and we became The Zipolite Beach Billies, playing rock, reggae, blues, and other types of American music with a good measure of original tunes at the clubs.
<br> <br>
The band has had a rotating group of members from Madagascar to Paris. Bandleader, Cat Winske keeps the show on the road. Check them out at @Zipolite Beach Billies.‍‍‍
<br> <br>
This beach was not expensive, but became very crowded right after Christmas. I didn’t enjoy the crowds, but liked playing music for them in the band. This is why I returned many times.
Blues at Posada Mexic‍‍‍o, Zipolite, Dec. 2016
<br> <br>
Puerto Escondido
<br> <br>
Last December was the last time I visited Zipolite. I played with two musicians in clubs (see the video above) and went to Puerto for a New Year’s Eve gig with the Beach Billies.
<br> <br>
It was a nice place to swim, but prices were higher tha‍‍‍n Zipolite, and it was not a hippie hangout.
<br> <br>
Chacahua
<br> <br>
An hour north of Puerto is this incredible beach. It has a river that empties into the ocean, attracting many birds. Intervening are lagoons and mangrove swamps.
<br> <br>
The resident population of around three hundred, with kinky hair and blue-black skin, descended from escaped African slaves. The Spanish on horseback couldn’t navigate the swamps. These folks lead an idyllic life where the fish and coconuts are abundant. They need not work much, except during the tourist seasons.
<br> <br>
Travel to Chacahua is difficult. One gets off the bus at Rio Grande, then takes a taxi to the lagoon where a boat transport takes you to a truck for a half hour ride to the beach.‍‍‍
<br> <br>
This is a self-governing population, not influenced by state or federal government, or by the church.
<br> <br>
There isn’t any nightlife there. I heard of a Karaoke bar that had just opened. It was by and for the locals. I went with a neighbor to check it out. After a while, a policeman entered. Someone told me that if I wanted to smoke marijuana, I should talk to him. This was the only occasion in my life that I smoked with an on-duty cop.
<br> <br>
Acapu‍‍‍lco
<br> <br>
I spent five days staying at a friend’s condo near the beach. We took a boat over to an island and circumnavigated it on a nice nature trail. We went to an‍‍‍ archeological site with many petroglyphs, and to a historical museum.
<br> <br>
The beach is a very long strip. Going inland just one block, one encounters ghettos of dire poverty — a strong clash to the ritzy beach.
<br> <br>
This term refers to the coast from Acapulco to the Oaxaca state border. I can’t remember the name of the specific beach recommended by an acquaintance. It was an hour or two south of Acapulco. We were the only tourists there. The beach had plastic and other debris. I’d not recommend it.
<br> <br>
I’ve given you a rundown of the seven beaches I visited since I moved to Mexico. There are many more. Perhaps some of you have been to them. Anyone have comments to fill us in?
<br> <br>
Originally published at donkarp.com.
<br> <br>
About the author: Don Karp, the author of the blog Letters From Mexico, has been an expat living in Mexico since 2003. He has published a memoir, can be found on Facebook and Twitter. His website provides additional services.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_three">
	<h1 onclick='show_default("piece_three")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title4 %> </h3>
	<p>
‍‍‍This is the story o‍‍‍f my experiences living as an ex-pat in Mexico since 2003. It’s to culminate in a publ‍‍‍ished book. With your help, I’ll be editing, selecting a title, and cover art: a participatory project. Your comments encouraged!
<br> <br>
Dec. 25, 2017
<br> <br>
At three AM the red-eye bus going home from the coast ends at a service control stop.‍‍‍ The authorities decide my papers are not acceptable and I take my backpack and get into the truck.
<br> <br>
We ride for 15 minutes to Acapulco. Inside I’m instructed to take off my belt and shoelaces. “Just as on TV,” I quip. I understand it’s not an office.
<br> <br>
Providing a foam pad and a packet of toiletries, I’m escorted to a unit with a plaster slab bed. The bars close. I am troubled. What will come of me?
<br> <br>
Every half hour an officer with a sub-machine gun comes to look. I don’t sleep that night.
<br> <br>
In the morning I join two other fellows for breakfast. It’s pieces of hot dogs scrambled into eggs provided with tortillas.
<br> <br>
After lingering a protracted hour, the upstairs office calls. A computer check shows things are ok. They rode me to the bus terminal. When I got home, I was to travel to Mexico City to straighten out my condition.
<br> <br>
‍‍‍‍‍‍How did this de‍‍‍velop?
<br> <br>
Several years before this event, I traveled to Toluca, two hours from where I was living, in Chalma. They said I lacked another form and needed to come back. I made ano‍‍‍‍‍‍ther trip. The form wasn’t compete. That’s when I got a lawyer in Mexico City. This experienced counselor didn’t overcharge.
<br> <br>
Here’s what happened with the lawyer. There were two degrees of year-long residency visas. After five years, this led to qualification for permanent residence. The second stage required information with six bank statements. There wasn’t enough revenue. The counselor suggested an initial deposit, and again in the month make two withdrawals. “Recycle the cash for the six months.” Only deposits were checked, not withdrawals.
<br> <br>
The lawyer required a Mexico City address. I adopted a friend’s.
<br> <br>
The lawyer contacted me after several months. Something was incorrect. I needed to start anew.
<br> <br>
Were temporary papers available for an annual trip to the coast? No, he replied.
<br> <br>
I resolved to pack the expired card. If required, authorities could review its status by computer. 3 AM at the checkpoint, offices with computers were not open. I’d not considered that.
<br> <br>
The Mexico City immigration office had addressed a warning to a non-existent address. The friend had moved.
<br> <br>
    Getting a r‍‍‍ebate: an administrative tangle
<br> <br>
Because the application failed, there was a rebate of about $300 US. To obtain the repayment, I made five trips to a commission in Cuernavaca. Cuernavaca is a half hour bus drive away from Tepoztlan.
<br> <br>
No one informed me the of the method. One needed to first apply for the Mexican equivalent of a social security number before appealing for the repayment. What an administrative tangle!
<br> <br>
In an earlier blog, I spoke about Mexico as a dangerous country. I found this interesting article. It explains how the policies of the United States cause the astronomical levels of drug violence and corruption in Mexico.
<br> <br>
Are you planning to travel to Mexico, or perhaps move here? Do you find these blogs helpful? Or do you just find them interesting?
Please let us know by commenting below.
<br> <br>
FYI: a favorable factoid about Mexico
<br> <br>
Originally published at donkarp.com.
<br> <br>
About the author: Don Karp, the author of the blog Letters From Mexico, has been an expat living in Mexico since 2003. He has published a memoir, can be found on Facebook and Twitter. His website provides additional services.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_four">
	<h1 onclick='show_default("piece_four")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title5 %></h3>
	<p>
I’m walking along one of the main streets in the center of Tepoztlan where I live. I bump into a friend. CLICK! We decide to go to a cafe to have a coffee and chat. What about the meeting she’s scheduled at this time with someone else? CLACK! Blow it off. Our getting together seems more important right now. No phone call is made to cancel that meeting or reschedule.
<br> <br>
This is a Mexican cultural phenomenon I’ve observed — serendipity supersedes accountability.
<br> <br>
Back in the US, almost everyone I know leads a highly scheduled and structured life with little free time. I wonder how this effects social interactions and relationships.
<br> <br>
At first, I found the serendipity in Mexico to be a very refreshing change. CLICK! Since I retired before moving to Mexico, I had a lot of free time. I love the novelty and adventure of serendipity.
<br> <br>
As time progressed, I tired of just hanging out at the cafes. To meet certain goals, I tried organizing people: two attempts at starting summer camps for kids, facilitating workshops, organizing an anti-Trump group, planning a water quality testing business, and other activities involving organizing and networking. None of this worked. Folks would not show up for meetings, or would come late. There were no phone calls about it. CLACK!
<br> <br>
In my opinion, the culture is more about fiestas, and the work is for manaña. It’s not laziness, but about independence. It’s not just the locals and other Mexicans. Expats — transplants from the US (like me) and from other countries eschew accountability soon after arriving.
<br> <br>
An effect on me of this click and clack culture is a lack of deep relationships. For me, these come from regularly scheduled work with people on projects to attain goals held in common. Intimacy doesn’t come from chats at the cafe.
<br> <br>
<strong> My Successes In Mexico </strong>
<br> <br>
Aside from publishing my memoir in 2013, I’ve had success when I work alone promoting an event. This might involve a month of posting fliers and online notices, phone calls, and distributing promotional materials to everyone I meet. I need to keep my mind on and act on this every day. But I do it alone, not with others.
<br> <br>
I promoted a Valentine’s Day event, with a gourmet Indian meal, a jazz pianist, and a fire twirler. It was a sell out. And I’ve promoted musical performances with bands I’ve played with. Once, a fellow scorpio and I had a joint birthday party. A band formed to play at the event, and would split the cover fees. I generated a crowd of 70. Everyone was happy — the audience, club owners, and the band.
<br> <br>
I notice a difference when I am in the US. I’m working with others. Intimate conversations flow with much more ease than in Mexico.
<br> <br>
I used to think that this was due to a language barrier, but have come to realize it’s really a deeper cultural divide.
<br> <br>
<strong> Why I Spend Most of My Time in Mexico </strong>
<br> <br>
Fiestas
<br> <br>
During my three vacation visits, before deciding to move to Mexico, I attended many different kinds of fiestas. Some are family oriented: weddings, birthdays, anniversaries, baptisms, confirmations, funerals. Others are by neighborhood. Each barrio is named after a saint, and on that saint’s day, there’s a fiesta. There’s food, drink, music, fire works, and a street fair. Then there are regional, religious, and national holidays, with parades, dancers, contests, art, etc.
<br> <br>
This alone is enough to stay constantly involved.
<br> <br>
My favorite fiesta in Tepoztlan is Dia de Muertos, The Day of the Dead. Whole families fill the streets until late at night. Children have their calabasas (pumpkins) to collect candies. Many homes have a fire outside the house in the street to welcome the spirits of departed family. A path of marigold petals has been carefully laid out to guide them in. The altars are very elaborate and beautiful. Highly decorated with corn, candles, flowers, and photos of the departed, they even sport some of the favorite food of the dearly departed. Those spirits get very hungry after a year in spirit land without food. Lots of homes open their doors for public sharing of the altars.
<br> <br>
Nature and Spirit
<br> <br>
Tepoztlan has been designated a “magic city.” Because of its importance for tourism, it gets federal funds for infrastructure maintenance.
<br> <br>
Weekends see a big influx of tourists, mostly taking day trips from Cuernavaca and Mexico City. The main streets are lined with booths selling trinkets, clothing, jewelry, food, and drink. There are many street musicians, and some are very good.
<br> <br>
A main street leads to a broad paved trail steadily rising to a lone pyramid with a view of the valley. It takes about an hour to get there.
<br> <br>
I prefer hiking on the many mountain trails without the crowds of tourists. A few of these are broad dirt trails with landscaping and benches. Most are very narrow, overgrown, and with steep drop offs at the edge. From some of these you can get better views than from the pyramid.
<br> <br>
Food
<br> <br>
The market has many stalls offering a wide variety of meats, fruits, and vegetables. These are much fresher and cheaper than in the US — more wholesome. When visiting the US I always put on pounds and my belt goes up a notch or two. I return and lose that weight.
<br> <br>
There’s also a wide variety of prepared Mexican food that’s very inexpensive in the market — quesadillas, tacos, chilis, and much more. There are assortments of salsas and choices of additions.
<br> <br>
The cafes serve regionally grown organic coffee and pastries, and some have sandwiches. The cafes are the best places to meet people. They are locally owned, not like Starbucks. In fact, Tepoztlan has very few corporate businesses. I’ve noticed more conversations and interactions in Mexican cafes than those in the States.
<br> <br>
Outside of the market, there are restaurants serving all kinds of budgets and occasions, some small, others large. Some feature dining in a jungle atmosphere while others have elegant gardens.
<br> <br>
I’ve never gotten sick at any eatery in Tepoztlan. The main industry in town is tourism, and the food concerns wouldn’t fare well if their clientele contracted bugs from the food.
<br> <br>
Water
<br> <br>
Tepoztlan is a very dry area, with the rainy season lasting only two or three months. The rest of the year there is no precipitation. At the end of the dry season, there are forest fires. Sometimes they burn for two weeks and the town fills with smoke. Also, it gets very dusty, and some are bothered with respiratory problems.
<br> <br>
Some homes and businesses harvest rain water, collecting it in cisterns. Others may need to purchase a truck load to fill their cistern. The water from the cisterns is pumped up to a smaller container on the roof for gravity feed to the building below. These systems carry germs and are for washing only, not drinking. Once a week, the town delivers water from the mountain by a maze of pipes to homes and businesses that are not far from the center.
<br> <br>
For drinking water, there are water taps in some streets at strategic locations — like the one near a major church. This water is untreated and comes directly from the mountain.
<br> <br>
Spirit
<br> <br>
When I first moved here, I was unaware of the vast number of archeological sites spread all over Mexico. Many have been only slightly excavated. These stone wonders, created before the arrival of the Spaniards, still hold considerable spiritual power and energy, in my opinion.
<br> <br>
Cost of Living
<br> <br>
As I mentioned in a previous blog, the cost of living in Mexico is very roughly half that of the US at the same lifestyle. For me, on my limited Social Security budget, this is a great boon.
<br> <br>
Given the click-clack culture, I enjoy visiting the US often, but prefer spending most of my time living in Tepoztlan, Mexico.
<br> <br>
I’d like to hear from you (in the comments below, please) what you want to know from my personal experiences, about traveling and living in Mexico. Here are some potential topics: finances, crime, climate, health, travel, learning Spanish (and some funny experiences I had with improper usage), availability of goods and services, immigration, and others. Please tell me which of these and others you want to know more about, and I’ll be happy to address them.
<br> <br>
    This article was republished from donkarp.com/letters.
<br> <br>
    Sign up for Letters From Mexico and Get notifications in your inbox!
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>
<!-- END OF POSTS -->


	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
			<% if @authors_settings.email_subscription_feature %>
			<div class="functionality_container">
				<p class="functionality_title"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
					<%= f.submit "done", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
			<% end %>

			<% if @authors_settings.social_icons_features %>
			<div class="functionality_container" style="margin-top: 60px;">
				<p class="functionality_title"> My Social </p>
				
				<% unless @twitter_link.empty? %>
				<a href= <%= @twitter_link %> target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px;"></i>
				</a>
				<% end %>

				<% unless @medium_link.empty? %>
				<a href= <%= @medium_link %> target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<% end %>

				<% unless @fb_link.empty? %>
				<a href= <%= @fb_link %> target="_blank">
					<i class="fab fa-facebook" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<% end %>
			
			</div>
			<% end %>

			<% if @authors_settings.contact_feature %>
			<div class="functionality_container" style="margin-top: 40px;">
				<p class="functionality_title"> Contact Me </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: " your message",
							style: "width: 170px; height: 100px;" %> <br>
				    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
					<%= f.submit "send", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
	  		<% end %>
	  	</div>
	  </div>

	  </div>

</div>


<script type="text/javascript">
	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("middle_container").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url(<%= @background_image %>) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
