<%= link_to "Author's Dashboard", ven_dashboard_path, id: "dashboard_link" %> 

<div class="container-fluid">
	
	  <div class="central_container"> 		

	  	<div class="left_side_container"> 		
		    <% if @authors_settings.portrait_feature %>
	  			<%= image_tag "https://pbs.twimg.com/profile_images/906083142896779264/zhVELKOu_400x400.jpg", id: "profile_image" %>
			<% end %>
			<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h1 class="name_title"> <HEAD> Harry Ven</HEAD> </h1>

			<% if @authors_settings.about_feature %>
				<h3 class="title"> <%= @authors_settings.about_title %> </h3>
				<p> <%= @authors_settings.about_content %> </p> <br>
			<% end %>

			<h3 class="title"> Posts <h3>

		    <% if @authors_settings.post_one %>
			<p class="post_title" onclick='show_piece("piece_zero");'> How to change your life in 30 days? </p>
			<p class="post_excerpt"> An immersion technique to start new ...</p>
			<% end %>

		    <% if @authors_settings.post_two %>
			<p class="post_title" onclick='show_piece("piece_one");'> Product storytelling — how to craft an amazing story? </p>
			<p class="post_excerpt"> The untold parts of storytelling that ... </p>
			<% end %>

		    <% if @authors_settings.post_three %>
			<p class="post_title" onclick='show_piece("piece_two");'> Two photographers went to a bar </p>
			<p class="post_excerpt"> They were comparing their pictures ... </p>
			<% end %>

		    <% if @authors_settings.post_four %>
			<p class="post_title" onclick='show_piece("piece_three");'> Thank you Facebook, for screwing it up for everyone else </p>
			<p class="post_excerpt"> Dear Facebook ... </p>
			<% end %>
		
		    <% if @authors_settings.post_five %>
			<p class="post_title" onclick='show_piece("piece_four");'> Corporates vs Startups </p>
			<p class="post_excerpt"> Corporates are about resources, connections and ... </p>
			<% end %>

			<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
	  	</div>


<!-- START OF POSTS -->
<div class="post" id="piece_zero">
	<h1 onclick='show_default("piece_zero")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> How to change your life in 30 days? </h3>		
	<p> 
<strong> An immersion technique to start new. </strong> <br> <br>

June 24th. 2016. I had recently moved out of the startup I co-founded. I had no clue what to do. I did not have an idea. Or a team. Most importantly I was burnt out. Life seemed really big and tough and scary. I had a lot of questions but no answer. Insecure, on the verge of depression, isolated, clueless. This was my state.
<br> <br>

<strong> How do you change your life? </strong> By changing yourself. <br> <br>

<strong> How do you change yourself?</strong> By changing your actions <br> <br>

<strong> How do you change your actions? </strong> By changing the way you think, by changing and testing your assumptions, inferences, conclusion. By validating the mental frameworks you use to arrive at decisions. By being clear on what basis you take decisions, what are your triggers, what are your strengths, what are your weaknesses,
<br> <br>

<strong> How do you change the way you think? </strong> I did by reading, writing and content creation.
<br> <br>

I started writing my blog here at medium with a promise to myself that I will write and publish 1 blog every day.(Till then I had written a total of 8 articles in the previous 1 year). For the next one month. 30 blogs. Simple, only one thing, no other constraint — like I should get thousands of shares or build a following. Just pure writing, whatever I can think of, without any expectation.
<br> <br>

I took my journal and started writing. One article after another. First I wrote whatever I can think of. I started to write about things which I was curious and frustrated about — like how to get out of a “low” state, how to start creating, how to inspire myself, how to find a life philosophy that could help motivate myself, what is the right attitude to carry, how to discover and improve upon potential, anything that meant life and death to me — finding the answer to these questions was the only way I could get out of the “low” phase I was in. Anything I can learn, anything that improved my life, I wrote about it.<br> <br>

Initial days I didn’t know what to write. I would just stare at my computer screen without typing anything. Then I took my pen and journal. I found writing much more easier [many of us have been first taught to write before typing, so writing by hand is much more intuitive and easy]. I wanted to an out from reality, so I immersed myself into the books. The more I read the more I could write [this is an universal phenomena, many good writers are voracious readers] <br> <br>

I started reading. Voraciously. I downloaded a bunch of books. And bought a few. Books on cognitive psychology, thinking. Anything that would give me a clue about what is happening in my head. How to get clear about anything in life. How to find why I am again and again getting warped all the time, unable to do anything productive.
<br> <br>

The first book was The Mindset by Carol Dweck. The next one was Thinking fast and slow, by Daniel Kahneman. The moment I started reading, I was into it. I started to think through my life situations in perspective to understand how am taking decisions, how am arriving at conclusions, the assumptions I have — that is what exactly a good book will do to you, give you clue about who you really are.
<br> <br>

<strong> Learning #1 </strong> <br> <br>
I got into a momentum, for the first time in so many months. I read half the time and wrote the remaining half. I read books, blogs, anything on topics am interested in and then wrote about it. I learnt that CURIOSITY is the biggest guidance to doing anything. It makes learning anything new fairly interesting.

<strong> Learning #2 </strong> <br> <br>
I start writing a lot, like 4–5 articles a day, all on my journal. Then I would sit and write and edit on my computer notepad and publish. I just focused writing one article, then the other. After being stuck for some time, I suddenly felt like the flood gates have been opened. Words started flowing. I learnt that focusing on the next smallest possible action is the key to momentum. I also understood that what matters is what all you can do right now, at this moment.

<strong> Learning #3 </strong> <br> <br>
This reading and writing improved my thinking process greatly. I started seeing things clearly. After a week, I decided I just did not want to write, but write for a bigger cause than me. I focused on only one thing — creating value through my writing. Even if one person will read and get something valuable from my articles to improve his or her life, that is enough. I focused only on one reader at a time. I learnt that what is important in life is giving — not taking. You give more than you take. Create value and put it out there.

<strong> Learning #4 </strong> <br> <br>
I slowly started writing stuff that brought out the pain me. I learnt that your work gets transformed only when you bring your pain to your creations. You face your pain and translate them into words and words into a story. Your real work shows your struggle and pain. I was able to get closure on my emotional problems this way. Lot of problems that were scaring me, that I was hiding in the closet, I let them go and put it out for the entire world to see. I shared my biggest fears through my articles. And I felt like a bird released from its cage.

<strong> Learning #5 </strong> <br> <br>
One month got over, I had written 52 articles — some days I had published more than one. I documented the whole process by which I wrote the articles, what I gained. I learnt that by objectively looking at your past actions, you could learn more than you otherwise do. I found out what I am doing right, what I am doing wrong, where do I stand in terms of blogging, quality of writing, and started thinking of ideas to get more people to read my articles so that I can create value for more, I can touch more lives. I learnt that the bigger part of trying anything is about losing shame. Once you shed this, everything else follows.
<br> <br>

Fast forward to today, I have written 120 articles across Medium, Quora. I developed a following on instagram based on my travel to rural India and little known places. So far few of my articles have been guest posted in third party website. I recently got noticed and appreciated for an article I wrote on LinkedIn.I am consulting now with startups on their content marketing and strategy (an opportunity I purely got out of my writing and content creation). The fight is far from over. But Writing has literally changed my life in 30 days.
<br> <br>

Common belief is that we think and then act. I realized that there is another form of thinking — through an action. Many ideas I got only when I was writing. Our brain muscles are flexible that way. Our actions induce our thinking and vice versa.
<br> <br>

You can change your life by writing (its an easy and simple place to start). But you can also start a youtube channel. Or create a mobile app. Or go about surveying people and doing research about consumer behavior. Whatever it is, immerse yourself. For the next 30 days. Learn as much you can, practice the craft as much as you can.
<br> <br>

The only way you can change your life is by practicing a craft and creating. Because the only thing that matters in life is creation.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_one">
	<h1 onclick='show_default("piece_one")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> Product storytelling — how to craft an amazing story?</h3>		
	<p> 
<strong> The untold parts of storytelling that can transform your product narrative </strong> <br> <br>

R.J.Palacio, author of the award-winning book “Wonder”, was inspired by a real life incident where her 3-year old son cried seeing a girl with severe facial deformities. The incident, as well as her reaction to it made her wonder what will it be like to have to face the world everyday that does not know how to face you back.
<br> <br>
Wonder, is about a 10-year old boy with severe cranial and facial differences, who is home-schooled till 5th grade but then forced to go to school by his parents. How he faces the difficulties of this journey and how he overcomes it forms the plot of this heart-wrenching book. The book, originally written to connect with young adults on the concept of “kindness”, was so well received even by adults that it was made into a movie in 2017 starring Julia Roberts and Owen Wilson.
<br> <br>

What do stories like Wonder get right that their messages are so well received by their audience? More importantly, what can product owners learn from such stories so that a product experience is not just “valuable” but also engaging and entertaining?
<br> <br>
Great stories from Rocky to Karate Kid to Lord of the rings, all have one theme — how the “hero” faces an adversity, the trials she goes through and how she wins it. But then, similar to the book Wonder, in great stories there is always an underlying message the story teller wants to share with the world — a reason why the story exists, a reason why the story was shared with everyone in the first place.
<br> <br>
It could be about how human endeavor can succeed against all odds, it could be about encouraging kindness and discouraging discrimination, it could be about teaching empathy to our kids. Whatever they are, great stories are not just stories for us to be entertained. Great stories are, in their essence, about something that needs to be told, a value that the storyteller wants the entire world to see, hear and realize.
<br> <br>
James cameron shares his “care for the environment” by transporting us to the world of Pandora and helping us connect back with nature. How technology can disconnect us from reality is the core of the book and movie — Ready Player One.
<br> <br>

This is what stories are about — to help people see a different perspective, to help people change their beliefs so that they can change themselves for the better.
<br> <br>
Creators, using film-making technology, have utilized this power of storytelling to build a multi-billion dollar industry. By learning and adopting these techniques of great storytellers, product owners can build products that not only “entertain” users but also help them effect change in their lives for the better.
<br> <br>
<strong> The underlying pattern to great stories </strong> <br> <br>

Yes, great stories are about great accomplishments. But then, accomplishments are just a part of the story. There are a lot of other elements in and around “accomplishments” that makes for a great story experience.
<br> <br>

In the book “The hero with a thousand faces”, Joseph campbell finds that there is an underlying pattern in the journey of an archetypal hero in mythologies. Like mythologies, great stories of 21st century too have a common pattern.
<br> <br>

We want heroes to go behind something, something really great and accomplish it— but then would it matter to us if we do not connect with the hero to begin with? For example, Titanic might be about the shipwreck, but without connecting with Jack, Rose and their love, we would not be feeling anything when the ship goes down.
<br> <br>
Emotions are signals that an experience is important to us. Feelings make something real. When we remember an experience, we just don’t remember the visual images or smell, we remember how we felt — we remember the emotion. Otherwise the entire experience is lost up on us.
<br> <br>

Emotional connection is the starting point of all great stories and products. We connect with Rocky as a person before we start rooting for him to win. Because we connect with Auggie Pullman in Wonder, we feel his pain like our own. That’s the key to great story experiences — the empathy we feel for the hero and her condition. That’s where great stories succeed — they help you “empathize” with the character, so that you can emotionally experience what the hero goes through in her journey towards achievement.
<br> <br>

<strong> How “connection” can help in Product experience? </strong> <br> <br>
By reminding the user of an emotional experience and relating it to the product, we can make people care for what we are building. For example, most of us would have gone through the pain of moving to a new house – the horrors of finding a house, moving the stuff and what not. If we are building a real estate app or a furniture related business, this is an emotional experience where we could connect with users. By doing so, the product stops being “just another app” to something “I wish I had this last time I moved my house”.
<br> <br>
By helping the users empathize with the problem, by reminding users “emotionally” on the importance of something, we can connect strongly with users. And that connection is what will make the end user to try, use our product and adopt it to achieve something important.
<br> <br>
Let’s take another example. Slack has transformed from a team communication tool to this behemoth that represents everything to do with work. The original value proposition of Slack to its customers is very straightforward. Slack connects with a startup or a small team — on the most important thing for small businesses — time.
<br> <br>

By talking about time, Slack reminds users of hectic their work life is and lets them imagine how will it feel like to be less busy!
<br> <br>
You can see this again and again with successful products. Facebook connects to our desire of connecting with old friends and knowing “what’s going on in our world”. Masterclass connects to our desire of “learning and acquiring skills from the best”. Netflix connects to our desire of “entertaining ourselves in a cheaper, better and faster way”.<br> <br>

By sharing aspects of the product that connects to customers’ key desires, a product can get it’s target audience to take notice and try the product. Still we have to get them to use the product and adopt it continuously — but we have gotten the first step right by establishing a “connect”.
<br> <br>
Once connected, the audience needs to believe in the story, in the product. Users have connected with the problem, by remembering their own experiences. Now, they have to connect with the product, they need to believe that the product can help them transform, that the product can move them from A to B in their desire to achieve something.
Using storytelling techniques to appeal to customers’ belief system. Credits: Masterclass.com
<br> <br>
For example, Masterclass.com provides celebrity videos for learning various skills like acting, book writing, singing etc. For each of their classes, they have this trailer where the celebrity talks about how he or she can help people to acquire skills. Each of these trailers are designed to trigger the viewer to think “insights”, “process breakdown”, “wisdom”, “interesting”, “engaging”, “useful” etc., so that finally the viewer makes the mental transition to “it’s worth the money”.
Masterclass.com
<br> <br>
Each and every message from Masterclass screams — “you too can do it, you too can take this amazing knowledge from amazing people and transform yourself in your quest to become better.”
<br> <br>
By talking to users through their existing “belief system”, by understanding what beliefs of the audience are helpful in accepting the product, we can get the user to take actions that are inline with their goals.
<br> <br>
So that the users have connected with the story and believe in it, now the most interesting and important part — Transcendence.
<br> <br>
Happy stories are about the hero facing a big adversity and conquering it. And that is the moment of transcendence we are promising the users. By using the product, customers should be able to transcend their current state to the new “desired” state. This is the future state — “future you”, we are promising users.
<br> <br>
For example, I learn a new language as the result of using Duolingo. I learn a new skill through MasterClass. That’s the transcendence am buying the product for! Transcendence is the core of the product, it’s the promise that we make users that the product needs to deliver.
<br> <br>
By helping users to see ways of achieving this transcendence, by prodding them to take actions towards this transcendence, we help the users become successful at what they want.
<br> <br>
Transcendence in itself can have multiple small parts where we take the user through this journey of transformation.
<br> <br>
By constantly reminding the connect between the desire and the actions, by showing progress towards goals, by nudging, by converting “have to” to “want to”, we can help users to take actions on the app and transcend.
<br> <br>
But the bigger question is…
<br> <br>
<strong> How to make “transcendence” entertaining? </strong> <br> <br>

The big part of a great story is about making the transcendence interesting. This is where successful products get to the reward part faster.
<br> <br>
For example, using streaks and other gamification strategies, Duolingo keep us interested in learning the language of our choice. The app keeps reminding on how many levels we have completed(progress), the badges/crowns we have earned(rewards) and more to keep us “entertained” while we learn a language.
<br> <br>
By constantly showing the connection between user actions and progress through rewards, products can keep up the motivation of users to continue to try and use the product.
<br> <br>
And there are more such examples.
<br> <br>
By getting us to connect with 10 friends or more on signup, Facebook makes sure that we have necessary reasons to come back to the platform for more.
<br> <br>
By getting us to choose at least 3 interest areas during onboarding, Pinterest makes sure that we have enough pins on our feed to give a taste of value and bring us back.
<br> <br>
By prodding us to follow at least 10 people on signing up , Twitter makes sure that we have enough content on the site that will be of interest.
Photo by Fab Lentz on Unsplash
<br> <br>
Transcendence, to a large part, depends on getting users to see progress towards their goals and getting them to achieve it. It’s about giving “value” with minimum viable action on the part of the user. The faster and more frequently people see connection between their actions and achievement, the more they get hooked to the product.
<br> <br>
Stories might not be as interesting if not for the art of film making and the great technologies that made it to be possible.
<br> <br>
By using similar storytelling elements with path-breaking tech, products can not only entertain users but also help them change their behavior and transform themselves as a result.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>

<div class="post" id="piece_two">
	<h1 onclick='show_default("piece_two")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header">Two photographers went to a bar </h3>		
	<p> 

	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>

<div class="post" id="piece_three">
	<h1 onclick='show_default("piece_three")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> Thank you Facebook, for screwing it up for everyone else </h3>		
	<p> 

	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>

<div class="post" id="piece_four">
	<h1 onclick='show_default("piece_four")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> Corporates vs Startups </h3>		
	<p> 

	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>

<!-- END OF POSTS -->

	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
	
			<% if @authors_settings.email_subscription_feature %>
			<div class="functionality_container">
				<p class="functionality_title"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "harry_ven" %>
					<%= f.submit "done", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
			<% end %>

			<% if @authors_settings.social_icons_features %>
			<div class="functionality_container" style="margin-top: 60px;">
				<p class="functionality_title"> My Social </p>
				<a href="https://twitter.com/mailharishv" target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px;"></i>
				</a>
				<a href="https://medium.com/@mailharishv" target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<a href="https://www.facebook.com/harish.venn" target="_blank">
					<i class="fab fa-facebook" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
			</div>
			<% end %>

			<% if @authors_settings.contact_feature %>
			<div class="functionality_container" style="margin-top: 40px;">
				<p class="functionality_title"> Contact Me </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: " your message",
							style: "width: 170px; height: 100px;" %> <br>
				    <%= f.hidden_field :author, value: "harry_ven" %>
					<%= f.submit "send", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
	  		<% end %>
	  	</div>
	  </div>

	  </div>

</div>


<script type="text/javascript">
	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("middle_container").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url("https://pbs.twimg.com/profile_banners/27406229/1476198241/1500x500") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
