<p> <%= notice %> </p> <br>

<% if current_user %>
  <p> Youre logged in <%= current_user.name %>. </p>

  <%= link_to 'Login with LinkedIn', '/auth/linkedin' %>
  <%= link_to 'Log Out', logout_path , method: :delete %>
  <%= link_to 'go to account', user_account_path(current_user) %>
<% else %>
   <p> youre logged out. </p>

   <%= link_to 'Login with LinkedIn', '/auth/linkedin' %>
   <%= link_to 'Log Out', logout_path , method: :delete %>
<% end %>
