<p> <%= notice %> </p> <br>

<% if current_user %>
  <p> Hi <%= current_user.name %>, youre logged in. </p>

  <p> <%= link_to 'Login with LinkedIn', '/auth/linkedin' %> </p>
   <%= link_to 'Log Out', logout_path , method: :delete %>
<% else %>
   <p> youre logged out. </p>

   <p> <%= link_to 'Login with LinkedIn', '/auth/linkedin' %> </p>
   <%= link_to 'Log Out', logout_path , method: :delete %>
<% end %>
