<div class="container_of_page">
	
	<div class="the_get_page_btn">
		<p onclick="show_get_page();">
			Get a page like this.	
		</p>
	</div>

	<div class="left_ctn">
		<%= image_tag "james_finn.jpeg" %> <br> <br>
	</div>

	<div class="right_ctn">

		<p class="get_page_btn">
			<span style="font-size: 14px; text-decoration: underline;"> Mailing List </span>
		</p>
		<p class="get_page_btn">
			<span style="font-size: 13px;"> For when new <br> posts come out. </span>
			<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
				<%= f.text_field :email, placeholder: "me@myemail.com",
						style: "width: 160px; height: 28px; margin: 0px 13px 3px 13px;" %> <br>
				<%= f.submit "send", style: "cursor: pointer; float: right;
						margin-right: 17px" %>
			<% end %>
		</p>
		<br> <br> <br>

		<p class="get_page_btn">
			<span style="font-size: 14px; text-decoration: underline;"> Social Media </span>
			<br>
			<a href="https://medium.com/@jfinn6511">
				<i class="fab fa-medium-m" style="font-size: 28px; margin-right: 8px; padding-top: 10px;"></i>
			</a>
			<a href="https://twitter.com/jfinn6511">
				<i class="fab fa-twitter" style="font-size: 28px; padding-top: 10px"></i>
			</a>
		</p>

		<p class="get_page_btn">
			<span style="font-size: 14px; text-decoration: underline;"> Contact me </span>
			<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
				<%= f.text_area :email, placeholder: "your message ...",
						style: "width: 160px; height: 85px; margin: 0px 13px;" %> <br>
				<%= f.submit "send", style: "cursor: pointer; float: right;
						margin-right: 17px" %>
			<% end %>
		</p>
	</div>


	<div id="default_page_body">
		<% if notice %>
			<h1 style="margin-bottom: -48px;"> <%= notice %> </h1>
		<% end %>

		<h1> James Finn </h2>
		<h3 style="text-decoration: underline;"> Me in 10 seconds </h3>
		<p>

			Writer. Runner. Marine. Airman. Former LGBTQ and HIV/AIDS activist and organizer. Former member of Act UP and Queer Nation. Middle-aged, uppity faggot.
		</p> <br>

		<h3 style="text-decoration: underline;"> Posts <h3>
		<p class="title_of_work" onclick='show_piece("piece_zero");'> Queer — It’s Not Just Sexual Orientation or Gender Identity </p>
		<p class="title_of_work" onclick='show_piece("piece_one");'> The Odd Couple — Mental Disability and Power Imbalance </p>
		<p class="title_of_work" onclick='show_piece("piece_two");'> Queer in Iran </p>
		<p class="title_of_work" onclick='show_piece("piece_three");'> Tim and Me and a Trans Woman at a Trade Show</p>
		<p class="title_of_work" onclick='show_piece("piece_four");'> Let’s Talk About HIV and AIDS </p>
		<p class="title_of_work" onclick='show_piece("piece_five");'> Queer People Have Mental Health Problems </p>
		<p class="title_of_work" onclick='show_piece("piece_six");'> Queer Rights. LGBTQ. Orientation and Gender Identity under one Umbrella.</p>
		<p class="title_of_work" onclick='show_piece("piece_seven");'> Caleb at 18 </p>
	</div>


	<div class="piece_of_work" id="piece_zero">
		<h1 onclick='show_default("piece_zero")' class="go_back_btn">
			<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
		</h1>
		<p>
		<h3 class="piece_header"> Queer — It’s Not Just Sexual Orientation or Gender Identity </h3>		

People who meet me usually get the impression that I’m a pretty conventional guy. <br> <br>
I mean to say that I blend into a crowd. I’m a good listener, but if you get me going, I’m a good story teller too. I’m not loud, though.<br> <br>
I’m not flamboyant. My tastes are fairly conservative, even if I’m not conservative, not essentially. I’m always open to being different and unconventional.<br> <br>
I’m queer, and not just in the sense that I have a minority sexual orientation.<br> <br>
I’ve never had a relationship, not even my 10-year de facto marriage, that was sexually exclusive. I’ve never been interested in trying to duplicate or ape heterosexual, cisgender institutions and value systems.<br> <br>

Being queer — to me — means having the freedom to explore and invent ways of being, to create family, to live fully, to live differently from convention. <br> <br>

<strong> Let me tell you a story that helps explain what I mean. </strong> <br> <br>
I once had a friend with a beautiful summer house perched above a pristine lake in the Laurentian mountains.<br> <br>
He invited my boyfriend and me up quite often. We’d sit on the back porch at night wrapped in blankets, listening to gorgeous music floating across the lake from a nearby religious retreat.<br> <br>
We'd sip wine. We'd skinny dip in icy mountain runoff — skin stinging, gasping for breath.<br> <br>
During the day, we'd glide in a canoe through vast swathes of lily pads, fingers trilling through transparent water as we gazed at lazy frogs and eyed beavers bustling about their engineering marvels.<br> <br>

I’d dive for handful after handful of the chalky mussels that coated the rocky floor of a nearby cove. I’d steam them with white wine and lots of garlic and butter.<br> <br>
We’d swelter during the day, assaulted by a close, beating sun. The nights turned black and frigid the instant the swollen red disk sank below the lake’s edge— typical of the northerly clime.<br> <br>
One weekend, a friend joined us, seeking an escape from the hustle and bustle of life in the big city.
<br> <br>

Our little retreat enchanted him.<br> <br>
He swam, paddled, dove, and feasted on my cooking.<br> <br>
The second evening was particularly cold. He was shivering and joined my boyfriend and me under a thick quilt. Whether it was the magic of the moment, the beauty of the mountain vistas, or just the intimacy inspired by shared happiness, the three of us spent the night together, in the metaphorical sense.<br> <br>
How did it feel?<br> <br>
Sweet and good. Casual and not too significant. It felt like the pleasure of our holiday getaway was expanding and enveloping us like a warm cocoon.<br> <br>
We never had sex with our friend again, it never seemed like the thing to do.<br> <br> <br>

None of us ever regretted that night.<br> <br>
Frankly, none of us ever felt the need to seriously discuss it. We continued going out together sometimes. Our friend continued to come over for dinner every week or two.<br> <br>
We didn’t need to meet conventional sexual or romantic expections, so the fact of not meeting them just never seemed significant.<br> <br>
That’s what I mean by unconventional. That’s partly what I mean by queer, when I talk about queer.<br> <br>
I could tell other, similar stories, but this one seems apt.<br> <br>
I like it.
		</p>
	</div>

	<div class="piece_of_work" id="piece_one">
		<h1 onclick='show_default("piece_one")' class="go_back_btn">
			<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
		</h1>
		<h3 class="piece_header"> The Odd Couple — Mental Disability and Power Imbalance </h3>		
		<p>
Every once in a while I encounter something that rocks me a little, shakes up my presuppositions. <br> <br> 

When I was a teenager and young adult, people were first beginning to talk about the toxicity of power differential in relationships and marriages. I’m in my fifties. In the generations before mine, nobody would have understood the problem with differences in power. Men were the heads of family. Wives were perhaps not exactly subordinate, but they were not equal to their husbands. <br> <br> 

They weren’t supposed to be. <br> <br> 

Powerful men courted and wed their secretaries and other female assistants at work. It was a thing. Some women went to work to find men to marry. Tenured university professors had flings with or courted younger women students all the time. <br> <br> 

In some ways, these practices were even celebrated as romantic ideals. <br> <br> 

If you’re a lot younger than I am, you’re probably scratching your head right now. I can just hear you. Seriously? Ideal? Doesn’t everyone know that relationships need to be built on equality? <br> <br> 

Yes, we know that now. I was actually around to witness that sort of understanding take root. I’ve also witnessed the good the understanding has caused. A lot fewer people, especially young women, are subject to being manipulated and taken advantage of by men. <br> <br> 

Fewer young people are having their lives disrupted or ruined by more powerful older people using them and abusing them. Understanding the toxicity of unequal power has done a lot of good for a lot of folks. No question. <br> <br>

I’m glad for this new understanding of ours. <br> <br> 

Every once in a while, I see something that shakes me, though. Let me tell you a story. <br> <br> 

I knew Larry and Jim ages ago. <br> <br> <br>

Larry was perhaps forty when I first met them. Jim 30. They were both handsome, well dressed, fit but not gym-bunny fit. <br> <br> 

They were waltzing, two-stepping, and fox trotting at the synagogue social when I first spotted them. Jim’s inky hair was trimmed into tight ringlets. His full beard was not fashionable for the time, so he stood out. Drew my eye. <br> <br> 

Larry’s auburn locks were longer and beginning to thin. They whispered something about feminine values. <br> <br> 

Larry and Jim were a striking couple, like gems in a brooch that should have clashed, but ended up complementing one another. Something was odd about Jim, though. I couldn’t put my finger on it. <br> <br> 

At first. <br> <br> 

They were obviously in love. The way they looked at each other. The way Jim wouldn’t let himself be more than a few feet from Larry.
 <br> <br> 
I asked Lenny about them as we were browsing the buffet. I pointed with my chin. “You know those guys?”
 <br> <br> 
“Yeah. Larry? He’s a bookkeeper up at Random House. Good guy. Boring guy. You want I should introduce you later?”
 <br> <br> 
“I mean sure, I guess. I was just curious. That guy he’s with? What’s the deal?”
 <br> <br> 
“Oh, Jim? Larry’s Jim. Sweetest thing I ever saw.”
 <br> <br> 
Lenny’s pale blue eyes softened. He glanced over at Larry just as Jim was feeding him a piece of pastrami sandwich and laughing like a little kid.
 <br> <br> 
It finally clicked.
 <br> <br> 
“Lenny!” I gasped. “Jim isn’t, I mean Jim is … He’s not…”
 <br> <br> 
Lenny looked me in the eye and said the words very plainly, as he always did. “Yeah. He’s retarded. Slow… Really, really slow.”
 <br> <br> 
“But they were kissing!” I was shocked.
 <br> <br> 
“Because they’re lovers,” Lenny said softly, taking my hand. “They’ve loved each other for almost ten years. They live together.”
 <br> <br> 
It took me a while to process. I slowly got to know the two. Not well, really. I saw them maybe once a month over the next several years. We had them over to dinner a few times.
 <br> <br> 
I learned that Jim was pretty severely mentally disabled. He could mostly take care of himself, but he wasn’t capable of living on his own. I don’t know exactly what the issue was. What the diagnosis was.
 <br> <br> 
I know that some people whispered that Larry took advantage of Jim. Lenny had known them since they met, and he assured me that those accusations were baseless.
 <br> <br> 
The more I came to know the two, the more I saw that Lenny was right. They were incredibly patient with each other. They were incredibly tolerant of each other. They were absolutely devoted to each other.
 <br> <br> 
The last I heard they were growing old together, still together.
 <br> <br> 
If I had not come to know Larry and Jim, I think I would believe that a relationship like that could not work, that it might have to be abusive or exploitative by definition. The inherent power differential had to make the relationship impossible.
 <br> <br> 
But I did meet them. I did know them.
 <br> <br> 
And I know that each would be incredibly poorer without the other.
 <br> <br><br>
Don’t mistake the purpose of this story, please. I’m not suggesting that we ought to go back to the days when unequal relationships were expected and idealized. I’m just saying that sometimes we need to dig a little below the surface before we can understand the ground we’re walking on.
 <br> <br> 
Sometimes our presuppositions can do with a little good challenging.
		</p>
	</div>

	<div class="piece_of_work" id="piece_two">
		<h1 onclick='show_default("piece_two")' class="go_back_btn">
			<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
		</h1>
		<h3 class="piece_header"> Queer in Iran </h3>		
		<p>
		<strong> Hope under the Motor City stars </strong> <br> <br>

I was relaxing in the garden at Motor City Wine in Detroit’s Corktown last summer, sipping cool rosé with some friends. <br> <br>

The garden is a lovely spot on a hot summer’s evening. Leafy, breezy, cool. A cool crowd too. The hipster quotient is low, but the hip factor is high, if you take my meaning. <br> <br>

My friends and I were evidently showing the signs of the bottles we’d cracked open, because some young people approached us explaining that we were all loud enough that they’d heard us speaking French. <br> <br>

Would we mind if they sat down and chatted for a while? <br> <br>

It turns out they were young, urban Iranians who wanted to practice their own French, which turned out to be pretty good. <br> <br>

They were all university students or just a little older. Out of the five of them, three guys and two women, one of them was gay. All of them were very progressive, very irreligious, and would look at home in most of the world’s major cities. <br> <br>

I asked the gay guy something. “So, how’s life in Tehran? Are you free to be who you are? Like you and your friends are being tonight?” <br> <br>

“Sure,” he told me. “We have our friends, our places to go, our circles. Life is fine. In Tehran.” <br> <br>

“Meaning?” <br> <br>

“Lots of people in Iran are religious and conservative. If you live an urban lifestyle, and if you don’t do stupid things, you don’t have to live in the same world as those people. You can be you.” <br> <br>

We drank some more wine, offering glasses to our young guests, then said our goodbyes as they ran off to party and we prepared to call it a night. <br> <br>

I thought back to my own youth. I thought about my career in the Air Force. It occurred to me that I could have once said exactly what that young Iranian man had said to me. <br> <br>

I thought about all the incredible progress I’ve seen in my own lifetime, progress I could never have predicted and certainly didn’t expect. <br> <br>

Our table empty, I picked up the last bottle of wine. I tilted it, spilling the few remaining drops into my glass, which I raised in salute to the stars. I drank a silent toast of hope to the all queer people around the world still forced to live in darkness. <br> <br> <br>

I recently published a piece on Medium about my own lifetime of experiences related to queer acceptance. I think it might illustrate my thinking nicely with respect to the story above.
		</p>
	</div>


	<div class="piece_of_work" id="piece_three">
		<h1 onclick='show_default("piece_three")' class="go_back_btn">
			<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
		</h1>
		<h3 class="piece_header"> Tim and Me and a Trans Woman at a Trade Show </h3>		
		<p>
		<strong> Appealing to parental love </strong> <br> <br>
My business partner Tim and I went to a trade show in New Orleans last March and met a transgender woman.
<br> <br>
Sort of.
<br> <br>
Deal making, horse trading, and card swapping were the highlights of the show, the main reason I was there. Who really wants to see a bunch of cheesy display booths? We were there to do business, and the place of business, traditionally called “the snake pit,” was a plush hotel bar located right outside the main display hall.
<br> <br>
One day, a sharply dressed, tall woman I hadn’t seen before set up and opened the bar after lunch. She was very fast and efficient, doing a hell of a job slinging beers and booze to a dense, demanding crowd.
<br> <br>
It didn’t take long for the whispers to start.
<br> <br>
“Look at those hands, why don’t you!”
<br> <br>
“Can’t you see that adam’s apple?”
<br> <br>
“Holy fuck, I think it’s got five o’clock shadow!”
<br> <br>
(She didn’t.)
<br> <br>
The comments were vicious and cruel, many of them uttered in mock whispers loud enough that she must have been able to hear.
<br> <br>
Yeah, the bartender was a transgender woman.
<br> <br>
Even though she was an excellent server and perfectly pleasant and nice looking, the dozens of plastics executives crowded around her were over-the-top cruel.
<br> <br>
I was curious how my own associates would behave, especially with me there, out to them for ages as gay.
<br> <br>
Two of my partners met my fairly low expectations. From very conservative backgrounds, they’re proud of themselves for accepting me. Well, they’re proud of themselves for believing that they do.
<br> <br>
In a way, they’re progressive. They had to really dig deep to embrace me as a partner. They came to terms with my sexual orientation, though, with exceptionalist thinking.
<br> <br>
You know.
<br> <br>
Jim’s OK. He’s not like a bunch of those other gay guys. He’s a former Marine. He drives a Bobcat on the factory floor. He’s good with tools and manual labor. He’s one of the good gays.
<br> <br>
They’ve never said those words. I can feel them, anyway.
<br> <br>
What did they say about the trans woman?
<br> <br>
Let’s not talk about the details. Suffice it to say that my partners thought they were complimenting me by congratulating me for not being like her. I tried to do a little consciousness raising, so I spoke their language. I used our corporate credit card to tip the poor woman $100.00. That wasn’t totally beyond the pale given the hours she served us and the rounds of drinks we bought, but it was very generous. They noticed, which is exactly what I intended.
<br> <br>
Tim was another story.
<br> <br>
He’s also pretty conservative, but he’s warm and generous by nature. Very empathetic. We went for a long walk and had a long talk that night in New Orleans's French Quarter.
<br> <br>
As we strolled along, peering into shop windows, listening to jazz in the streets, and enjoying the scent of tropical breezes, we talked about our transgender bartender. We also talked about Tim’s little son.
<br> <br>
For a little background, Tim and I weren’t just business partners. We’re close. Friends. I’ve spent time with him and his family — fishing, camping, hanging out. That night in New Orleans, we spoke freely and intimately with one another.
<br> <br>
He didn’t approve of the way our trans bartender was treated. Tim doesn’t approve of being mean to people. That’s not him.
<br> <br>
But he was very direct about not understanding a lot of trans issues. What particularly bothered him was the public restroom controversy, which was raging at the time in the news.
<br> <br>
He framed it in terms of his children. “What if Jared was a little girl instead of a boy?’ he asked me. “I’d feel scared to death to have my little girl walk into a restroom with women who were really men. It’s not right. I’m a dad. I have to protect my kids. That doesn’t make me a bad person.”
<br> <br>
We spent thirty minutes talking about what trans means. I’ll spare you the details. Tim listened carefully, though.
<br> <br>
Then I cut to the chase.
<br> <br>
“Buddy,” I said, “How would feel if you found out five or six years from now that Jared’s gay? How would you react? Honestly?”
<br> <br>
I could see him concentrate. His brow wrinkled tightly. “Well,” he stuttered, “I think you know. I love my son more than anything in the world. Nothing would ever change that.”
<br> <br>
“I hear a but in your voice.”
<br> <br>
“Well, of course, man. I wouldn’t want him to have a hard life. I don’t want people to bully him and treat him bad. Like that bartender tonight. I don’t want that for my kid.”
<br> <br>
“OK, well, she’s trans, not gay, but I take your point. Can we take this to the next level, dude?”
<br> <br>
He nodded.
<br> <br>
“So, what if instead of Jared coming out as gay, he came out as trans? Then what?”
<br> <br>
“What do you mean?”
<br> <br>
“So, what if he’s living as a girl instead of a boy? What if these new laws conservative are proposing force him to use men’s rooms, even though that’s clearly going to put him in danger? What if he doesn’t just get bullied? What if he gets the shit kicked out of him by jerks like those people at the bar today?”
<br> <br>
“But…”
<br> <br>
“But as a dad, your most important job is taking care of and protecting your children, right?”
<br> <br>
I could almost literally see the light bulb go off over his head.
<br> <br>
He got it.
<br> <br>
He hasn’t supported conservative public restroom laws since that day.
<br> <br>
I never saw that trans bartender again. I wish I had. I’d love to tell her that she made a big difference for at least one person. Her patience in the light of blatant bulling and harassment helped at least one person decide to come down on the side of decency and respect.
<br> <br>
Tim is a good man and loving father. All it took to reach him was an appeal to his innate decency and his fierce love for his children.
<br> <br>
I realize that isn’t enough for everyone, but it’s enough for many.
		</p>
	</div>


	<div class="piece_of_work" id="piece_four">
		<h1 onclick='show_default("piece_four")' class="go_back_btn">
			<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
		</h1>
		<h3 class="piece_header"> Let’s Talk About HIV and AIDS </h3>		
		<p>
		<strong> What’s the deal with mothers passing the virus on to newborns? </strong> <br> <br>
Worldwide, the HIV epidemic is in decline. In much of the developed world, the virus has become rare, even among traditionally high-risk populations. Gay male populations in the United States and Canada, for example, are now seeing rates of new infections so low that HIV can no longer be considered endemic.
<br> <br>
Even in the world’s hardest-hit regions, like southern and eastern Africa, rates of new infections are finally beginning to decline instead of increase.
<br> <br>
We are not, however, living in a post-HIV world. Not yet.
<br> <br>
In future articles, I’ll be writing more on the end of the epidemic and public health strategies for reaching the elusive post-HIV state. Today, though, I’d like to concentrate on a facet of HIV disease that few people know much about — mother-to-child transmission and how to prevent it.
<br> <br>
First, some background.
<br> <br>
AIDS is the name of a syndrome of illnesses that can occur during the end stages of chronic, untreated infection with HIV, the Human Immunodeficiency Virus.
<br> <br>
People in treatment for HIV almost always see their viral levels reduced to undetectable. Their immune systems remain healthy. They don’t become ill. According to the US CDC, people living with HIV who are in effective treatment are unable to infect others sexually.
<br> <br>
Positive and and negative partners in sero-discordant couples have sex all the time without condoms and without pre-exposure prophylaxis medication — without any significant risk to the negative partner.
<br> <br>
While this surprises some people, it’s a relatively well-known phenomenon, especially among people living with HIV.
<br> <br>
What fewer people are aware of is that HIV-positive women can and do give birth to children with little to no risk, under proper medical care and supervision. Let me tell you about the latest medical news on that front.
<br> <br>
Women living with HIV, whether or not they have AIDS, can pass the virus on to their children in three ways. Let me detail those three ways and talk about how to prevent or mitigate risk in each circumstance.
<br> <br>
<strong> 1. During pregnancy. The virus can pass the placental barrier and infect the unborn child in utero. </strong>
<br> <br>
    - Mothers who start antiretroviral therapy (ART) before pregnancy, and who attain an undetectable viral load, can reduce the odds of in-utero transmission to effectively zero. Many HIV-positive women in treatment plan pregnancies with the advice of their HIV specialists.
<br> <br>
<strong> 2. During delivery. Infants can be exposed to HIV in the birth canal. The birth process represents the highest level of risk of infection to the baby.</strong>
<br> <br>
    - Again, mothers who are in antiretroviral treatment with suppressed viral levels are highly unlikely to pass the virus on during birth. <br> <br>
    - Mothers who don’t discover their HIV status in time for treatment to suppress their viral levels can greatly reduce the odds of transmission during birth by delivering via caesarian section. <br> <br>
    - Also, certain antiretroviral medications easily pass the placental barrier and offer protection to the baby during birth, even if the mother’s viral level are not yet fully suppressed. It’s important to consult with an HIV medical specialist to determine the best strategies for protection.<br> <br>

<strong> 3. During breastfeeding. Breast milk contains HIV in HIV-positive women who are not in treatment.</strong>
<br> <br>
    - Women who do not begin treatment in time to suppress their viral levels should bottle feed their newborns with formula.<br> <br>
    - The WHO recommends breastfeeding for HIV-positive mothers in antiretroviral treatment with durably undetectable viral load.[1]<br> <br>

In short, antiretroviral treatment can reduce the odds of HIV transmission from mother to child to near zero.[2] Women who are already in effective treatment for HIV when they become pregnant can expect a routine experience with few complications. Women who become infected after pregnancy begins can still greatly reduce if not eliminate the possibility of passing the virus on to their newborns.
<br> <br>
It is very important for expectant mothers and for women who think they may become pregnant to be aware of any risk factors they may have for HIV infection.
<br> <br>
Only testing and treatment can ensure a high likelihood of a good outcome.
<br> <br>
If an expectant mother waits to be tested, it may be too late to prevent HIV transmission to her unborn child.
<br> <br>
Professional medical supervision is critical.
		</p>
	</div>


	<div class="piece_of_work" id="piece_five">
		<h1 onclick='show_default("piece_five")' class="go_back_btn">
			<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
		</h1>
		<h3 class="piece_header"> Queer People Have Mental Health Problems </h3>		
		<p>
		<strong> That proves it’s bad to be queer. Right? </strong> <br> <br>
I write a lot about LGBTQ issues. Tens of thousands of people have read my stories and essays. Thousands of people have taken the time to reply to me and share their views.
<br> <br>
Usually, I hear from queer youth who thank me for inspiring them, or from allies and others who want to share consciousness-raising stories and uplifting tales. Disturbingly, however, I also receive a small but steady stream of bigoted nonsense.
<br> <br>
I hear from people who want to tell me that being queer is wrong. That we’re sinners or that we’re sick. Or both.
<br> <br>
So, check this out.
<br> <br>
A young man recently shared with me that a Catholic priest told him that we LGBTQ people have elevated predispositions to depression, and to learning, mental, and social disabilities. The priest told him that proves that being queer is wrong, that it’s something people must fight against. The kid asked me how he should answer the priest.
<br> <br>
Here’s my response in a nutshell. <br> <br>
<strong> That’s rich. </strong>
<br> <br>
That priest (bless his hoary ole homophobic heart) is simply making a self-fulfilling prophecy.
<br> <br>
Organized religion is largely responsible for oppressing LGBTQ people in the first place. They put the structures in place to cause us to have to hide our true selves, even from our families and other people we love.
<br> <br>
They teach us to be self loathing.
<br> <br>
They dish up the heaping portions of unhealthy homophobia that we internalize.
<br> <br>
They make us scapegoats.
<br> <br>
And then they point fingers and say we have trouble socializing, that we get depressed?
<br> <br>
Well, duh!
<br> <br>
In point of fact, LGBTQ people growing up today have much better chances of being happy, fulfilled and healthy than ever before.
<br> <br>
Why?
<br> <br>
Obviously, because so many of us grow up now understanding that there’s nothing wrong with us, that we’re just ordinary, minority variants of human beings.
<br> <br>
So many of us now have the wonderful opportunity to understand that the priests are full of nonsense. Without that priest and other obnoxious people like him, we’d have very little to worry about.
<br> <br>
Sadly, evil bigots like that priest still have influence. So many of our beautiful young people continue to suffer needlessly, continue to attempt suicide, continue to end up living in shelters or on the street.
<br> <br>
This is what I told my correspondent —
<br> <br>
The next time you see that priest? Tell him you’re onto his game.Tell him to keep quiet and leave decent people alone. Tell him you won’t tolerate his homophobic nonsense.
<br> <br>
Tell him that his barbaric, medieval religious beliefs are gravely harming innocent, intrinsically harmless people. Tell him that the Catholic catechism, which officially teaches school children every day that we queer people are “depraved” and “disordered,” is an evil document.
<br> <br>
Tell him that you insist that he behave like a decent human being instead of an obnoxious bigot.
<br> <br>
Tell him that his beliefs are precisely morally equivalent to those of racists and and anti semites, of members of the Ku Klux Klan, and of Nazi leaders.
<br> <br>
Tell him that he covers himself in shame and disgrace when he speaks out in favor of the stigmatization and dehumanization of his fellow human beings who happen to be biologically different.
<br> <br>
But whatever you do, I said, don’t give his homophobic bigotry a pass. Don’t be silent. Make sure he experiences the social consequences of his evil. Shame him. Shun him.
<br> <br>
Let him know you find him to be repulsive on a deeply personal, visceral level.
<br> <br>
We don’t tolerate racism. We must not tolerate homophobia.
<br> <br>
Religion is no excuse.
<br> <br> <br>
I recently published two serialized stories that explore the harm that queer youth experience due to homophobia. While the characters are fictional, the stories are terribly real, based on experiences that queer youth go through every day.
<br> <br>
If you’d like a peek at the real lives of queer teens who suffer from religious bigotry, please click on the links below.
		</p>
	</div>


	<div class="piece_of_work" id="piece_six">
		<h1 onclick='show_default("piece_six")' class="go_back_btn">
			<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
		</h1>
		<h3 class="piece_header"> Queer Rights. LGBTQ. Orientation and Gender Identity under one Umbrella. </h3>	
		<p>
		<strong> What’s the deal? How did this happen? </strong> <br> <br>
You all know what LGBTQ stands for, right? Lesbian, Gay, Bisexual, Transgender, and then either Questioning or Queer.
<br> <br>
Back in 1990 when I joined Act Up, the Q (when it was used at all) was presumed to mean questioning. That’s changed, depending on who you ask. Queer used to have a very particular theoretical meaning, though these days it’s accepted more and more as an umbrella term for people with minority sexual orientations and gender identities.
<br> <br>
I like that. I think it’s useful.
<br> <br>
Some people today, though, and particularly people younger than me, often wonder why sexual orientation issues and gender identity issues are connected. Aren’t they very different phenomena? What’s the link?
<br> <br>
I’ll grant that it might seem today that sexual orientation and gender issues are very separate, indeed; but that separation has not always been the case in public perception.
<br> <br>
As a matter of fact, it hasn’t always been the case among us queer folk.
<br> <br>
When I was a boy, for example, gay men were presumed by the public to be men who wanted to be women or men who thought of themselves as women. Even as recently as when I was a teenager, back in the Stone Ages of the 1970s, gender identity was barely understood by anyone in the way we understand it today.
<br> <br>
I, myself, only rarely distinguished transgender women from effeminate gay men in those days. Of course, we didn’t call them transgender women then. Gender identity was barely a theoretical concept.
<br> <br>
For the people who ask why we added trangender people to the LGBTQ movement, the answer is that we didn’t. Our transgender brothers and sisters have always been with us and part of us. Only vocabularies have changed.
<br> <br>
Transgender men and women are integral and organic to the LGBTQ movement, and always have been.
<br> <br>
From the proto-gender-queer 19th-century Uranians [1], to the roaring days of Queer Berlin [2] of the 1920s and 30s, to the drag-queen-and-trans-led Stonewall Riots [3] of 1960s Greenwich Village, transgender men and women have shared a cause and fought for rights along with lesbians, gay men, and bisexual people.
<br> <br>
The T is there in the acronym because people with minority sexual orientations and minority gender identities have been struggling and fighting for our rights together since the birth of our movement.
<br> <br>
Part of the reason why transgender visibility feels like a newer thing than visibility for lesbians and gay men is that in some ways people are thinking differently today about sexual orientation and gender identity than we did as little as even a generation ago.
<br> <br>
Transgender people as a phenomenon, of course, are as old as humanity.
<br> <br>
As a concept or a construct, not so much, with some standout cultural exceptions.
<br> <br>
After sexual orientation as a construct became common, transgender people were usually thought about or assumed to be the same thing as lesbians and gay men — or a particular subset of lesbians and gay men.
<br> <br>
The transgender women who stood up for all of our rights during the Stonewall Riots had probably never heard the word “transgender,” for example.
<br> <br>
They mostly called themselves drag queens and more than likely considered themselves to be gay. They probably understood at some level that gender identity was a thing, but seeing as how the term “gender identity” had not yet been born, talking about it was limited.
<br> <br>
Even thinking about it was constrained by lack of understanding and vocabulary.
<br> <br>
Transgender women and transgender men were among the founding members, however, of both the Gay Liberation Front and the Gay Activists Alliance, the original New York City rights organizations spawned from Stonewall’s churning waves.
<br> <br>
Transgender men and women have been part of the struggle for what we now call LGBTQ rights for as as long as that struggle has existed.
<br> <br>
We’re seeing increased visibility for trans people and trans rights in particular today because we understand much better than ever before that gender identity is a particular biological phenomenon separate from sexual orientation. (Caveats apply. Some of the science is complex and nuanced. That’s a subject for a different article, though.)
<br> <br>
This understanding is relatively new.
<br> <br>
It’s newer than the struggle for what we think of today as LGBTQ rights.
<br> <br>
The understanding is new, and communication about the understanding is new. That’s wonderful, in some ways. It’s a lot easier to advocate for people and rights when you have accurate language to talk about those people and those rights.
<br> <br>
Transgender visibility and distinction are increasing because a lot of us are finally “getting” transgender in ways we never could or did before now. As an older queer man, I’d like to remind my younger confederates that full human rights and dignity for trans people have been priorities for queer people for a very long time.
<br> <br>
The T isn’t tacked on to our acronym. It’s inextricably intertwined.
		</p>
	</div>


	<div class="piece_of_work" id="piece_seven">
		<h1 onclick='show_default("piece_seven")' class="go_back_btn">
			<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
		</h1>
		<h3 class="piece_header"> Caleb at 18 </h3>		
		<p>
		<strong> After the bad and the good, life goes on </strong> <br> <br>
Dear Amanda, 
<br> <br>

My name is Caleb and I’m gay.
<br> <br>
I know you probably think I can’t know that for real cause I’m only 15. I really know, though.
<br> <br>
Remember that?
<br> <br>
It seems so long ago that you first interviewed me and wrote that down. Probably longer for me than for you.
<br> <br>
Remember how suspicious I was of you?
<br> <br>
I don’t do email so much. I wish you had regular Internet so we could chat, I mean if you wanted to. But that’s OK. Maybe I can take some time and put down some serious thoughts that wouldn’t come to me if we were just talking.
<br> <br>
But anyway, I’m glad you gave me your Gmail, even if you can only check it a few times a week. It must be crazy living down there. I think it’s awesome that you went with Emily to do her research project.
<br> <br>
Are you learning any Mayan, by the way? Is it hard?
<br> <br>
Even though I miss you (a lot!) I am OK. I wanted you to know that. I also want you to know that I might not be OK if it wasn’t for you. My parents are fine, they mostly leave me alone, but I always feel like I have to hide the real Caleb from them.
<br> <br>
Not like with you.
<br> <br>
Remember how you encouraged Travis and Marlene and me to start a Gay Straight Alliance club at school?
<br> <br>
Even though Travis and I just graduated, Marlene will be there next year still, and lots of younger kids are coming to meetings too.
<br> <br>
It’s going strong.
<br> <br>
Thanks to you. You really matter.
<br> <br>
I’m sorry you got fired. I know you said you’d been expecting it, but it really sucks. Don’t those people at CPS get how important you are to some of us?
<br> <br>
You saved my life, Amanda. In so many ways. I don’t know if you’ll every really understand how important you were to me back when I was a confused kid who hated himself.
<br> <br>
You were the first gay adult I ever knew. You were my role model. The only one I had.
<br> <br>
And not just me.
<br> <br>
Marlene still cries about you being gone sometimes. Not to worry you. She’s OK. She’s strong, you know. She’s always been the strongest of all of us.
<br> <br>
Being trans is hard. Super hard. Especially when you’re a kid.
<br> <br>
I still remember how super surprised you were when Travis’s mom offered to take Marlene in. Give her a home. I don’t think much shocks you, but that sure did.
<br> <br>
I think that’s the only time I ever saw you speechless.
<br> <br>
We’re alike in a lot of ways, huh? Kind of sad. We don’t trust people, do we? We’re suspicious and defensive. We’re always ready to fight.
<br> <br>
I guess we have to be, huh? We both learned really young how hard it is to be us.
<br> <br>
Travis never had to learn that, not for real. I’m not saying he doesn’t have his own struggles and challenges, but it’s different for him.
<br> <br>
It’s like we grew up in separate worlds, even though we were only a few blocks apart some of the time, even though our parents were a lot a like in many ways. Except one really important way, obviously.
<br> <br>
Did you know we broke up?
<br> <br>
A little while ago.
<br> <br>
I mean, it was kind of inevitable, anyway. That’s what we told each other. We’re going to be a thousand miles apart at different colleges. We need to be free to live our lives. Right?
<br> <br>
Yeah, but you know what? I don’t know if I can do it. If I can handle a real relationship.
<br> <br>
Travis and I were great, but …
<br> <br>
Amanda, part of me never can get over all the shame I used to feel. Part of me always holds Travis a little bit away from me. Part of me can’t trust him enough to let him all the way in.
<br> <br>
I think he knew that. Knows that. I think that’s why he let me go so easy when I told him.
<br> <br>
I’ll always love Travis. He’ll always be my first, best buddy, and my first kiss. First lots of other things too, but I’ll spare you the details!
<br> <br>
Will it always be like this for me?
<br> <br>
Am I always going to have trouble giving myself all the way to another person?
<br> <br>
How did you manage?
<br> <br>
How did you find Emily and let her in? You’ve hinted a little about how hard it was. I know you were terribly unhappy before you met her.
<br> <br>
I hope I find my Emily one day. I worry that I won’t be able to, but since I have you to look up to, I have hope.
<br> <br>
Thanks so much for being you, even though being you was too much for those asshole bureaucrats where you worked.
<br> <br>
Maybe one day when my kids are my age, if I have kids, it’ll be really, really OK to be like us. Maybe it’ll be so OK that people won’t get fired because they tell abused kids' parents that homophobia is wrong.
<br> <br>
I just can’t get over it. I’m so mad they told you it wasn’t OK to say things like that.
<br> <br>
I haven’t decided yet if I’m going to be a social worker or a lawyer. Whichever I decide, I’m going to do your kind of work.
<br> <br>
I’m going to help people. Our kind of people.
<br> <br>
I just wish I knew if I’m going to be able to help myself.
<br> <br>
I think I can.
<br> <br>
When I doubt, I close my eyes and I see you and Emily’s guardian-spirit rattlesnakes.
<br> <br>
Then for a little while at least, I feel like I can tackle anything.
<br> <br>
Lots of love, Amanda. From Travis and Marlene, but especially from me.
<br> <br>
Your friend always,
<br> <br>
Caleb
<br> <br>
P.S. My dad says hi. He still won’t admit he likes you, but I can tell he really does.
		</p>
	</div>


	<div id="get_page_like_this">
		<h1 onclick='show_default("get_page_like_this")' class="go_back_btn">
			Back 
		</h1>

		<h3 class="piece_header" style="margin-top: 20px; text-decoration: underline;"> 
			Generate your own site:
			<!-- All you need to do. -->
		 </h3>		

		<!--
		<h3> The literally-no-effort way to start representing yourself online 
		& collect Emails from followers/fans. </h3>		
		-->
		<p>
			<%= form_for :new_page_user, url: new_page_user_url do |f| %>
				<p> Email address <br>
				<%= f.text_field :email, placeholder: "myemail@example.com" %> <br>
				</p>
				<p> Link to your Medium <br> <%= f.text_field :medium_link, placeholder: "medium.com/@myName" %> <br>
 					</p>
				<%= f.submit "done", style: "cursor: pointer;" %>
			<% end %>
			<br> <br>

			<h3 style="text-decoration: underline;"> How it works </h3>
			Submitting the form will use the info on your
			 Medium profile to generate your own site in the same layout as the site that
			I have made for myself. It's literally no effort. Submit and you're done.
			<br> <br>
			<!--
			If you can afford it, I'd like to charge 2.99£ / month 
			- mostly because maintenance requires work.
			But if you can't afford it, no worries.
 			<br> <br>

			Any questions or requests? Please get in touch! <br> 
			<a href="mailto:joseikowsky@gmail.com?Subject=Hi" id="my_email" target="_top"> joseikowsky@gmail.com </a> <br> <br>
			Best, <br> <br>
			Johannes
			-->
		</p>
	</div>

	<div class="my_page_footer">
		<%= link_to "Find me on Twitter", "https://twitter.com/jfinn6511", style: "color: black; font-weight: bold;" %> |
		<%= link_to "Find me on Medium", "https://medium.com/@jfinn6511", style: "color: black; font-weight: bold;" %>
	</div>
</div>

<style type="text/css">
	/*
	body{
	  background-color: #F7EEE5;
	}
	*/

	.container_of_page{
	  width: 474px;
	  margin: 96px auto;
	  position: relative;
	  background-color: white;
	  padding: 0px 22px 8px 22px;
	}

	h1{
		font-size: 26px;
		font-weight: bold;
		padding-bottom: 9px;
		padding-top: 10px;
		margin-top: 75px;
		margin-bottom: 14px;
		border-bottom: 1px solid #eee;}

	p{
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 16px;}

	#my_email:hover{
		text-decoration: underline;
	}

	.right_ctn{
		position: absolute;
    	right: -196px;
    	top: 0px;		
	}
	
	.left_ctn{
		position: absolute;
    	left: -200px;
    	top: 0px;		
	}


	.the_get_page_btn{
		position: fixed;
		top: 12px;
		right: 12px;
		width: 180px;
		height: 44px;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		border: 1px solid lightGrey;
		background-color: #FFE9AF;
		padding: 8px;
	}

	.get_page_btn{
		width: 85%;
		margin-left: 12px;
		margin-bottom: 5px;
		cursor: pointer;
		padding: 15px 15px;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		background-color: white;
		border: 1px solid lightGrey;
	}

	.mini_slogan{
		margin-left: 11px;
		font-size: 13px;
	}

	img{
		width: 80%;
		height: auto;
		margin: 15px 10% 15px 10%;
		border: 1px solid #9F9F9F;
		margin-bottom: 26px;
		width: 180px;
		height: auto;
		margin: 0;}

	h3{
		margin: 0 0 8px 0;
		padding: 0;
	}

	.email_ctn{
		padding: 8px 25px 14px 12px;
		background-color: #F1F1F1;
		margin: 30px 0px 32px 0px;
	}

	.title_of_work{
		cursor: pointer;
	}

	.title_of_work:hover{
		text-decoration: underline;
	}

	.piece_of_work{
		display: none;
	}

	.piece_header{
		padding-top: 8px;
	}

	.go_back_btn{
		cursor: pointer; 
		font-size: 20px;
		padding-top: 10px;
	}

	#get_page_like_this{
		display: none;
	}

	.my_page_footer{
		width: 100%;
		text-align: center;
		height: 40px;
		line-height: 2.8;
		margin-top: 40px;
		background: #F1F1F1;		
	}
</style>


<script type="text/javascript">
	function show_piece(piece_id){
		// hide main
		default_page_body = document.getElementById("default_page_body");
		default_page_body.style.display = "none";
		// display piece
		piece_of_writing = document.getElementById(piece_id);
		piece_of_writing.style.display = "block";	
	}

	function show_default(piece_id){
		// hide current piece
		piece_of_writing = document.getElementById(piece_id);
		piece_of_writing.style.display = "none";

		// show main
		default_page_body = document.getElementById("default_page_body");
		default_page_body.style.display = "block";
	}

	function show_get_page(){
		// hide main
		default_page_body = document.getElementById("default_page_body");
		default_page_body.style.display = "none";
		default_page_body = document.getElementById("piece_zero");
		default_page_body.style.display = "none";
		default_page_body = document.getElementById("piece_one");
		default_page_body.style.display = "none";
		default_page_body = document.getElementById("piece_two");
		default_page_body.style.display = "none";
		default_page_body = document.getElementById("piece_three");
		default_page_body.style.display = "none";
		default_page_body = document.getElementById("piece_four");
		default_page_body.style.display = "none";
		default_page_body = document.getElementById("piece_five");
		default_page_body.style.display = "none";
		default_page_body = document.getElementById("piece_six");
		default_page_body.style.display = "none";
		default_page_body = document.getElementById("piece_seven");
		default_page_body.style.display = "none";
		piece_of_writing = document.getElementById("get_page_like_this");
		piece_of_writing.style.display = "block";		
	}
</script>
