<div class="page-header-johannes">
    <%= link_to "Bio / About Me", root_path, class: "header_links", 
    				onclick: 'show_page("bio"); return false' %>
    
    <%= link_to "All Posts", root_path, class: "header_links", onclick: 'show_page("posts"); return false' %>
    
    <%= link_to "Message Me", root_path, class: "header_links", onclick: 'show_page("contact"); return false' %>

    <%= link_to "Subscribe", root_path, class: "header_links", onclick: 'show_page("email"); return false' %>
</div>


<!--
<%= link_to "Get your own Wordgates Page", get_page_path, id: "dashboard_link", style: "background-color: white;			text-decoration: none; border: 1px solid grey;" %>
-->

<div class="container-fluid">
	
	  <div class="central_container" style="border: 1px solid #F5F5F5; padding-bottom: 75px;"> 		

	  	<div id="left_side_container" class="left_side_container"> 		
		    <%= image_tag "johannes.jpg", id: "profile_image", style: "margin-bottom: 6px;" %>
		    
		    <p class="functionality_title"> More Stuff </p>

		    <%= link_to "Book Recommendations", root_path, class: "right_side_links", onclick: 'show_page("books"); return false', style: "background-color: #F5F5F5; width: 200px;" %>
		    
		    <%= link_to "Favorite Quotes", root_path, class: "right_side_links", onclick: 'show_page("quotes"); return false', style: "background-color: #F5F5F5; width: 200px;" %>
		<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container" style="background-color: #F9F9F9;">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h3 class="name_title"> Johannes Seikowsky </h3>

			<h3 class="title"> Me in 10 seconds </h3>

			<p>
			 	Formal Education - Economics. <br>
			 	Self-taught programmer. <br>
			 	Writer/Poet by compulsion. <br>
			 	Interested in many things. <br>
			 	Living in London and enjoying it. <br>

			</p> <br> <br>

			<!-- <h3 class="title"> Posts </h3> -->

			<p class="post_title" onclick='show_piece("piece_minus_two");'> The Modern Man </p>
			<p class="post_excerpt"> The Modern Man rarely looks at paintings </p>

			<p class="post_title" onclick='show_piece("piece_minus_one");'> In the Mood for Walking </p>
			<p class="post_excerpt"> It's itchy down there </p>

			<p class="post_title" onclick='show_piece("piece_zero");'> A Primer on the Day </p>
			<p class="post_excerpt"> In Washington, a clown makes people frown </p>

			<p class="post_title" onclick='show_piece("piece_one");'> In Canary Wharf </p>
			<p class="post_excerpt"> In Canary Wharf they have all </p>

			<p class="post_title" onclick='show_piece("piece_two");'> Old Man on a Bench </p>
			<p class="post_excerpt"> Walking in the park </p>
	
			<p class="post_title" onclick='show_piece("piece_three");'> Captain of the Ship of You </p> 
			<p class="post_excerpt"> It’s in your heart, it’s in your spine </p>
			
			<p class="post_title" onclick='show_piece("piece_four");'>  Feet, to Feet </p>
			<p class="post_excerpt"> Most ignore you, some abhor you, some adore you </p>
		</div>

<!-- START OF POSTS -->
<div class="post" id="piece_minus_two">
	<h1 onclick='show_default("piece_minus_two")' class="go_back_btn">
		Go Back 
	</h1>
	<h3 class="piece_header"> The Modern Man </h3>		
	<p style="font-size: 16px;">
		The Modern Man rarely looks at paintings <br>
		and rarely reads the classics.<br>
		For neither seems very productive.<br>
		So he thinks anyway.<br>
		One can disagree.<br><br>
		The Modern Man is an expert -<br>
		an expert pain-withstander.<br>
		Because after all — No pain, No gain.<br>
		And No gain — What a No No!<br><br>
		Success that seems to be his new religion,<br>
		the only name of his only game.<br>
		Pursued with clenched fervor, <br>
		sometimes just to impress her.<br><br>
		Hasn’t he come far, the Modern Man? So, so far!? <br>
		He thinks so. Mostly and most of the time anyway.<br><br>
		What do you think? Do you agree? <br> Do you want to be a Modern Man?<br>
		Do you think it’s worth your while? <br>
		One can disagree.
	</p>
</div>

<div class="post" id="piece_minus_one">
	<h1 onclick='show_default("piece_minus_one")' class="go_back_btn">
		Go Back 
	</h1>
	<h3 class="piece_header"> In the Mood for Walking </h3>		
	<p style="font-size: 16px;">
		It’s itchy down there,<br>
		toes are twitching,<br>
		calling in demands, demanding action -<br>
		GO GO GO!<br>
		You have to.<br>
		Mother Nature has made that so.<br>
		Therapy has been ordered<br>
		and the patient shall oblige.<br><br>
		Will the patient oblige?
	</p>
</div>

<div class="post" id="piece_zero">
	<h1 onclick='show_default("piece_zero")' class="go_back_btn">
		Go Back 
	</h1>
	<h3 class="piece_header"> A Primer on the Day </h3>		
	<p style="font-size: 16px;">
		In Washington, a clown makes people frown. <br>
		In Beijing, men in suits do as it suits — probably them. <br>
		In Sydney — well, nobody cares. <br>
		In Berlin, Mutti Merkel just won’t go. <br>
		In Moscow, Pater Putin just won’t go.<br>
		In Paris however, a youngster is not laying low. <br>
		In London, they want to exit — why? <br>
		In Rome, <br> well nothing much happens in the Rome of the day -<br>
		Eternal city mostly looking pretty. <br>
		And so it goes, <br>
		a poetic account of the day, <br>
		a rather incomplete primer on what in conversation one may say.
	</p>
</div>

<div class="post" id="piece_one">
	<h1 onclick='show_default("piece_one")' class="go_back_btn">
		Go Back 
	</h1>
		<h3 class="piece_header"> In Canary Wharf </h3>		
		<p>
			In Canary Wharf they have all - <br>
			big buildings and bright lights - <br>
			pounds, prestige — all for which man fights. <br>
			What they lack, one can not think, <br>
			but only feel, <br>
			only feel when there. <br> <br>
			It’s prison without the gates, <br>
			Betting without stakes, <br>
			Bookshelves for decoration, <br>
			Fake-tan and Indoor-swimming, <br>
			Learning for the exam, <br>
			Too-small-portions in too-fancy-places, <br>
			Extra charges for the Ketchup, <br>
			Gifts as bribes, <br>
			Music without dance, <br>
			Anxiety in a suit — dressed up nicely. <br>
			And then some. <br> <br>
			Go have a trip — To Canary Wharf. <br>
			You’ll be very glad. Once you’re back.
		</p>
</div>

<div class="post" id="piece_two">
	<h1 onclick='show_default("piece_two")' class="go_back_btn">
		Go Back 
	</h1>
		<h3 class="piece_header"> Old Man on a Bench </h3>		
		<p>
			Walking in the park, <br>
			I saw an old man on a bench, <br>
			crying, <br>
			wearing his heart on the outside. <br>
			I sat next to him, <br>
			wanted to flee, but stayed, <br>
			stayed throughout. <br>
			Then left. <br>
			No words spoken, <br>
			no deeds performed, <br>
			All difference made.
		</p>
</div>

<div class="post" id="piece_three">
	<h1 onclick='show_default("piece_three")' class="go_back_btn">
		Go Back 
	</h1>
		<h3 class="piece_header"> Captain of the Ship of you </h3>		
		<p>
			It’s in your heart, it’s in your spine, <br>
			the energy that you can call mine. <br>
			You feel it there and feel it’s will, <br>
			a will it seems, you’re here to fulfill. <br>
			So what do you do? What can you do? <br> What should you do? <br>
			The answer is one of two. <br>
			To steer or to flow, <br>
			To try or to let go, <br>
			To push or to lay low. <br>
			And that, dear friend, that is on you. <br>
			You — Captain of the ship of you. <br>
			Now let me ask: what will you do?
		</p>
</div>

<div class="post" id="piece_four">
	<h1 onclick='show_default("piece_four")' class="go_back_btn">
		Go Back 
	</h1>
		<h3 class="piece_header"> Feet, to Feet </h3>		
		<p>
			Most ignore you, some abhor you, some adore you. <br>
			You come in teams — ever-aligned. <br>
			You work hard. Do you complain? Rarely. <br>
			You’re fragile and not — soft and hard. Always. <br>
			We rely on you, stand on you. Yet, do we see you? Rarely. <br>
			You connect and disconnect. Always. <br>
			You are there, around and needed. <br>
			We rely on you, yet celebrate you? Rarely. <br>
			This is to you my feet,  <br>
			I adore you, never abhor you, trying not to ignore you.
		</p>
</div>

<div class="post" id="posts">
	<h1 onclick='show_default("posts")' class="go_back_btn">
		Go Back 
	</h1>
		<h3 class="piece_header"> All Posts </h3>		
		<p>
			<p class="post_title" onclick='show_piece("piece_minus_two");'> The Modern Man </p>
			<p class="post_excerpt"> The Modern Man rarely looks at paintings </p>

			<p class="post_title" onclick='show_piece("piece_minus_one");'> In the Mood for Walking </p>
			<p class="post_excerpt"> It's itchy down there </p>

			<p class="post_title" onclick='show_piece("piece_zero");'> A Primer on the Day </p>
			<p class="post_excerpt"> In Washington, a clown makes people frown </p>

			<p class="post_title" onclick='show_piece("piece_one");'> In Canary Wharf </p>
			<p class="post_excerpt"> In Canary Wharf they have all </p>

			<p class="post_title" onclick='show_piece("piece_two");'> Old Man on a Bench </p>
			<p class="post_excerpt"> Walking in the park </p>
	
			<p class="post_title" onclick='show_piece("piece_three");'> Captain of the Ship of You </p> 
			<p class="post_excerpt"> It’s in your heart, it’s in your spine </p>
			
			<p class="post_title" onclick='show_piece("piece_four");'>  Feet, to Feet </p>
			<p class="post_excerpt"> Most ignore you, some abhor you, some adore you </p>
		</p>
</div>

<div class="post" id="bio">
	<h1 onclick='show_default("bio")' class="go_back_btn">
		Go Back 
	</h1>
	<h3 class="piece_header"> Biography / About </h3>		
	<p>
		My formal education is in Economics in which I hold a <br>
		BA from the University of Oxford, UK.
		<br> <br>
		I enjoy intellectual things - reading, writing, programming and thinking.
		<br> <br>
		In priciple I can't decide whether I'm a literary or a technical person,
		so I've decided to be a little bit of both.
		<br> <br>
		Programming-wise I mostly write Web-applications using Ruby-on-Rails (currently)
		and other systems using Python or Ruby (currently).
		<br> <br>
		Wordgates itself is one of the applications I wrote. I hope you like it.
		<%= link_to "Try it out", get_page_path, style: "text-decoration: underline;" %> if you haven't yet.		 		
		<br> <br>
		On the literature front I write poems and sometimes short essays. I've published the poems that I don't consider failures here on the site.
		<br> <br>
		Currently I live in London, UK, which I enjoy and recommend. Originially however 
		I am from the very North of Germany - almost Denmark.
		<br> <br>
		Please feel free to get in touch via the Message Box <br>
		or just write me at joseikowsky@gmail.com.
		<br> <br>
		All the Best,
		<br> <br>
		Johannes
	</p>
</div>

<div class="post" id="books">
	<h1 onclick='show_default("books")' class="go_back_btn">
		Go Back 
	</h1>
	<h3 class="piece_header"> Book Recommendations </h3>		
	<p>
		"The World of Yesterday" - by Stefan Zweig <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/World-Yesterday-Stefan-Zweig/dp/0803226616/ref=sr_1_1?ie=UTF8&qid=1524493897&sr=8-1&keywords=stefan+zweig", style: "text-decoration: underline;" %> <br> <br>

		"Chess Story" - by Stefan Zweig <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/Chess-Story-Review-Books-Classics/dp/1590171691/ref=sr_1_1?s=books&ie=UTF8&qid=1524493997&sr=1-1&keywords=stefan+zweig+chess", style: "text-decoration: underline;" %><br> <br>

		"De Bello Gallico" - by Julius Caesar <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/Gallic-War-Commentaries-Commentary-Classics/dp/0199540268/ref=sr_1_2?s=books&ie=UTF8&qid=1524494100&sr=1-2&keywords=De+Bello+Gallico", style: "text-decoration: underline;" %><br> <br>

		"Antifragile" - by Nassim N. Taleb <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/Antifragile-Things-That-Disorder-Incerto/dp/0812979680/ref=sr_1_1?s=books&ie=UTF8&qid=1524494334&sr=1-1&keywords=Antifragile", style: "text-decoration: underline;" %><br> <br>

		"The Problems of Philosophy" - by Bertrand Russell <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/Problems-Philosophy-Bertrand-Russell/dp/1514341018/ref=sr_1_2?ie=UTF8&qid=1524625462&sr=8-2&keywords=the+problems+of+philosophy", style: "text-decoration: underline;" %><br> <br>

		"Sapiens" - by Yuval Harari <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/Sapiens-Humankind-Yuval-Noah-Harari/dp/0062316117/ref=sr_1_1?s=books&ie=UTF8&qid=1524495531&sr=1-1&keywords=sapiens", style: "text-decoration: underline;" %><br> <br>

		"The Quarry" - by Friedrich Dürrenmatt <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/Quarry-Friedrich-D%C3%BCrrenmatt/dp/B000NWVNHE/ref=sr_1_10?s=books&ie=UTF8&qid=1524494211&sr=1-10&keywords=Friedrich+D%C3%BCrrenmatt", style: "text-decoration: underline;" %><br> <br>

		All books of the Maigret Series - by Georges Simenon <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/s/ref=nb_sb_noss_2?url=search-alias%3Dstripbooks&field-keywords=Maigret", style: "text-decoration: underline;" %> <br> <br>


		"The Meaning of Hitler" - by Sebastian Haffner <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/Meaning-Hitler-Sebastian-Haffner-ebook/dp/B008HLQFJE/ref=la_B000APE7TA_1_2?s=books&ie=UTF8&qid=1524495031&sr=1-2", style: "text-decoration: underline;" %> <br> <br>
		"Six Easy Pieces: Essentials of Physics Explained by Its Most Brilliant Teacher" - by Richard Feynman <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/Six-Easy-Pieces-Essentials-Explained/dp/0465025277/ref=sr_1_1?s=books&ie=UTF8&qid=1524495310&sr=1-1&keywords=feynman+six+easy+pieces", style: "text-decoration: underline;" %> <br> <br>

		"But How Do It Know?" - by J Clark Scott <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/But-How-Know-Principles-Computers/dp/0615303765/ref=sr_1_1?s=books&ie=UTF8&qid=1524495371&sr=1-1&keywords=but+how+do+it+know", style: "text-decoration: underline;" %><br> <br>

		"UNIX and Linux System Administration Handbook" - by Evi Nemeth and others <br>
		<%= link_to "Link to Amazon", "https://www.amazon.com/UNIX-Linux-System-Administration-Handbook/dp/0134277554/ref=sr_1_8?s=books&ie=UTF8&qid=1524495441&sr=1-8&keywords=linux+textbook", style: "text-decoration: underline;" %>
	</p>
</div>

<div class="post" id="quotes">
	<h1 onclick='show_default("quotes")' class="go_back_btn">
		Go Back 
	</h1>
	<h3 class="piece_header"> Favorite Quotes </h3>		
	<p>
“I have always imagined that Paradise will be a kind of library.”<br>
- Jorge Borges<br>
<br>
“Sometimes the old ways are the best ways.” <br>
- Miss Moneypenny<br>
<br>
“Good scientists go looking for trouble.”<br>
- Paul Graham, on the importance of breaking conventional wisdom in intellectual work<br>
<br>
“You will eventually agree with me, because you are smart and I’m right.”<br>
- Charlie Munger<br>
<br>
“For love of bustle is not industry.”<br>
- Seneca<br>
<br>
“What they really fear is not that they won’t get their breakfast the next morning, but that they fail to outshine their neighbours.”<br>
- Bertrand Russell on the competitive mindset<br>
<br>
“If someone wonders who are the Stoics, I’d say Buddhists with an attitude problem.”<br>
- Nassim Taleb<br>
<br>
“So long as all you do is not all for you.”<br>
- Nassim Taleb<br>
<br>
“7000 squaremetres built on my giving a fuck.”<br>
- Ari Gold of “Entourage” on his company<br>
<br>
“Do I look like a guy with a plan?”<br>
- The Joker<br>
<br>
“The qualities that made for success in a fighter-pilot seemed to be just those sturdy qualities that made for success in other professions; observation, initiative, determination, courage, including the courage to run away.”<br>
- Jim Bailey, The Sky Suspended<br>
<br>
“A complex system that works is invariably found to have evolved from a simple system that worked. The inverse proposition also appears to be true: A complex system designed from scratch never works and cannot be made to work.”<br>
- John Gall<br>
<br>
“If I find too many people adopting a certain idea, I probably think it’s wrong. Don’t believe that something is good just because it’s trendy.”<br>
- Donald Knuth<br>
<br>
“I am not sure that I exist, actually. I am all the writers that I have read, all the people that I have met, all the women that I have loved; all the cities I have visited.”<br>
- Jorge Borges<br>
<br>
“When a writer dies, he becomes his books.”<br>
- Jorge Borges<br>
<br>
“I beseech you, in the bowels of Christ, think it possible you may be mistaken.”<br>
- Oliver Cromwell
	</p>
</div>


<div class="post" id="email">
	<h1 onclick='show_default("email")' class="go_back_btn">
		Go Back 
	</h1>
		<h3 class="piece_header"> Email List / Notifier </h3>		
		<p> Notify me with a simple Email <br> when new posts are published. </p>
		<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
			<%= f.text_field :email, placeholder: " you@yourmail.com",
					style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
		    <%= f.hidden_field :author, value: "johannes" %>
			<%= f.submit "done", class: "btn btn-light", style: "padding: 0 5px; font-size: 14px; float: left; border: 1px solid grey;" %>
		<% end %>
</div>

<div class="post" id="contact">
	<h1 onclick='show_default("email")' class="go_back_btn">
		Go Back 
	</h1>
	<h3 class="piece_header"> Message Box </h3>		
	<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
		<%= f.text_area :email, placeholder: "message me here ...",
				style: "width: 170px; height: 100px;" %> <br>
	    <%= f.hidden_field :author, value: "johannes" %>
		<%= f.submit "send", class: "btn btn-light", style: "padding: 0 5px; font-size: 14px; float: left; border: 1px solid grey;" %>
	<% end %>
</div>

<!-- END OF POSTS -->

	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
	
			<div class="functionality_container" style="">
				<p class="functionality_title" style="margin-top: -50px;"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "johannes" %>
					<%= f.submit "done", class: "btn btn-light", style: "padding: 0 5px; font-size: 14px; float: right; border: 1px solid grey;" %>
				<% end %>
			</div>

			<!--
			<div id="message_box" class="functionality_container" style="margin-top: 62px;">
				<p class="functionality_title"> Message Box </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: "message me here ...",
							style: "width: 170px; height: 100px;" %> <br>
				    <%= f.hidden_field :author, value: "johannes" %>
					<%= f.submit "send", class: "btn btn-light", style: "padding: 0 5px; font-size: 14px; float: right; border: 1px solid grey;" %>
				<% end %>
			</div>
			-->

			<div id="my_social" class="functionality_container" style="margin-top: 60px; color: black;">
				<a href="https://twitter.com/Seikowsky" target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px; color: black;"></i>
				</a>
				<a href="https://medium.com/@jseikowsky" target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<a href="https://www.facebook.com/johannes.seikowsky" target="_blank">
					<i class="fab fa-facebook" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
			</div>

			<div id="twitter_feed" class="functionality_container" style="margin-top: 46px; color: black;">
				<a class="twitter-timeline" data-width="200" data-height="300" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/Seikowsky?ref_src=twsrc%5Etfw">Tweets by Seikowsky</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>

	  	</div>
	  </div>
	<div id="powered_by" class="powered_by" style="margin-top: -108px;"> Powered by WordGates | The Home of Writers </div>
	
	</div>

</div>


<script type="text/javascript">
	function show_page(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById("right_side_container").style.visibility = "hidden";
		document.getElementById("twitter_feed").style.display = "none";
		document.getElementById(piece_id).style.display = "block";
		document.getElementById("bio").style.display = "none";
		document.getElementById("posts").style.display = "none";
		document.getElementById("email").style.display = "none";
		document.getElementById(piece_id).style.display = "block";
	}

	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById("right_side_container").style.visibility = "hidden";
		/*
		display email signup or not
		document.getElementById("message_box").style.visibility = "hidden";
		document.getElementById("my_social").style.visibility = "hidden";
		*/
		document.getElementById("left_side_container").style.visibility = "hidden";
		document.getElementById("posts").style.visibility = "hidden";
		document.getElementById("twitter_feed").style.display = "none";
		// document.getElementById("powered_by").style.visibility = "hidden";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("middle_container").style.display = "block";
		document.getElementById("right_side_container").style.visibility = "visible";
		document.getElementById("left_side_container").style.visibility = "visible";
		document.getElementById("twitter_feed").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url("http://s3.otherpeoplespixels.com/sites/30468/assets/5OHQ_CDTOHDBFsQl.jpg") no-repeat center center fixed;
	  font-family: "Times New Roman";
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	

	.post_title{
		font-size: 19px;
	}

	.header_links{
		color: black;
		padding: 0 20px;
	}

	.header_links:hover{
		color: black;
		text-decoration: underline;
	}

	.right_side_links{
		color: black;
		display: block;
		margin-bottom: 6px;
		padding-left: 8px;
	}

	.right_side_links:hover{
		color: black;
		text-decoration: underline;
	}

	.go_back_btn{
		text-decoration: underline;
	}

	.central_container{
		width: 836px;
		margin: 54px auto 75px auto;
		-webkit-border-radius: 5px; 
	  	-moz-border-radius: 5px; 
	    border-radius: 5px; 
		background-color: white;
		padding: 20px;
		overflow: auto;	
	}

</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
