<%= link_to "Author's Dashboard", "#", id: "dashboard_link" %>

<div class="container-fluid">
	
	  <div class="central_container"> 		

	  	<div class="left_side_container"> 		
		    <%= image_tag "johannes.jpg", id: "profile_image" %>
		<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h3 class="name_title"> Johannes Seikowsky </h3>
			
			<h3 class="title"> Me in 10 seconds </h3>
			<p> 		
			 	Interested in many things. <br>
			 	Formal Education - Economics. <br>
			 	Self-taught programmer. <br>
			 	Writer/Poet by compulsion. <br>
			 	Living in London and enjoying it. <br> <br>

			 	In charge of WordGates.com. <br>
			 	Any complaints --> please message <br> me using the contact box on the right.
			</p> <br>

			<h3 class="title"> Top Articles <h3>
			<p class="post_title" onclick='show_piece("piece_zero");'> A Primer on the Day </p>
			<p class="post_excerpt"> In Washington, a clown makes people frown ... </p>

			<p class="post_title" onclick='show_piece("piece_one");'> In Canary Wharf </p>
			<p class="post_excerpt"> In Canary Wharf they have all  ... </p>

			<p class="post_title" onclick='show_piece("piece_two");'> Old Man on a Bench </p>
			<p class="post_excerpt"> Walking in the park ... </p>
	
			<p class="post_title" onclick='show_piece("piece_three");'> Captain of the Ship of You </p> 
			<p class="post_excerpt"> It’s in your heart, it’s in your spine ... </p>
			
			<p class="post_title" onclick='show_piece("piece_four");'>  Feet, to Feet </p>
			<p class="post_excerpt"> Most ignore you, some abhor you, some adore you ... </p>
			
			<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
	  	</div>


<!-- START OF POSTS -->
<div class="post" id="piece_zero">
	<h1 onclick='show_default("piece_zero")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> A Primer on the Day </h3>		
	<p>
		In Washington, a clown makes people frown. <br>
		In Beijing, men in suits do as it suits — probably them. <br>
		In Sydney — well, nobody cares. <br>
		In Berlin, Mutti Merkel just won’t go. <br>
		In Moscow, Pater Putin just won’t go.<br>
		In Paris however, a youngster is not laying low. <br>
		In London, they want to exit — why? <br>
		In Rome, well nothing happens in the Rome of the day — <br>
		Eternal city mostly looking pretty. <br>
		And so it goes, <br>
		a quick poetic account of the day, <br>
		a primer on what in conversation one may say.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>

<div class="post" id="piece_one">
	<h1 onclick='show_default("piece_one")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
		<h3 class="piece_header"> In Canary Wharf </h3>		
		<p>
			In Canary Wharf they have all - <br>
			big buildings and bright lights - <br>
			pounds, prestige — all for which man fights. <br>
			What they lack, one can not think, <br>
			but only feel, <br>
			only feel when there. <br> <br>
			It’s prison without the gates, <br>
			Betting without stakes, <br>
			Bookshelves for decoration, <br>
			Fake-tan and Indoor-swimming, <br>
			Learning for the exam, <br>
			Too-small-portions in too-fancy-places, <br>
			Extra charges for the Ketchup, <br>
			Gifts as bribes, <br>
			Music without dance, <br>
			Anxiety in a suit — dressed up nicely. <br>
			And then some. <br> <br>
			Go have a trip — To Canary Wharf. <br>
			You’ll be very glad. Once you’re back.
		</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>

<div class="post" id="piece_two">
	<h1 onclick='show_default("piece_two")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
		<h3 class="piece_header"> Old Man on a Bench </h3>		
		<p>
			Walking in the park, <br>
			I saw an old man on a bench, <br>
			crying, <br>
			wearing his heart on the outside. <br>
			I sat next to him, <br>
			wanted to flee, but stayed, <br>
			stayed throughout. <br>
			Then left. <br>
			No words spoken, <br>
			no deeds performed, <br>
			All difference made.
		</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>

<div class="post" id="piece_three">
	<h1 onclick='show_default("piece_three")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
		<h3 class="piece_header"> Captain of the Ship of you </h3>		
		<p>
			It’s in your heart, it’s in your spine, <br>
			the energy that you can call mine. <br>
			You feel it there and feel it’s will, <br>
			a will it seems, you’re here to fulfill. <br>
			So what do you do? What can you do? <br> What should you do? <br>
			The answer is one of two. <br>
			To steer or to flow, <br>
			To try or to let go, <br>
			To push or to lay low. <br>
			And that, dear friend, that is on you. <br>
			You — Captain of the ship of you. <br>
			Now let me ask: what will you do?
		</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>

<div class="post" id="piece_four">
	<h1 onclick='show_default("piece_four")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
		<h3 class="piece_header"> Feet, to Feet </h3>		
		<p>
			Most ignore you, some abhor you, some adore you. <br>
			You come in teams — ever-aligned. <br>
			You work hard. Do you complain? Rarely. <br>
			You’re fragile and not — soft and hard. Always. <br>
			We rely on you, stand on you. Yet, do we see you? Rarely. <br>
			You connect and disconnect. Always. <br>
			You are there, around and needed. <br>
			We rely on you, yet celebrate you? Rarely. <br>
			This is to you my feet,  <br>
			I adore you, never abhor you, trying not to ignore you.
		</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>
<!-- END OF POSTS -->

	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
	
			<div class="functionality_container">
				<p class="functionality_title" style="margin-top: 3px;"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "dave_garbutt" %>
					<%= f.submit "done", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>

			<div class="functionality_container" style="margin-top: 60px;">
				<p class="functionality_title"> My Social </p>
				<a href="https://twitter.com/Seikowsky" target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px;"></i>
				</a>
				<a href="https://medium.com/@jseikowsky" target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<a href="https://www.facebook.com/johannes.seikowsky" target="_blank">
					<i class="fab fa-facebook" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
			</div>

			<div class="functionality_container" style="margin-top: 40px;">
				<p class="functionality_title"> Contact Me </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: " your message",
							style: "width: 170px; height: 100px;" %> <br>
				    <%= f.hidden_field :author, value: "dave_garbutt" %>
					<%= f.submit "send", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
	  	</div>
	  </div>

	  </div>

</div>


<script type="text/javascript">
	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("middle_container").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url("https://cdn-images-1.medium.com/max/800/1*0BqnQDbsQPlzBaJ2nYzdHg.jpeg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
