<%= link_to "Back to Site", artemis_jones_path, id: "dashboard_link" %> 

<div class="container-fluid">
  <div class="central_container"> 		

  	<div class="left_side_container">
	  	<%= image_tag "#{@image_of_author}", id: "profile_image" %>
	</div>

  	<div id="middle_container" class="middle_container" style="width: 570px;">  	
  		<% if notice %> <h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1> <% end %>

		<h1 class="name_title"> Dashboard </h1>		
		<p style="background-color: #F5EFE6; padding-left: 8px;"> Note: The posts on your site sync with your Medium every 24 hours. </p>

		<h3 class="title" style="margin-bottom: 8px; margin-top: 35px;"> Choose your Features </h3>
		<!-- <p> Unckeck any features you do not want. </p> -->


		<%= form_for :user_settings, url: editing_jones_page_path do |f| %>
            <%= f.check_box :portrait_feature, checked: @authors_settings.portrait_feature %> Your Image on the Left <br>
            <%= f.check_box :about_feature, checked: @authors_settings.about_feature %> "About Me" Section <br>
            <!-- <%= f.check_box :this_month, checked: true %> "Posts" Section <br> -->
            <%= f.check_box :email_subscription_feature, checked: @authors_settings.email_subscription_feature %> Subscribe to Email-Updates Box <br> 
            <%= f.check_box :social_icons_features, checked: @authors_settings.social_icons_features %> Social Icons - Twitter, Medium <br>
            <%= f.check_box :contact_feature, checked: @authors_settings.contact_feature %> Contact Me Box <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		 	<br>

			<h3 class="title" style="margin-bottom: 8px; margin-top: 40px;"> Your "About Me" Section </h3>
            Title: <br>
            <%= f.text_field :about_title, value: @authors_settings.about_title, style: "width: 215px;" %> <br>
            Content: <br>
            <%= f.text_area :about_content, value: @authors_settings.about_content, style: "width: 215px; height: 105px;" %> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		 	<br>

			<h3 class="title" style="margin-bottom: 8px; margin-top: 40px;">
				Your Posts 
			</h3>
			<p> 
				Unckeck those posts you want to hide. <br>
				An option to publish more posts here which <br> are not on your Medium is coming soon.
			</p>

            <%= f.check_box :post_one, checked: @authors_settings.post_one %>  <%= @title1 %> <br>
            <%= f.check_box :post_two, checked: @authors_settings.post_two %>  <%= @title2 %> <br>
            <%= f.check_box :post_three, checked: @authors_settings.post_three %> <%= @title3 %> <br>
            <%= f.check_box :post_four, checked: @authors_settings.post_four %> <%= @title4 %> <br> 
            <%= f.check_box :post_five, checked: @authors_settings.post_five %> <%= @title5 %> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		<% end %> <br>

		<h3 class="title" style="margin-bottom: 8px; margin-top: 20px;"> Your Images </h3>
		<p> 
			An option to change your image
			and the site's <br> background image
			is coming within the next few days.
		</p>

		<div class="powered_by_dashboard"> Powered by WordGates | The Home of Writers. </div>
  	</div>
  </div>
</div>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url(<%= @background_image %>) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

