<%= link_to "Author Login", leonard_dashboard_path, id: "dashboard_link" %> 

<div class="page-header-johannes">
    <%= link_to "Home", root_path, class: "header_links", 
    				onclick: 'home_button(); return false' %>    
    <%= link_to "All Posts", root_path, class: "header_links", onclick: 'show_page("posts"); return false' %>
    
	<% if @authors_settings.about_feature %>
    	<%= link_to "About", root_path, class: "header_links", onclick: 'show_page("bio"); return false' %>
    <% end %>

	<% if @authors_settings.contact_feature %>
    	<%= link_to "Contact", root_path, class: "header_links", onclick: 'show_page("contact"); return false' %>
    <% end %>

	<% if @authors_settings.email_subscription_feature %>
    	<%= link_to "Subscribe", root_path, class: "header_links", onclick: 'show_page("email"); return false' %>
    <% end %>
</div>


<div class="container-fluid">
	
	  <div class="central_container" style="border: 1px solid #F5F5F5; padding-bottom: 75px;"> 		

	  	<div id="left_side_container" class="left_side_container">
	  		<div id="profile_image_container">	
			    <% if @authors_settings.portrait_feature %>
		  			<%= image_tag "#{@image_of_author}", id: "profile_image", style: "margin-bottom: 6px" %>
				<% end %>

			    <%= link_to "Bio / About", root_path, class: "right_side_links", onclick: 'show_page("bio"); return false', style: "background-color: #F5F5F5; width: 200px; text-align: center;
			    		border: 1px solid lightgrey;" %>
			</div>
		  	
		  	<div id="left_side_container_inside_bottom" class="left_side_container_inside_bottom">
		  		<!-- personal links on side - book recommends -->
			</div>
		
			<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container" style="background-color: #F9F9F9;">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h3 class="name_title"> <%= @name %> </h3>

			<% if @authors_settings.about_feature %>
				<p style="margin-top: -10px;">
					<%= @authors_settings.about_content %>
				</p> <br>
			<% end %>

			<h3 class="title" style="margin-top: -4px;"> Top Posts </h3>

		   <% if @authors_settings.post_six %>
			<p class="post_title" onclick='show_piece("piece_minus_two");'> One Drop </p>
			<p class="post_excerpt"> There was only one drop ... </p>		   
		   <% end %>

		   <% if @authors_settings.post_seven %>
			<p class="post_title" onclick='show_piece("piece_minus_one");'> Seven Days Till the First </p>
			<p class="post_excerpt"> Yes, Edna hated her. ... </p>
		   <% end %>

		   <% if @authors_settings.post_one %>
			<p class="post_title" onclick='show_piece("piece_zero");'> <%= @title1 %> </p>
			<p class="post_excerpt"> Nestled... between ... </p>
			<% end %>

		    <% if @authors_settings.post_two %>
			<p class="post_title" onclick='show_piece("piece_one");'> <%= @title2 %> </p>
			<p class="post_excerpt"> there she was, staring at me ...</p>
			<% end %>

		    <% if @authors_settings.post_three %>
			<p class="post_title" onclick='show_piece("piece_two");'> <%= @title3 %> </p>
			<p class="post_excerpt"> I had spent most of my life ...</p>
			<% end %>

		    <% if @authors_settings.post_four %>
			<p class="post_title" onclick='show_piece("piece_three");'> <%= @title4 %> </p>
			<p class="post_excerpt"> Emma knew that when ...</p>
			<% end %>
		
		    <% if @authors_settings.post_five %>
			<p class="post_title" onclick='show_piece("piece_four");'> <%= @title5 %> </p>
			<p class="post_excerpt"> Somebody died last night ...</p>
			<% end %>
		</div>


<!-- START OF POSTS -->
<div class="post" id="piece_minus_two">
	<h3 class="piece_header"> One Drop </h3>		
	<p>
There was only one drop at first. Then two. The first splattered on the windshield in front of me, and the second crashed on Kelsey’s side, smack in front of the passenger seat. It was Brian that pointed it out.
<br> <br>
“Mom, it’s raining.” He leaned forward, his head bobbing between us.
<br> <br>
“Seat belt, Brian.”
<br> <br>
I didn’t turn to look at him. Instead, I gazed out the windshield. Outside, there was only darkness shining through the glass.
<br> <br>
Storm advisory throughout Tuolumne County… Click. Kelsey’s hand twisted the dial.
<br> <br>
“Wait, put that back.”
<br> <br>
Kelsey sighed. I knew she was pursing her lips, getting ready to protest.
<br> <br>
“Mom.” Brian had bounced back to his seat. Before Kelsey could complain, his voice echoed off the walls of the van, “It’s a bad storm, isn’t it, Mom?”
<br> <br>
The raindrops were crashing quicker, harder; one after another and another. I moved my thumb and finger to the steering column. One nudge and the wipers gathered speed, catching up. Whip and whip and whip.
<br> <br>
For only one moment, I felt the traction of the tires against the asphalt. I was in control. There was power beneath my wrists, gripped tight.
<br> <br>
And then it was gone.
<br> <br>
The downward slope that ended with the curve to the right, and spilled into a long stretch only to curve again inches from the creek, had melted away.
<br> <br>
Just like that, the road had disappeared. In its place, was a shallow film of water.
<br> <br>
I lifted my foot off the gas, and moved it to the left.
<br> <br>
“Seatbelt! Now!” I commanded, unable to hide my panic. I no longer had control of the van. It was moving, floating, following a path of its own path of liking.
<br> <br>
Kelsey whimpered. “Mom…”
<br> <br>
Brian screamed.
<br> <br>
I could feel the tendon in my foot, where ankle meets heel, flexed tight, still poised above the brake.
<br> <br>
Do I break through the glide, or do I not brake and steer? Remember, remember!
<br> <br>
I couldn’t.
<br> <br>
Our father, who art in heaven…
<br> <br>
The rear of the van was inching towards the bottom of the curve. I stiffened my hands. I tried to focus, to steer.
<br> <br>
Nam-myoho-renge… I began to chant to myself. I couldn’t remember if I should break through the glide, but did I remember my two-week-long stint as a nineteen-year-old Buddhist, hoping to impress the twenty-one-year-old from Florida with biceps. Breath in, breath out.
<br> <br>
Nam-myoho-renge-kyo. Yes, calm. I need to be calm. Hold tight.
<br> <br>
But underneath me, I the van gaining speed: 40,44,46. The speedometer needle was moving up.
<br> <br>
I thought of Kelsey, nine, and Brian, eight. I thought of the raindrops. I thought of the road.
<br> <br>
Nam-myoho …
<br> <br>
Wait. I was baptized Catholic. Or was it Lutheran?
<br> <br>
Our father, who art in Heaven, hallowed be thy name…
<br> <br>
I gripped tighter, staring ahead. My world had condensed into a panoramic stretch of glass — dark and wet and shiny — from the edge of my seat, all the way to Kelsey beside me and Brian, behind. The raindrops continued to pound, one after another.
<br> <br>
I knew it was coming. I wanted to turn around. I wanted to tell Brian, now hollering as loud as he could for me to stop the van, that I loved him. And I thought of releasing one hand from the steering wheel and reaching out to Kelsey, who was softly whimpering in the passenger seat — I love you both.
<br> <br>
But we were on the straight stretch with the left side of the van pushing towards the edge. Towards my side. Towards Brian’s side. Like some off-center roller coaster, the van possessed a magnet-like force that kept moving it forward to the creek. Closer.
<br> <br>
I knew, somewhere between my fingers, now numb, and the tension in my neck, that Brian and I would feel the impact first.
<br> <br>
The trees on the bank came into view and the van slid out of the straight.
<br> <br>
If the beginning was unexpected, the one-at-a-time raindrops and the watery road, then the ending — our ending — was inevitable. Gilding across the filmy asphalt, a hostage strapped tight, I knew.
<br> <br>
The blackness took on a fuzzy green-gray in the windshield, as a silhouette of pines, poplars, and willows lined up one by one by one, backing up along the creek.
<br> <br>
I didn’t think about the life I was preparing to leave behind, or the drop into the creek, on the other side of the trees. And I didn’t think of Brian or Kelsey, or the man I loved, waiting at home. Instead, I listened to the rhythm of the wipers, the whish, whish, whish, and the alternating drops of rain.
<br> <br>
Our father, who art in Heaven.
<br> <br>
Then it was over. Fingery branches filled up the windshield in front of me, and the van jerked to a stop. Three seconds of silence followed.
<br> <br>
I looked over at Kelsey. She was leaning back in her seat, her wide eyed.
<br> <br>
“You okay?” I asked.
<br> <br>
She nodded.
<br> <br>
“Mom?” came a small voice from the back seat.
<br> <br>
I craned my body around. “Brian, you okay?” I strained my eyes into the darkness.
<br> <br>
“Yeah.” Brian’s voice was a little quieter than usual but calm. “Can I take off my seatbelt?”
<br> <br>
“Yeah, you can take it off.”
<br> <br>
I exhaled. Later, I remembered this feeling as relief. <br> <br>
<br> <br>
In front of me, tendrils of dark green and branches of rough hewn brown-beige pressed against the glass, encapsulating us in a web of foliage. And life. 
		<hr>
   		<%= link_to "Read more", root_path, onclick: 'show_page("posts"); return false', class: "bottom_of_post_link" %> <br>
   		<%= link_to "Get notified of new posts", root_path, onclick: 'show_page("email"); return false', class: "bottom_of_post_link" %> <br>
	</p>
</div>


<div class="post" id="piece_minus_one">
	<h3 class="piece_header"> Seven Days Till the First </h3>		
	<p>
Yes, Edna hated her.
<br> <br>
The first night he was gone, Edna realized there were only coins left in the coffee can. Jeffrey was forty-five years old and her youngest, and she was happy for him. In her own way. But the reality was a little more complicated. For, truly, although she would never admit this to anyone — even herself — Edna hated his new wife Betsy.
<br> <br>
It started with a phone call here and there, and moved quickly to the next level where Jeffrey would disappear for whole days at a time. But he always came back sometime during the third week of the month. He knew that his Edna’s social security check would be all used up by then and he always brought her a twenty dollar bill, sometimes two twenty dollar bills, so she could make it till the first.
<br> <br>
He said he came back to celebrate “just because.” He made a point to bring Edna’s favorite once-a-month-treat, too, the Kentucky Fried Chicken meal deal she wasn’t really supposed to have.
<br> <br>
Edna hoped this wouldn’t change. She half-expected that he would show up as he always did. But she didn’t count on it.
<br> <br>
One at a time Edna dropped the coins back into the money can on the kitchen counter. When the last nickel landed on the modest pile of copper and silver that lined the bottom, the echo was cut short by the electronic chiming of Edna’s cell phone, playing what was supposed to be one of Mozart’s greatest hits.
<br> <br>
Jeffrey bought her the phone last year. He wanted to be able to get a hold, just in case. After all, Mother, you are turning seventy-four — he said.
<br> <br>
Yet he hadn’t called her since the wedding. Edna picked up the phone, hoping, expecting. Finally, Jeffrey?
<br> <br>
She adjusted her glasses and studied the number. No, not Jeffrey. It was the same strange phone number that had been calling all week long. Today alone, she counted four times. But she didn’t recognize the number, so there was no reason to answer. There was only one number she answered and he didn’t call.
<br> <br>
None of her other children called her either. Not anymore. Not Joey, Sam, Terrance, or Sheila, but that was fine with Edna. She didn’t want to talk to them anyway. They rarely paid attention to her stories, and when they did, they made her feel stupid — Mom, Uncle Tom has been dead for ten years. Or Mother, the Doctor said you can’t be eating that.
<br> <br>
Yes, Edna was happier without them. But she was curious who was trying to call. She wanted to check her voicemail, but she couldn’t remember her password — was 1221 or 2112? When she forgot her password before, or when she lost her keys or her wallet, she only needed to walk across the hallway and knock on Jeffrey’s door.
<br> <br>
But now she was alone. Edna set down the still-vibrating phone next to the money can. She was still wondering who could be calling her when she noticed the lacey bag filled with candies. So that’s where it was! She had been looking for it. As much as she disliked the Jeffrey’s wedding — it was far too large and glitzy and pompous — she loved sweets, particularly when they were wrapped in bright gold. But Jeffrey was always hiding them from her.
<br> <br>
Jeffrey told her the wedding was mostly his idea. He wanted to tell the world he finally found the woman of his dreams. His “dear sweet Betsy” — imagine, Betsey, what a name! — wanted to elope. She was practical and wanted to pocket the money so they could purchase a house down the street, one of the brand new homes with a manicured lawns and a two-car garage. They would come to visit, they would help her. But Edna knew the truth.
<br> <br>
Edna also knew the wedding wasn’t Jeffrey’s idea. She knew her son better than anyone, even better than this stranger who professed to “love” him and not once had Jeffrey ever ever expressed an interest in weddings of any kind. In fact, when they watched the once-in-awhile romantic comedies together on HBO (usually he preferred action adventure, with plenty of guts and gore), Jeffrey usually used the wedding scenes as an excuse to use the bathroom, or grab another Heineken.
<br> <br>
Yes, Edna hated her. Betsey. She had taken away her son. All Edna needed to do is look at the bottom shelf of the refrigerator to remind her that Jeffrey was gone. Just like the food he brought home — especially in the last seven days of the month. Like every month that came before, Edna was counting the days till her check arrived.
<br> <br>
Jeffrey loved Betsey. That’s what he said. In ways, Edna hated to admit it, but something had changed in her son. If she really thought about it, the Heinekens had been gone from the refrigerator for at least a month. Jeffrey had replaced them with Odwalla Green Machine and fresh-squeezed Passion Fruit smoothies. He told Edna he was trying to get healthy. To enjoy life. And this included Betsey. A couple of weeks later, Betsey picked out a diamond ring and they began planning their happily ever after that did not include Edna.
<br> <br>
Edna looked up at the calendar on the wall. It had been two weeks since their wedding and she had seven days until the first of the month.
<br> <br>
She opened the refrigerator and studied the contents: one half of one half of a gallon of milk, pickles, a jar of mustard, Smuckers Grape Jelly, and a Tupperware container of canned peaches. She decided on the peaches, and just as she bent over to grab the container, the doorbell rang.
<br> <br>
It was Jeffrey. She knew it was Jeffrey. It had to be Jeffrey. He hadn’t called, but he did remember!
<br> <br>
She raced across the kitchen as quick as she could, dragging her left leg along as she always did until her hip adjusted (usually mid-afternoon).
<br> <br>
When her hand circled the doorknob, she could feel her heartbeat pounding with an excitement she rarely experienced anymore. Her son was back. How truly, completely, terrifically wonderful! Like always, seven days till the first, he remembered, and he returned.
<br> <br>
It didn’t occur to Edna that it was a tad-bit odd that Jeffrey didn’t open the door himself. After all, he had a key. Usually he would swing open the door and announce in his happy and booming baritone “Mother, I’m home!”
<br> <br>
Later that evening, Edna thought about all of this. But at that moment, standing at the door, she only expected Jeffrey when she swung open the front door to see —
<br> <br>
Betsey. Standing in front of her and smiling; her leather purse dangling at her hip, holding a bulging paper bag. And just like every other seven-days-before-the-first celebrations she had shared with Jeffrey, the smell of Kentucky Fried Chicken filled the air.
<br> <br>
“Edna! I’ve been trying to call.”
		<hr>
   		<%= link_to "Read more", root_path, onclick: 'show_page("posts"); return false', class: "bottom_of_post_link" %> <br>
   		<%= link_to "Get notified of new posts", root_path, onclick: 'show_page("email"); return false', class: "bottom_of_post_link" %> <br>
	</p>
</div>


<!-- START OF POSTS -->
<div class="post" id="piece_zero">
	<h3 class="piece_header"> <%= @title1 %> </h3>
	<p>
	Nestled <br>
	 <br>
	between <br>
	 <br>
	breath and sound, <br>
	 <br>
	like old lovers and childhood, <br>
	 <br>
	words <br>
	 <br>
	eventually <br>
	 <br>
	die.
	</p>
	<hr>
	<%= link_to "Read more", root_path, onclick: 'show_page("posts"); return false', class: "bottom_of_post_link" %> <br>
	<%= link_to "Get notified of new posts", root_path, onclick: 'show_page("email"); return false', class: "bottom_of_post_link" %> <br>
</div>

<div class="post" id="piece_one">
	<h3 class="piece_header"> <%= @title2 %> </h3>
	<p>
there she was, staring at me<br>
<br>
I heard her voice first.<br>
<br>
“That’s the wrong direction.”<br>

Then I turned around and there she was, staring at me, with a half-smile and her fingers wrapped tight around a phone.<br>
<br>
“Uh, I need a ride. My truck…” I took a step forward, but she edged back.<br>
<br>
She must’ve been afraid. It made sense; after all, she was a young girl — 15, 16 maybe — all alone in the Mojave, hiking towards Coachella. I’m not sure where she came from, or how she snuck up on me. She must’ve been walking for a while.<br>
<br>
“That’s the wrong direction,” she repeated, interrupting my musings. She pointed a single skinny finger towards the horizon. “You need to go that way.”<br>
<br>
Her voice was soft and lilting, but her eyes held another message altogether, intruding upon my own thoughts with a dialogue all her own.<br>
<br>
I’m not sure why I didn’t think to ask her what she was doing here, on Highway 61 ninety miles from everywhere. Alone. I remembered seeing a “Next Services” sign, but that was a long way back, before the rumble and the sputter and the crash, when I woke up to find the wheels stuck in the sand and the Toyota dented. I had unstrapped my seat belt, grabbed my map, and took to the road.<br>
<br>
The wrong direction — she repeated, but this time, her lips did not move.
<br> <br>
I didn’t answer. How could I? There was something about her tone that dictated a response was not necessary. And she was giving me the creeps.
<br> <br>
Besides, she didn’t need an answer. I could feel it and I knew, I just knew: her matter-of-fact statement — -“the wrong direction” — was some kind of command to be obeyed. Even though she was at least ten years my junior, and alone on the desert with only a phone.
<br> <br>
My eyes drifted downwards, to her million-year-old cell phone. I hadn’t seen one like it in years. It may have even been an original, sought by some collector on E-bay. Except hers was scuffed-up, very much used.
<br> <br>
“Are you getting any service out here?” I asked.
<br> <br>
“No.” This time she spoke. Her voice was little more than a whisper, as if it hurt her to speak. She glanced at the long stretch of road over my shoulder and reissued her request. “Don’t go in that direction.”
<br> <br>
“But my car is that way.” I pointed towards my Toyota, more for myself than for her. “And I need help.”
<br> <br>
She didn’t answer me. She was definitely making me nervous.
<br> <br>
I ignored the feeling, and, instead, knelt down on my knees and opened up the map. There must be a little town, or a little gas station somewhere.
<br> <br>
I looked up to ask the girl, after all, she would know, she came from somewhere. I was prepared to see her eyes, watchful, steady, and her lips, slightly open, as if ready to speak.
<br> <br>
But she was gone. There was only a sea of beige in all directions, and no girl.
<br> <br>
I was too thirsty, too tired. I stood up and rubbed my eyes. I needed to find help. So, I began to walk. I didn’t listen to the girl. I didn’t change directions. There was no way I was going back.
<br> <br>
Hell no! I’ve already gone this far — In my mind, I swore at the girl, whose voice was now in my head — Turn around — she whispered.
<br> <br>
I pressed on, ignoring her, dragging my feet across the asphalt.
<br> <br>
Turn around — Her words reverberated, over and over. After a while, I couldn’t tell if it was her voice I was hearing, or mine.
<br> <br>
I think it was an hour later that I caught sight of a vehicle parked by the side of the road. I accelerated my pace. The sun was high overhead and burning down by the time I reached it. I was surprised to find it was a Toyota, like mine. Dusty and deserted. It was even the same shade of blue, with a dent in the rear. And it was also stuck in the sand.
<br> <br>
Yet mine was a day’s walk in the other direction. At least I thought it was the other direction.
<br> <br>
Hot and exhausted, I climbed in, not ready to argue with the logic of what appears to be and what is. The upholstery was warm to the touch, and beside me was a bottle of water, still full. I grabbed it eagerly, pressing my parched lips against the plastic. My throat was nearly swollen with thirst and I was eager to taste the cool liquid as it slid down my throat. I thought of the girl walking around out there, alone. Maybe even thirsty.
<br> <br>
In my memory, I heard her words — you need to go the other way. Then I realized the water wasn’t coming out. I was thirstier than ever.
<br> <br>
Across from me, the door to the Toyota began to open wide.
<br> <br>
“Yeah, there is.” The tan sleeve of a California Highway Patrol officer appeared first, followed by a wrinkled face as the man peered into the cab of the Toyota. He let go of the door and I watched as he pressed two fingers against a dark heap slumped beside me. I hadn’t noticed it before.
<br> <br>
“Hey! I’m glad to see you! I need water. My truck, it crashed…” My words tumbled out dry and raspy, but the officer ignored me.
<br> <br>
“What’s the status?” A deeper voice came from behind the officer.
<br> <br>
“No pulse.” Answered the officer closer to me, “Looks like she died on impact.”
<br> <br>
“Hey!” I waved at him, but he was too busy with the pile, which, looking closer, I could see she was actually a woman collapsed against the steering wheel. She was about my age and my height and my weight. She even had brown hair, like mine, speckled with grey. She obviously needed some help.
<br> <br>
“Yeah — no pulse.” The CHP officer repeated, turning over the motionless form. “I don’t know how, but that girl at the gas station was right.”
<br> <br>
The unconscious heap seemed to roll in protest, her head turning last, her eyes open, wide, staring… There was something about the eyes that I recognized. Something familiar, almost…
<br> <br>
“They gotta do something with this highway…” The voice outside was moving closer, getting louder.
<br> <br>
The woman in the seat beside me did not blink. Her brown eyes stared past me, over my shoulder.
<br> <br>
I looked away, not wanting to look at her, not wanting to hear the highway patrol officer, not wanting to be there. Then, another voice joined the men. I knew the voice, well.
<br> <br>
I squeezed my eyes, tight, hoping to make it go away, hoping to make her go away. but I could still see her, even in behind my closed eyelids. She was standing on the asphalt in front of me –a solitary image on the road that led to endlessness in all directions.
<br> <br>
“You need to go the other way,” she whispered, her words drifting in through the open car window, surrounding me.
<br> <br>
In a moment of panic, hoping it was it was a dream, I flashed my eyes open, but she was still there. She was exactly as I knew she would be — standing on the road in front of me, pointing her same thin finger at the horizon, just as she did before.
<br> <br>
This time her eyes were steady and unflinching. Unavoidable.
<br> <br>
“It’s time to go.”
	</p>
	<hr>
	<%= link_to "Read more", root_path, onclick: 'show_page("posts"); return false', class: "bottom_of_post_link" %> <br>
	<%= link_to "Get notified of new posts", root_path, onclick: 'show_page("email"); return false', class: "bottom_of_post_link" %> <br>
</div>


<div class="post" id="piece_two">
	<h3 class="piece_header"> <%= @title3 %> </h3>
	<p>
I had spent most of my life trying to protect my little girl from so many things: cars, sharp edges, boogie-men —
 <br> <br>
I decided not to take the highway. I wanted more time with Alex. Just a little bit more time to stretch out the minutes sandwiched between her hospitalization and homecoming. I think it was the right decision, too, because I found the stop and go of the after-rush hour traffic on the El Camino to be relaxing. And I was no hurry.
 <br> <br>
Overhead, the traffic light changed to red. I pressed down on the brake and reached for my coffee. McDonalds. Luke-warm, bitter. Over-brewed, too, but there weren’t many options: the coffee maker had been packed away for 24 hours.
 <br> <br>
I glanced at Alex who was still staring out the window.
 <br> <br>
“Your little sisters are happy they get to use their rolling suitcases again. You know, the ones we took to our vacation to Yosemite.”
 <br> <br>
I knew Alex would remember. It was the last trip we went on all together.
 <br> <br>
Alex looked for a moment, then returned to her window, resting her cheek on the upholstered tweed, and fingering the envelope postmarked “Los Angeles.”
<br> <br> 
Outside, the day was mild and warm. Bright. Spring had bullied its way into winter, ahead of schedule this year. The March shadows, overcast, were gone, along with the rain clouds that had lurked overhead, thick and dark and waiting for the chilling gusts of still-winter wind which always seemed to appear out of nowhere — interrupting the best of our plans.
<br> <br> 
But not today. Today, the sky was clear and blue and cloudless. A happy March sky, and I couldn’t have asked for anything more, because today Alex was returning home.
<br> <br> 
For the first time in weeks there was no hat on her head. There was no wide cloth hair-band and no piece of gauze or cotton pressed tight to her ear to catch the bloody mucousy drip.
<br> <br> 
Instead, Alex’s hair was gathered loosely into a single French braid that trailed down her back. Both of her ears were naked and exposed to the air, and free of pain. Alex, at last, had returned to wellness; a life without I.V.’s and strawberry Jell-O and clear chicken broth, and, at last, a life without nurses who check vital signs at midnight.
<br> <br> 
From the driver’s seat, I could just make out the two-by-two-inch square of gauze hiding behind her left ear, protecting the little row of stitches. It was Alex’s badge of survival.
<br> <br> 
At Wolf Road, another yellow stoplight turned to red. I braked and glanced over to the frail seventeen-year-old who used to be my daughter. “Honey, I’m so excited to have you back — ”
<br> <br> 
Again, Alex didn’t respond. She continued to gaze out her window at the paused landscape. Maybe she didn’t hear me speak. Or maybe this was normal. After all, it had been six weeks since she was able to participate in life, and now, at last, life was all around her — everywhere.
<br> <br> 
It must be expected.
<br> <br> 
The light turned green, and engines around us hummed forward. For some reason, my thoughts went back to the hospital; standing above Alex, stroking her forehead, praying for her to wake up and to be okay. And the whole time I worried about Alex, I worried about the mortgage and the one thing they said would never happen.
<br> <br> 
But it did happen.
<br> <br> 
So how do I, her mother, just say it?
<br> <br> 
— By the way Alex, I was wrong: while you were in the hospital, your home was packed away — carted off to storage.
<br> <br> 
The thought of storage and the house brought me back to Thanksgiving dinner and T.J. ranting on and on about “subprime” and “interest rate.” Damn him! He knew this was coming.
<br> <br> 
On either side of street, the landscape was changing. Five minutes had brought us to the boundary-line and the signpost that read Welcome to the City of Santa Clara.
<br> <br> 
Here, the storefronts were familiar; small snapshots of my personal history, sidewalks alive with a lifetime of frozen afternoons: me, dragging my feet in sweaty sandals holding an ice-cold Slurpee; with my sister, backpacks strapped to our shoulders, waiting for the bus to take us home from school; all of three of us, crammed into the back seat of the Volvo. Years later, I would walk past with my own kids, pushing a shopping cart through Kmart, Big Lots, and Blockbuster Video. Yes, this was my neighborhood.
<br> <br> 
It was also Alex’s neighborhood.
<br> <br> 
I had tried to tell Alex about moving. Gently. Ever since I learned that moving was a possibility. But it was difficult, if not impossible, to speak to Alex about something that I barely understood.
<br> <br> 
Especially when she was connected to tubes.
<br> <br> 
But I was out of time. There was no other way.
<br> <br> 
“So, Alex, the hotel is nearby — just down the street. So, you can still walk to school. Things won’t change too much.”
<br> <br> 
It was a ‘sort-of’ truth, and I knew this, even as I said the words aloud. This time, Alex glanced over at me with an expression I couldn’t quite read. Then she turned on the radio and turned away. I thought I heard the gentle folding — a crinkling — of the envelope in the heaviness that descended between us.
<br> <br> 
I didn’t know if I should continue to talk and explain to my child — yes, she was still just a child — that I was tired. I had worked all weekend long to downsize our belongings to move out. In fact, it was so downsized that I could recite the contents of our house in one sentence, without needing to take a breath: suitcases filled with clothes, paper plates and food, three air mattresses and one card table in the middle of the kitchen, and four folding chairs.
<br> <br> 
Instead, I said nothing, but listened to the emptiness that had grown from the pause. It leaked through, almost drowning out the rumble of the car engine and the radio newscaster who was talking on and on about a proposition on the ballot to build a stadium in Santa Clara.
<br> <br> 
Because the 49ers need a home.
<br> <br> 
I kept my eyes on the road. I thought about Mike, briefly, but it didn’t matter anymore. Nothing mattered now, except Alex and the sentence I had prepared to cheer her up.
<br> <br> 
I had practiced it in my head, again and again, but it was stuck — caught deep in-between my trachea and my esophagus. It was a tangled mass of disbelief and frustration and yuk; a rage that threatened to erupt and expose the future as something that I didn’t want it to be.
<br> <br> 
So, instead of speaking the words aloud, to my daughter, I whispered them to myself — you’ll see; we can start over.
<br> <br> 
Selfishly, I imagined what a wonderful moment it would be if Alex — suddenly wise from her near-death encounter — would turn away from the window and speak that one sentence, or word or phrase, that would ease my guilt. Maybe one magical observation that would put life and death into its proper perspective.
<br> <br> 
And losing the house wouldn’t seem so bad.
<br> <br> 
But Alex just continued to stare out the window, and my words lingered, their half-truth buried, waiting for us to pull up alongside the curb of 2667 Donovan Avenue. Then —
<br> <br> 
In the end, I recited little of — and Alex heard less of — the well-planned “It’ll get better” speech that was meant to prepare her for the empty house. I didn’t know if this was bad, or good.
<br> <br> 
On arrival, Alex tumbled out of the car, a big smile from ear to bandaged ear, her eyes bright. I climbed out behind her, scooped up her hospital bag and gave the car door a nudge. It took its time to swing shut and I watched as Alex stepped forward without me.
<br> <br> 
Still clenching her envelope in her right fist, Alex began her ascent up the brick walkway, past the mailbox that I’d meant to replace: one, two, three, four steps. Then she stopped, and leading with her shoulder, her chin last, she faced me.
<br> <br> 
“You o.k.?” I stepped onto the sidewalk.
<br> <br> 
She nodded, steadying herself, locking her knees. Fine grooves stretched across her forehead, and she inhaled through her nostrils. Her thin shoulders rose, then fell and she separated her lips, taking time to form each syllable, round and long. “M o m, I’ m — ”
<br> <br> 
In a minute, I was beside her, placing an arm around her waist.
<br> <br> 
“Here, lean on me — ”
<br> <br> 
She fell against me, and together we continued forward, one step at a time. In one sense, it was surreal that she and I were finally here, returning home; in the same way that her surgery had also seemed unreal.
<br> <br> 
The doorknob was cold against the center of my palm. It radiated outwards, moving to the tips of my fingers. I turned it clockwise like I always did.
<br> <br> 
As if it today was any other day.
<br> <br> 
The door surrendered with a “click.” I pressed my teeth against my bottom lip, feeling flesh between enamel.
<br> <br> 
A way-too-quiet silence leaked from the house, pulsing, and ready to swallow us up, whole.
<br> <br> 
Alex leaned against me and, at that moment, standing with Alex at the threshold of the empty house, looking in, the irony was clear. I had spent most of my life trying to protect my little girl from so many things: cars, sharp edges, boogie-men; however, when I opened the door, and her eyes took in “home,” I knew that I could never have prepared her for that moment, that loss. For home, as Alex remembered it, was gone. It was packed away in boxes, stacked up, and locked away in Public Storage on Martin Avenue in Santa Clara.
<br> <br> 
Waiting for the next chapter.
<br> <br> 
I could feel the echoing the rhythm of Alex’s heart — pounding, beating, reverberating — bouncing off the empty walls of the room. I could feel her gasp, voiceless, as she scanned the room and her jaw fell. Her breath strangled, caught in the exhale, and tiny tremors in her chest rose up, then paused, only to break.
<br> <br> 
She looked at me, her bottom lip quivering, her eyes searching and wet, blinking furiously as if to rid themselves of the teary pools that obstructed her vision. Their frenetic movement contrasted with the silence that had stagnantated between us.
<br> <br> 
It was a silence that moaned and whined and cried. It screamed out; asking and demanding. Over and over and over…
<br> <br> 
I could feel her eyes sear through me, as light might pierce the darkness, accusing, only to soften as they locked into mine. At that moment, I swear I could see into her world; a childhood world of memories soon to be lost. I pressed closer to my little girl, ignoring the sensation of falling — tumbling — as our futures, as we planned them, softly crumbled away.
<br> <br> 
Alex’s voice brought me back to reality, asking aloud that one question that I really still couldn’t answer “What happened?”
	</p>
	<hr>
	<%= link_to "Read more", root_path, onclick: 'show_page("posts"); return false', class: "bottom_of_post_link" %> <br>
	<%= link_to "Get notified of new posts", root_path, onclick: 'show_page("email"); return false', class: "bottom_of_post_link" %> <br>
</div>


<div class="post" id="piece_three">
	<h3 class="piece_header"> <%= @title4 %> </h3>
	<p>
Emma knew that when he arrived she wouldn’t tell him that she had left forty-five minutes early just to make sure she could still find the place. It was a restaurant on the north side of town and it had been ages since she made the journey. And, after all, she reminded herself, he was the one that always did the driving, especially when, well — it’d been a while.
<br> <br> 
Above, the flights flickered. It was a quick off-and-on — a gust of wind, maybe — probably the prelude that signified the storm-to-come. Emma took notice of it, but that was all. It was December and to be expected, really. No one else seemed bothered by it.
<br> <br> 
Her thoughts went back to Greg, driving on the road. Maybe the storm was breaking on the other side of town where Greg worked. Maybe it was the rain slowing him down. Or, perhaps the wind?
<br> <br> 
No, Emma reminded herself, Greg’s lateness was expected. Somewhat. It was one part of what made him, him. A tiny part of the whole that she still loved — dare she admit it? — part of the take-it-all or leave-it-all bundle and, really, it was the only way to really love him.
<br> <br> 
She unfolded her legs and slid her right foot free from the simple, yet elegant black pump. With nyloned-toes, she scratched her left ankle, feeling the sharpness of her big toe nail. Then she remembered —darn it! — she had forgotten to pick up a toenail clipper when she was at Walgreens.
<br> <br> 
Emma continued to run her big toe over her ankle bone, trying to scratch the itch over the knobby, but freckled flesh, all wrapped tight in nude and silky, Sheer Energy Size B, control top.
<br> <br> 
Ah- she remembered, it wouldn’t be long till she could remove them. Either way.
<br> <br> 
Even so, Greg’s lateness was painful. It was gut-wrenching, infuriating, just like had always been. Every notch the minute hand moved forward ignited a brand-new set of issues, concerns, anxieties. Maybe he had second thoughts? Perhaps I misunderstood?
<br> <br> 
Still, it was only a meeting “for drinks,” to remember “old times.”
<br> <br> 
She thought back to the words that arrived, casually, in text-form. From Greg’s phone to hers. Yesterday, at 6:45 p.m. The exact time was important.
<br> <br> 
The third time the hostess appeared, Emma wondered, again, if he had sent the message on accident. Perhaps he confused her with the newest love of his life. Maybe the message was meant for another “E”? Had he dated an “Elizabeth,” an “Eliza,” an “Elsie”? She smiled at the idea of him dating an “Elsie.” Yes, sadly, all of the women she’d seen him with could easily have been called Elsie. He definitely had a type: fluffy-haired, dyed blonde, or red, or black — never naturally so. But always bubbly and thin. Chatty and poodle-like. The appearance changed, slightly, whether fair-skinned or dark, they all shopped at Nordstrom, they all drove some BMW or Lexus and wore spiked-high Stilettos and posted air-brushed portraits of themselves on their Facebook page.
<br> <br> 
Not that Emma checked. Well, not often, at least.
<br> <br> 
But what had she replied to him? Before she could scroll through her messages to find the answer, the girl was in front of her, asking the question, again.
<br> <br> 
Again, Emma forced herself to smile. “No, thank you. I’ll wait.”
<br> <br> 
The girl smiled back. Her smile was only somewhat forced, but friendly. Sort of.
<br> <br> 
“Josie,” her nametag read. She, along with “Susanna,” were the night hostesses. That’s what the waitress had said when she set down the vodka soda with a squirt of cranberry.
<br> <br> 
Don’t worry, you can take your drink with you. I’ll find you when your other half arrives if you escape to a cozy table in the back. Definitely request it, if you know what I mean — then the waitress winked at her, smiling.
<br> <br> 
Politely, Emma smiled back. My other half? He used to be my other half, but not now. Past-tense.
<br> <br> 
She looked back towards the door. So, if the text was not a mistake, then he wants to talk over “old times.” Except, that is precisely what the problem is. Which of the “old times” did he want to discuss?
<br> <br> 
Or re-live.
<br> <br> 
She looked down at her nails: casually neutral. They were a product of a mad-dash lunch time manicure with Suzie, after she knew what she would wear today — a sweater and skirt. Later, on the way here, she stopped at Walgreens and bought a lipstick that would match (but forgot the toenail clipper!) The color was called Forgotten Carmel.
<br> <br> 
Relax — she willed her shoulders, her wrists.
<br> <br> 
Look out the window, at the trees –not the parking lot, not the door. She stretched out her hands, crossing one on top of the other. Casual and neutral. Like her nails.
<br> <br> 
But it wasn’t working.
<br> <br> 
It was twenty-five minutes past the hour when she glanced at the lacquered oak doors. One last time, she told herself. One last time and I’ll look. If he’s not walking through the doors, I’m leaving.
<br> <br> 
But she knew she wouldn’t.
	</p>
	<hr>
	<%= link_to "Read more", root_path, onclick: 'show_page("posts"); return false', class: "bottom_of_post_link" %> <br>
	<%= link_to "Get notified of new posts", root_path, onclick: 'show_page("email"); return false', class: "bottom_of_post_link" %> <br>
</div>


<div class="post" id="piece_four">
	<h3 class="piece_header"> <%= @title5 %></h3>
	<p>
Somebody died last night — 
while I slept between cotton, then awakened, briefly, 
my toes brushing across wiry hairs of the chihuahua
buried deep between blanketed folds of down.
<br> <br> 
He snapped at the affront, teeth sharp against my flesh,
rattled, shaken, aware he had been exposed. His anonymity
gone. The moment was over in one-half of one minute,
or maybe it was a Nano-second, or maybe it was exactly the time
it took for the bullet to strike. Fire
<br> <br> 
and a glimmer of light, a burst of heat
and sound. A battle of iron versus bone, a slicing
that severs with molten metal;
<br> <br> 
copper, iron, steel and a steamy
end to eternity,
<br> <br> 
it’s victor to be revealed only after the hours and minutes and seconds
transition forward and the universe bids farewell
to the morning after. Long after the Chihuahua 
has drifted back to sleep.
<br> <br> 
But Somebody died.
<br> <br> 
Many Somebodies. Expelling
life: folding and falling, palms to the heavens, eyes fixed
on the nothingness of everything, under star-cloaked 
darkness and the fluorescent glow of bleached-white 
rooms scrubbed germ-free with Lysol.
<br> <br> 
And she who carried Somebody, the uterus
that nursed her child to an almost-adult adolescence?
If not touching, finger-to-finger, standing vigil, inhaling
each of Somebody’s exhale, did she slumber
<br> <br> 
one block away? Or one hundred or one thousand? cushioned
in-between satin and percale and cotton, dreaming
of tomorrow. Did she hear the whispered thud or thump
<br> <br> 
as her first or last or middle or only
 — her well-beloved sack of progeny DNA — exhaled
a final sigh?
<br> <br> 
Did her eyes flutter open? Sensing
her life’s greatest accomplishment
was evaporating, deflating, because
<br> <br> 
Somebody died last night.
<br> <br> 
Victim, oppressor, hero, savior, defender, antagonist, liar, thief; brave firewalkers all, battling fleshy flames tangled in steel, yet
<br> <br> 
never mind.
<br> <br> 
In a last cleansing of blood and air,
Somebody will live on, initiated
into sainthood in a final outburst of sound and heat and salt-water tears,
trailing along the cheekbones of the living
as flesh-covered comrades and strangers, pulsating
with blood, sinew, cilia and sparks of nerve, remember
<br> <br> 
those who walked through the fire when
Somebody died last night.
	</p>
	<hr>
	<%= link_to "Read more", root_path, onclick: 'show_page("posts"); return false', class: "bottom_of_post_link" %> <br>
	<%= link_to "Get notified of new posts", root_path, onclick: 'show_page("email"); return false', class: "bottom_of_post_link" %> <br>
</div>
<!-- END OF POSTS -->



<div class="post" id="posts">
	<h3 class="page_header"> All Posts </h3>		
	<p>
	    <% if @authors_settings.post_one %>
		<p class="post_title" onclick='show_piece("piece_zero");'> <%= @title1 %> </p>
		<p class="post_excerpt"> Nestled... between ...</p>
		<% end %>

	    <% if @authors_settings.post_two %>
		<p class="post_title" onclick='show_piece("piece_one");'> <%= @title2 %> </p>
		<p class="post_excerpt"> there she was, staring at me ...</p>
		<% end %>

	    <% if @authors_settings.post_three %>
		<p class="post_title" onclick='show_piece("piece_two");'> <%= @title3 %> </p>
		<p class="post_excerpt"> I had spent most of my life ...</p>
		<% end %>

	    <% if @authors_settings.post_four %>
		<p class="post_title" onclick='show_piece("piece_three");'> <%= @title4 %> </p>
		<p class="post_excerpt"> Emma knew that when ...</p>
		<% end %>
	
	    <% if @authors_settings.post_five %>
		<p class="post_title" onclick='show_piece("piece_four");'> <%= @title5 %> </p>
		<p class="post_excerpt"> Somebody died last night ...</p>
		<% end %>
	</p>
</div>

<div class="post" id="bio">
	<h3 class="page_header"> Bio / About Me </h3>		
	<p> <!-- placeholder --> </p>
</div>

<div class="post" id="email">
	<h3 class="page_header"> Notifier </h3>
	<p> Notify me with a simple Email <br> when new posts are published: </p>
	<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
		<%= f.text_field :email, placeholder: " me@memail.com",
				style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
	    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
		<%= f.submit "done", class: "btn btn-light", style: "padding: 0 5px; font-size: 14px; float: left; border: 1px solid grey;" %>
	<% end %>
</div>

<div class="post" id="contact">
	<h3 class="page_header"> Message Box </h3>
	<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
		<%= f.text_area :email, placeholder: "message me here ...",
				style: "width: 170px; height: 100px;" %> <br>
	    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
		<%= f.submit "send", class: "btn btn-light", style: "padding: 0 5px; font-size: 14px; float: left; border: 1px solid grey;" %>
	<% end %>
</div>

<!-- END OF POSTS -->

	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
	
			<% if @authors_settings.email_subscription_feature %>
			<div class="functionality_container" style="">
				<p class="functionality_title" style="margin-top: -50px;"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
					<%= f.submit "done", class: "btn btn-light", style: "padding: 0 5px; font-size: 14px; float: right; border: 1px solid grey;" %>
				<% end %>
			</div>
			<% end %>

			<% if @authors_settings.social_icons_features %>
			<div id="my_social" class="functionality_container" style="margin-top: 60px; color: black;">
				<% unless @twitter_link.empty? %>
				<a href= <%= @twitter_link %> target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px; color: black;"></i>
				</a>
				<% end %>

				<% unless @medium_link.empty? %>
				<a href= <%= @medium_link %> target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<% end %>

				<% unless @fb_link.empty? %>
				<a href= <%= @fb_link %> target="_blank">
					<i class="fab fa-facebook" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<% end %>
			</div>
			<% end %>


			<% if @authors_settings.twitter_life_feed %>
			<div id="twitter_feed" class="functionality_container" style="margin-top: 46px; color: black;">
				<a class="twitter-timeline" data-width="200" data-height="300" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/KrisJleonard?ref_src=twsrc%5Etfw">Tweets by KrisJleonard</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<% end %>
	  	</div>
	  </div>
	<div id="powered_by" class="powered_by" style="margin-top: -108px;"> Powered by WordGates | The Home of Writers </div>

	</div>
</div>



<style type="text/css">
	body{
	  margin: 0;
	  padding-bottom: 20px;
	  background: url(<%= @background_image %>) no-repeat center center fixed;
	  font-family: "Times New Roman";
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	

	.post_title{
		font-size: 19px;
		margin-bottom: 3px;
	}

	.header_links{
		color: black;
		padding: 0 20px;
	}

	.header_links:hover{
		color: black;
		text-decoration: underline;
	}

	.right_side_links{
		color: black;
		display: block;
		margin-bottom: 6px;
	}

	.right_side_links:hover{
		color: black;
		text-decoration: underline;
	}

	.go_back_btn{
		text-decoration: underline;
	}

	.central_container{
		width: 836px;
		margin: 22px auto 75px auto;
		-webkit-border-radius: 5px; 
	  	-moz-border-radius: 5px; 
	    border-radius: 5px; 
		background-color: white;
		padding: 20px;
		overflow: auto;	
	}

	.page_header{
		font-size: 26px;
		margin-bottom: 20px;
	}

	.piece_header{
		font-size: 26px;
	}

	.post_excerpt{
		margin-bottom: 22px;
	}

	div.post > p{
		font-size: 17px;
	}

	div.post > .post_title{
		font-size: 19px;
		margin-bottom: 3px;
	}

	div.post > .post_excerpt{
		font-size: 12px;
		margin-bottom: 22px;
	}

	#dashboard_link{
	position: fixed;
	top: 2px;
	right: 6px;
	padding: 3px 12px;
	background-color: white;
	color: black;
	text-decoration: none;
	border: 1px solid black;
	-webkit-border-radius: 3px; 
  	-moz-border-radius: 3px; 
    border-radius: 3px;
	}


</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

