<%= link_to "Back to Site", kristin_leonard_path, id: "dashboard_link" %> 

<div class="container-fluid">
  <div class="central_container"> 		

  	<div class="left_side_container">
	  	<%= image_tag "https://miro.medium.com/fit/c/240/240/1*Y9QQ4IMipzdd1o35xsDgTQ.png", id: "profile_image" %>
	</div>

  	<div id="middle_container" class="middle_container" style="width: 570px;">  	
  		<% if notice %> <h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1> <% end %>

		<h1 class="name_title"> Dashboard </h1>
		
		<h3 class="title" style="font-size: 16px; margin-bottom: 8px; margin-top: 35px;"> Actions </h3>
		<hr>
		<%= link_to "Publish a new Post (only here - not on Medium)", "#", class:"btn btn-secondary",
					style: "margin-bottom: 12px; border: 1px solid lightgrey;" %>
		<!--
		<p style="display: inline; padding-left: 4px;"> only here - not on Medium. </p>
		-->
		<%= link_to "Manage your Email Subscribers", "#", class:"btn btn-secondary",
					style: "margin-bottom: 12px; border: 1px solid lightgrey;" %> <br>

		<%= link_to "Set your Bio / About Page", "#", class:"btn btn-secondary", style: "border: 1px solid lightgrey;" %>

		<br> <br>
		<p style="text-decoration: underline;"> Any new writing that you post on Medium will be imported automatically to your Wordgates site within 24 hours. </p>

		<!--
		<p style="text-decoration: underline;"> Note: The posts on your site sync with your Medium every 24 hours. </p>
		-->
		<!-- background-color: #F5EFE6; -->

		<h3 class="title" style="font-size: 16px; margin-bottom: 8px; margin-top: 60px;"> Page Settings </h3>
		<hr>

		<%= form_for :user_settings, url: editing_leonard_page_path do |f| %>			<!--
			<h2 style="font-size: 32px; margin-bottom: 22px;"> Settings </h2>
			--> 
			<h3 class="title" style="margin-bottom: 8px; margin-top: 10px;"> About Me </h3>
			<p> Text below your name on the homepage. </p>
            
            <!-- Title: <br>
            <%= f.text_field :about_title, value: @authors_settings.about_title, style: "width: 215px;" %> <br>
            Content: <br> -->
            <%= f.text_area :about_content, value: @authors_settings.about_content, style: "width: 215px; height: 65px;" %> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		 	<br> <hr>

			<h3 class="title" style="margin-bottom: 16px; margin-top: 55px;"> Small Profile Image on the Left </h3>			
		    <%= f.file_field :image, style: "font-size: 12px;" %> <br> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		    <br> <hr>

			<h3 class="title" style="margin-bottom: 16px; margin-top: 55px;"> Large Site-Background Image </h3>
		    <%= f.file_field :image, style: "font-size: 12px;" %> <br> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		    <br> <hr>


			<!-- <p> 
				An option to change your image
				and the site's <br> background image
				is coming within the next few days.
			</p> -->
			<h3 class="title" style="margin-bottom: 8px; margin-top: 55px;">
			 Your Posts 
			</h3>
			<p> 
				Unckeck those posts that you'd like to hide (if any).
				<!--
				An option to publish more posts here which <br> are not on your Medium is coming soon.
				-->
			</p>
            <%= f.check_box :post_one, checked: @authors_settings.post_one %>  <%= @title1 %> <br>
            <%= f.check_box :post_two, checked: @authors_settings.post_two %>  <%= @title2 %> <br>
            <%= f.check_box :post_three, checked: @authors_settings.post_three %> <%= @title3 %> <br>
            <%= f.check_box :post_four, checked: @authors_settings.post_four %> <%= @title4 %> <br> 
            <%= f.check_box :post_five, checked: @authors_settings.post_five %> <%= @title5 %> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
			<br> <hr>

			<h3 class="title" style="margin-bottom: 8px; margin-top: 55px;"> Your Features </h3>
			<p> Uncheck those features that you'd like to discard (if any). </p>
            <%= f.check_box :portrait_feature, checked: @authors_settings.portrait_feature %> Your Image on the Left <br>
            <%= f.check_box :about_feature, checked: @authors_settings.about_feature %> "About Me" Section <br>
            <!-- <%= f.check_box :this_month, checked: true %> "Posts" Section <br> -->
            <%= f.check_box :email_subscription_feature, checked: @authors_settings.email_subscription_feature %> Subscribe to Email-Updates Box <br> 
            <%= f.check_box :social_icons_features, checked: @authors_settings.social_icons_features %> Social Icons - Twitter, Medium <br>
            <%= f.check_box :contact_feature, checked: @authors_settings.contact_feature %> Contact Me Box <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		 	<br>
		<% end %>



		<div class="powered_by_dashboard"> Powered by WordGates | The Home of Writers. </div>
  	</div>
  </div>
</div>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url("http://s3.otherpeoplespixels.com/sites/30468/assets/5OHQ_CDTOHDBFsQl.jpg") no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	

	.title{
		font-size: 23px;
	}
</style>

