<%= link_to "Back to Site", kristin_leonard_path, id: "dashboard_link" %> 


<div class="container-fluid">
  <div class="central_container"> 		

  	<div class="left_side_container">
	  	<%= image_tag "https://miro.medium.com/fit/c/240/240/1*Y9QQ4IMipzdd1o35xsDgTQ.png", id: "profile_image" %>
	</div>

  	<div id="middle_container" class="middle_container" style="width: 570px;">  	
  		<% if notice %> <h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1> <% end %>

		<h1 class="name_title"> Dashboard </h1>
		<p style="background-color: #F5EFE6; padding-left: 8px;"> Note - Any new writing you post on Medium will be imported automatically <br> to your Wordgates site within 24 hours of posting. </p>

		<!--
		<h3 class="title" style="font-size: 16px; margin-bottom: 8px; margin-top: 35px;"> Your Actions </h3> <hr>
		<%= link_to "Manage Email Subscribers", "#", class:"btn btn-secondary",
					style: "margin-bottom: 4px; border: 1px solid lightgrey;" %>
		<%= link_to "Manage your Bio / About Page", "#", class:"btn btn-secondary", style: "margin-bottom: 4px; border: 1px solid lightgrey;" %>
		<%= link_to "Publish a new Post (only here - not on Medium)", "#", class:"btn btn-secondary",
					style: "margin-bottom: 12px; border: 1px solid lightgrey;" %>
		-->

		<h3 class="title" style="font-size: 16px; margin-bottom: 8px; margin-top: 35px;"> Actions </h3> <hr>
		<%= link_to "Publish a new Post", root_path, class: "dashboard_nav_link", 
				onclick: 'display_section("new_post"); return false' %>

		<%= link_to "Manage Email Subscribers", root_path, class: "dashboard_nav_link", 
				onclick: 'display_section("email_subscribers"); return false' %>
		
		<%= link_to "Manage Bio / About Page", root_path, class: "dashboard_nav_link", 
				onclick: 'display_section("bio"); return false' %>

		<%= link_to "Images and Settings", root_path, class: "dashboard_nav_link", 
				onclick: 'display_section("settings"); return false' %>

		<!--
		<%= link_to "Base Settings", root_path, class: "dashboard_nav_link", id: "settings_link", onclick: 'display_section("settings"); return false' %>
		-->

		<%= form_for :user_settings, url: editing_leonard_page_path do |f| %>
		<div id="settings">
			<h3 class="title" style="font-size: 16px; margin-bottom: 8px; margin-top: 34px;"> Images and Settings </h3> <hr>

			<h3 class="title" style="margin-bottom: 22px; margin-top: 25px;"> Small Profile Image on the Left </h3>
			<%= f.file_field :picture, style: "font-size: 12px;" %> <br> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		    <br> <hr>

			<h3 class="title" style="margin-bottom: 22px; margin-top: 42px;"> Large Site-Background Image </h3>
		    <%= f.file_field :background_img, style: "font-size: 12px;" %> <br> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		    <br> <hr>

			<h3 class="title" style="margin-bottom: 8px; margin-top: 42px;"> About Me </h3>
			<p> Short self-description below your Name on Homepage. </p>
            <!-- Title: <br>
            <%= f.text_field :about_title, value: @authors_settings.about_title, style: "width: 215px;" %> <br>
            Content: <br> -->
            <%= f.text_area :about_content, value: @authors_settings.about_content, style: "width: 215px; height: 65px;" %> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		 	<br> <hr>

			<h3 class="title" style="margin-bottom: 8px; margin-top: 42px;"> Your Posts </h3>
			<p> Unckeck those posts that you'd like to hide (if any). </p>
            <%= f.check_box :post_six, checked: @authors_settings.post_six %>  One Drop <br>
            <%= f.check_box :post_seven, checked: @authors_settings.post_seven %> Seven Days Till the First <br>
            <%= f.check_box :post_one, checked: @authors_settings.post_one %>  <%= @title1 %> <br>
            <%= f.check_box :post_two, checked: @authors_settings.post_two %>  <%= @title2 %> <br>
            <%= f.check_box :post_three, checked: @authors_settings.post_three %> <%= @title3 %> <br>
            <%= f.check_box :post_four, checked: @authors_settings.post_four %> <%= @title4 %> <br> 
            <%= f.check_box :post_five, checked: @authors_settings.post_five %> <%= @title5 %> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
			<br> <hr>

			<h3 class="title" style="margin-bottom: 8px; margin-top: 42px;"> Your Features </h3>
			<p> Uncheck those features that you'd like to discard (if any). </p>
            <%= f.check_box :portrait_feature, checked: @authors_settings.portrait_feature %> Your Image on the Left <br>
            <%= f.check_box :about_feature, checked: @authors_settings.about_feature %> "About Me" Section <br>
            <%= f.check_box :bio_feature, checked: @authors_settings.bio_feature %> Bio Page <br>
            <!-- <%= f.check_box :this_month, checked: true %> "Posts" Section <br> -->
            <%= f.check_box :email_subscription_feature, checked: @authors_settings.email_subscription_feature %> Subscribe to Email-Updates Box <br> 
            <%= f.check_box :social_icons_features, checked: @authors_settings.social_icons_features %> Social Icons - Twitter, Medium <br>
            <%= f.check_box :twitter_life_feed, checked: @authors_settings.twitter_life_feed %> Twitter Life Feed <br>
            <%= f.check_box :contact_feature, checked: @authors_settings.contact_feature %> Contact Me Box <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %> <br>
		</div>

		<div id="bio">
			<h3 class="title" style="font-size: 16px; margin-bottom: 8px; margin-top: 34px;"> Manage Bio / About Page </h3> <hr>
			<h3 class="title" style="margin-bottom: 8px; margin-top: 10px;"> Title </h3>
            <%= f.text_field :bio_title, value: @authors_settings.bio_title, style: "width: 215px;" %> <br>
			<h3 class="title" style="margin-bottom: 8px; margin-top: 28px;"> Page Content </h3>
			<p> You can write as much as you like here.</p>
            <%= f.text_area :bio_content, value: @authors_settings.bio_content, style: "width: 395px; height: 365px;" %> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		 	<br>
		 </div>

		 <div id="images">
		 	<!--
			<h3 class="title" style="font-size: 16px; margin-bottom: 8px; margin-top: 34px;"> Choose Images </h3> <hr>
			<h3 class="title" style="margin-bottom: 8px; margin-top: 10px;"> Small Profile Image on the Left </h3>
			<%= f.file_field :picture, style: "font-size: 12px;" %> <br> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
		    <br> <hr>

			<h3 class="title" style="margin-bottom: 16px; margin-top: 55px;"> Large Site-Background Image </h3>
		    <%= f.file_field :background_img, style: "font-size: 12px;" %> <br> <br>
			<%= f.submit "Apply Changes", style: "font-size: 14px; margin-top: 8px;" %>
			-->
		    <br>
		 </div>

		 <div id="email_subscribers">
			<h3 class="title" style="font-size: 16px; margin-bottom: 8px; margin-top: 34px;"> Manage Email Subscribers </h3> <hr>
			<p style="background-color: #F5EFE6; padding-left: 8px;"> 
		 		No subscribers yet.
		 	</p>
		 </div>

		 <div id="new_post">
			<h3 class="title" style="font-size: 16px; margin-bottom: 8px; margin-top: 34px;"> Publish a new Post </h3> <hr>
		 	<p style="background-color: #F5EFE6; padding-left: 8px;"> 
				Functionality coming soon. 
			</p>
		 </div>
		<% end %>

		<div class="powered_by_dashboard"> Powered by WordGates | The Home of Writers. </div>
  	</div>
  </div>
</div>



<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url("http://s3.otherpeoplespixels.com/sites/30468/assets/5OHQ_CDTOHDBFsQl.jpg") no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  font-family: "Times New Roman";
	}	

	.title{
		font-size: 23px;
	}

	#dashboard_link{
	position: fixed;
	top: 2px;
	right: 6px;
	padding: 3px 12px;
	background-color: white;
	color: black;
	text-decoration: none;
	border: 1px solid black;
	-webkit-border-radius: 3px; 
  	-moz-border-radius: 3px; 
    border-radius: 3px;
	}

</style>



