<%= link_to "Author's Dashboard", serifovic_dashboard_path, id: "dashboard_link" %> 

<div class="container-fluid">
	
	  <div class="central_container"> 		

	  	<div class="left_side_container"> 		
		    <% if @authors_settings.portrait_feature %>
	  			<%= image_tag "https://pbs.twimg.com/profile_images/984525518036000768/HCaSXD36_400x400.jpg", id: "profile_image" %>
			<% end %>
			<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h1 class="name_title"> Muriz Serifovic </h1>

			<% if @authors_settings.about_feature %>
				<h3 class="title"> <%= @authors_settings.about_title %> </h3>
				<p> <%= @authors_settings.about_content %> </p> <br>
			<% end %>

			<h3 class="title"> Posts <h3>

		    <% if @authors_settings.post_one %>
			<p class="post_title" onclick='show_piece("piece_zero");'> 
				How To Write Your Very First Powerful Artificial Intelligence /s
			 </p>
			<p class="post_excerpt"> Such clever, many intelligent, very human ...</p>
			<% end %>

			<br> <br> <br> <br> <br> <br> <br> <br>
			<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
	  	</div>


<!-- START OF POSTS -->
<div class="post" id="piece_zero">
	<h1 onclick='show_default("piece_zero")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
		<h3 class="piece_header"> How To Write Your Very First Powerful Artificial Intelligence /s </h3>		
		<strong> Such clever, many intelligent, very human. </strong> <br> <br>
		<p> 
			I know, you’re insanely busy so let’s keep this tutorial short and neat.  <br> <br>

		<strong> What the hell is machine learning? </strong> <br> <br>
About 14 months ago, I saw on HackerNews that Google’s Brain Team open-sourced their machine learning library TensorFlow. There was a massive news coverage about it so I thought this must be something huge which Google offered to the world. Back then, I didn’t know what Machine Learning means. To gain more clarity, I started to dig deeper into this subject.<br> <br>

How the fuck can a computer learn by itself? Has the humanity finally developed a strong AI? Could AI become more intelligent than its creator? Thousands of questions crossed my mind, leaving me with the dedication to invest even more time into this great field.<br> <br>

Maybe it’s just me, but the more I learn, the more I want to learn.<br> <br>

"Little did I know that Machine Learning will have a huge impact on my personal career as a developer."<br> <br>

Long story short, in the last 14 months, I’ve spent dozens of dozens of hours to become a true ML expert.<br> <br>

I think it’s time to share some of my knowledge with you guys. Therefore, I want to give you a brief introduction how to write your own AI. Let’s face it, our AI that we’re going to create today won’t be groundbreaking, but it’ll be pretty.<br> <br>

<h3> Let’s get started </h3>
I’m using Python 3 to develop the AI. Don’t worry, all the final code is on my GitHub Repo so you can easily copy-paste the code.<br> <br>
Nowadays, it’s important to have a catchy name for your AI. Apple started with Siri, Amazon came up with Alexa, so I’m gonna call mine Sirlexa. Go ahead and think of a fancy name for your AI.<br> <br>
Next, open up your code editor. I’m using Sublime Text 3. Make a new python file called “sirlexa.py” on your desktop. If you’re using macOS, here are the terminal commands:<br> <br>

cd Desktop <br>
touch sirlexa.py <br><br>
Open sirlexa.py with your code editor and write the following: <br>
</p>

<%= image_tag "https://cdn-images-1.medium.com/max/800/1*HfflsApMId6RLF4kWOo8og.png", style: "width: 370px;" %>
<br> <br>
In the first line, we are importing the standard random module that we’re going to need later. Answers is a list with 3 different sentences, in case Sirlexa doesn’t understand, one of those sentences will be printed out in the console.
<br> <br>
<%= image_tag "https://cdn-images-1.medium.com/max/800/1*xyXxPRXz7FvcGkMnMRaXuA.png", style: "width: 370px;" %>
<br> <br>
Now follows the main part. It’s a infinite while loop. We store the input which the user types in the console in user_input, then we check if user_input equals ‘ hi ’, if not, Sirlexa prints randomly one of the sentences from our list answers. Instead of user_input.lower() we could also use .upper(), but then Sirlexa gets angry at you for yelling.<br> <br>

That’s it, you just created your own AI. <br> <br>

Sure, Sirlexa won’t trick anyone in a Turing Test, but hey, you just created a very, very basic sort of artificial intelligence. <br> <br> <br>
<strong> P.S. <br> </strong> <%= link_to "Here is the GitHub Repo. Be sure to check it out!", "https://github.com/Murgio/Sirlexa" %> <br> <br>

<strong> P.P.S. </strong> Feel free to extend the code with elif (else if) statements to optimize your AI.

/s
		</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>

<!-- END OF POSTS -->

	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
	
			<% if @authors_settings.email_subscription_feature %>
			<div class="functionality_container">
				<p class="functionality_title"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "muriz_serifovic" %>
					<%= f.submit "done", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
			<% end %>

			<% if @authors_settings.social_icons_features %>
			<div class="functionality_container" style="margin-top: 60px;">
				<p class="functionality_title"> My Social </p>
				<a href="https://twitter.com/MurgioMurmani" target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px;"></i>
				</a>
				<a href="https://hackernoon.com/@Muriz.Serifovic" target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
			</div>
			<% end %>

			<% if @authors_settings.contact_feature %>
			<div class="functionality_container" style="margin-top: 40px;">
				<p class="functionality_title"> Contact Me </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: " your message",
							style: "width: 170px; height: 100px;" %> <br>
				    <%= f.hidden_field :author, value: "muriz_serifovic" %>
					<%= f.submit "send", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
	  		<% end %>
	  	</div>
	  </div>

	  </div>

</div>


<script type="text/javascript">
	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("middle_container").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url("https://pbs.twimg.com/profile_banners/2941969984/1523566337/1500x500") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
