<%= link_to "Author's Dashboard", clare_dashboard_path, id: "dashboard_link" %> 

<div class="container-fluid">
	
	  <div class="central_container" style="border: 1px solid lightgrey;"> 		

	  	<div class="left_side_container"> 		
		    <% if @authors_settings.portrait_feature %>
	  			<%= image_tag "https://cdn-images-1.medium.com/fit/c/100/100/1*fK176WLzCPb96o8AMKdmCw.jpeg", id: "profile_image" %>
			<% end %>
			<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h1 class="name_title"> Sylvia Clare </h1>

			<% if @authors_settings.about_feature %>
				<h3 class="title"> <%= @authors_settings.about_title %> </h3>
				<p> <%= @authors_settings.about_content %> </p> <br>
			<% end %>

			<h3 class="title"> Posts <h3>

		    <% if @authors_settings.post_one %>
			<p class="post_title" onclick='show_piece("piece_zero");'> What is a Writer? </p>
			<p class="post_excerpt"> Have you ever made a list or written  ...</p>
			<% end %>

		    <% if @authors_settings.post_two %>
			<p class="post_title" onclick='show_piece("piece_one");'> Instant Karma’s going to get you </p>
			<p class="post_excerpt">So sang the Beatles famously ... </p>
			<% end %>

		    <% if @authors_settings.post_three %>
			<p class="post_title" onclick='show_piece("piece_two");'> Writing to Find Your Best </p>
			<p class="post_excerpt"> I am a gardener of plants and ... </p>
			<% end %>

		    <% if @authors_settings.post_four %>
			<p class="post_title" onclick='show_piece("piece_three");'> Writing my way back to love </p>
			<p class="post_excerpt"> A few years ago I had a total ... </p>
			<% end %>
		
		    <% if @authors_settings.post_five %>
			<p class="post_title" onclick='show_piece("piece_four");'> Brief Encounter </p>
			<p class="post_excerpt"> Just now ... </p>
			<% end %>

			<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
	  	</div>

<!-- START OF POSTS -->
<div class="post" id="piece_zero">
	<h1 onclick='show_default("piece_zero")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> What is a Writer? </h3>
	<p>
Have you ever made a list or written a message in a card or letter?
<br> <br>
Have you ever sat down and put pen to paper to try and work out the way through a dilemma you are faced with — or a choice you have to make.
<br> <br>
We are all writers and we all have different experiences. I write when life happens, I write about my life as it once was and now as it happens and all the things that fascinate me or I enjoy.
<br> <br>
I write as I want to — I don’t use pictures every time — not that often really even — to attract more people in, or make things fit short attention spans.
<br> <br>
I moved house recently and have builders in the new one to remodel it for our needs — so don’t have much time at present but a little each day,never stop the flow
<br> <br>
My close friend died eight months ago and I still miss her terribly. I have written about her last days and the times we spent together. <%= link_to "The waiting room", "https://thecreative.cafe/the-waiting-room-41082a0acd47" %>
<br> <br>
I took a trip last summer and I wrote about that
<%= link_to "Travelling the alphabet - d is for denmark", "https://medium.com/inspire-the-world/travelling-the-alphabet-d-is-for-denmark-252e220c62fc" %>.
<br> <br>
I plan to write about how we were supposed to take another trip this month but got stopped at the airport because of new travel restrictions that no one thought to warn us about.
<br> <br>
If I get one clap I am happy — more is success on my terms. I write to share and over times that happens, articles I posted months ago are gradually collecting claps or reads. Slowly the counters increase. I just write anyway through it all. I should spend more time editing but I don’t until I am sure a project is ready to final collation work to begin, a book has started to take form from my scribblings, whatever is evolving.
<br> <br>
I don’t make a living from writing any more but I would not complain if I still did. I am no longer driven by anything than curiosity of life experiences.
<br> <br>
I write about my life and the experiences that have informed it. I write about what I have learned about life and more importantly love and keeping love alive. 

<%= link_to "The Well-Mannered Penis: How a penis can have a happy, stress-free life", "https://www.amazon.com/Well-Mannered-Penis-penis-happy-stress-free/dp/1980763712/ref=sr_1_1?ie=UTF8&qid=1523864844&sr=8-1&keywords=The+Well+Mannered+Penis&dpID=41hbrjhzeWL&preST=_SY291_BO1,204,203,200_QL40_&dpSrc=srch" %>
<br> <br>
I write because it is a very good way of keeping in touch with the rest of the world, of making connections and being honest and open — of sharing and caring and interacting. I love it when people answer me back as I do them sometimes, challenging and then sharing meanings and interpretations.
<br> <br>
We can all write — be writers - we can all do this- you just have to start.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_one">
	<h1 onclick='show_default("piece_one")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> Instant Karma’s going to get you </h3>
	<p>
<strong>
So sang the Beatles famously- introducing a concept which at that point was very misunderstood, even if heard of at all in the western mind. But now it is used almost as a threat — and yet it is gentle too, kind even, always loving and always with our best interests at heart
<br> <br>
Karma is never punishment. </strong>
<br> <br>
It is simply cause and effect — this is a very common mis-understanding that fools a lot of people into feeling they are victims of punishment.
<br> <br>
Karma is a teaching device. What you send out will come back at you, nothing more and nothing less. It may come back hard and fast and be obvious or it may take time and be a slow burning lesson but it is still going to come back to you and show you how you are on the inside our yourself, and how you are in the world.
<br> <br>
Be your very best version of yourself all the time and that will come back at you.
<br> <br>
Do you worst and you will get that back too.
<br> <br>
It is about taking responsibility for your own actions and behaviours and creating the life you want from them.
<br> <br>
It is a mirror to hold up and use to look at yourself deeply.
<br> <br>
What is it you are holding onto inside yourself? Even at deepest unconscious levels that will be shown back at you, so you can never deny anything to yourself if you look at it in this way but you can change how you operate so what comes back at you is what you want it to be.
<br> <br>
It will show you your damage and your wonderfulness in equal measure — it is simply a honest reflection and that is all it is.
<br> <br>
You cannot hide from Karma, it is inside you always, and coming back at you always. The only way to make things better is to work with this in a positive and self exploratory way.
<br> <br>
In my book Trusting your Intuition I explain this is depth and about how to be clear of what you want i.e. don’t send out muddy coloured messages if you want clear colours back. Quite simple really, but cleaning up that paint palette? Now that takes some work lol!
<br> <br>
<%= link_to "The Well-Mannered Penis: How a penis can have a happy, stress-free life", "https://www.amazon.com/Trust-Your-Intuition-Sylvia-Clare/dp/1857037723/ref=sr_1_7?ie=UTF8&qid=1523870975&sr=8-7&keywords=trust+your+intuition" %>
</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_two">
	<h1 onclick='show_default("piece_two")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> Writing to Find Your Best </h3>
	<p>
I am a gardener of plants and words. I find places to put them both that brings them out to show their best, or at least I try to, but sometimes they have their own ideas.
<br> <br>
Finding one’s best in anything is more a process or revealing than changing anything that makes you your unique self.
<br> <br>
So it is letting go that really matters — not developing. not striving to be more.
<br> <br>
What gets in your way?
<br> <br>
Beliefs, false ones that limit you, realistic ones that reflect the reality about where you live and what is on offer.
<br> <br>
Emotions that cloud your judgements about what is real and what is not, and cause you to feel negative or down about things instead of seeing them for what they often are instead, clearing the old to make way for the new.
<br> <br>
Attitudes that stop you releasing your creative power, your own unique skill set. Whether you are a road cleaner or a gardener or a great literary author, you have these creative skills and ways to make your life fulfilling and enjoyable for you, but you have to feel that for yourself and a negative attitude to wat you do won’t help — so let them go
<br> <br>
Behaviours that are self limiting will undermine all your best efforts so recognise them and stop doing them if you can, or get appropriate help to change them and release them finally
<br> <br>
Write down what it is you can change and where it is you want to get to, then what is needed along the way. Writing things down always helps to clarify then and make them more likely to happen, BUT don’t mistake writing it down for the actual doing it. you still have to put in the effort
<br> <br>
Effort become effortless when you take out the judgements that turn it into a chore, when you pare it back to just you and your body doing XYZ, and no agendas in between, no distractions getting in the way and no contrary motives sabotaging you.
<br> <br>
SO how to do all this so simply?
<br> <br>
Well there is only one way and that is the mindful way. Mindfulness and a meditation practice helps you dissolve these things that get in the way of allowing you to be happy and achiave tht creative version of what you want or just what you do even.
<br> <br>
I live on an island and there are ferries running daily here from the mainland. SO do you think that loading cars and lorries on and off a ferry all day is the most satisfying job ever. Probably not. But one guy there dances around his job, making drivers and passengers laugh and enjoy their wait for the ferry. In london there was a bus driver who would sing opera for his passengers on their way to work. I once met a toilet attendant who was possibly the most creative and friendly toilet attendant you could imagine, and was actually very funny with it. I spoke to her briefly and thanked her for making my day that much lighter and she told me that was what gave her joy.
<br> <br>
Now probably none of these people already has a meditation practice, I don’t know I haven’t asked them, but what they do have in common is that they are ale to be creative with apparently very little. but they have no more or less than you or I — they have themselves.
<br> <br>
So you already have all you need , you just need to shed a few of the things that block you from you and you can find your freedom to create and self express.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_three">
	<h1 onclick='show_default("piece_three")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> Writing my way back to love </h3>
	<p>
A few years ago I had a total breakdown with Post Traumatic Stress Disorder. There was a long story behind it which I have written about else where on medium 

<%= link_to "Travelling the alphabet hell realms", "https://medium.com/@sylviaclare/travelling-the-alphabet-hell-realms-48c0e6fd7d1c
" %>

<br> <br>
During that time I was consumed by terror which blacked out all happiness joy and love from my daily moment by moment experience. This does not mean it was not there for me, it just meant I could not access it, not really anyway.
<br> <br>
My sons and husband never stopped loving me for a second and my husband took such amazing care of me that I was not taken to hospital — without him I would have been and probably never come out again, that is how bad it was.
<br> <br>
Writing has been something I had been drawn back to on and off for years and even professionally been published for five books, more for helping others, never for helping me.
<br> <br>
My full recovery is still underway, and writing has played a huge part in that. I can get all sorts of experiences out onto the page, onto my laptop, exploring what I have been through — what I have learned from it all, what I can share with others, how I can relate, or not, to what they say too. All of it on medium of course.
<br> <br>
Writing has become my art, my other soulmate (you can have more than one lol), my connection with people all over the planet, while I slowly gather my confidence once more to go out and interact with the rest of the world, definitely publish once again, self publish nowadays as a publishing contract can be hard to get even with a good track record, and I want to have more control that a publisher gives you.
<br> <br>
SO writing has become one of my good friends, someone who I can reflect on life with, mull over new ideas, contemplate experiences with, and share and enjoy with others.
<br> <br>
I read a lot too lol.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_four">
	<h1 onclick='show_default("piece_four")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> Brief Encounter </h3>
	<p>
Just now
<br> <br>
I made friends
<br> <br>
With a bee
<br> <br>
That landed on me.
<br> <br>
I offered it up to a celandine
<br> <br>
Then a daisy
<br> <br>
Then a dandelion
<br> <br>
But no it wanted to stay with me
<br> <br>
I was pulling up seedlings
<br> <br>
of weeds at the time.
<br> <br>
She was minding her own business,
<br> <br>
I was minding mine
<br> <br>
Then we met, hand to bee
<br> <br>
And on she crawled
<br> <br>
And sprawled
<br> <br>
for a while
<br> <br>
Resting in the sun
<br> <br>
at one,
<br> <br>
Her and me.
<br> <br>
She liked it so much
<br> <br>
she decided to stay
<br> <br>
And on my hand did
<br> <br>
her ablutions for today.
<br> <br>
I watched as she cleaned
<br> <br>
her head and antennae
<br> <br>
Then she reached out her tongue,
<br> <br>
brown and so long
<br> <br>
collecting saliva
<br> <br>
To preen her fur.
<br> <br>
Then her sleek abdomen,
<br> <br>
held on by a thread,
<br> <br>
a waist Victoria’s corsets
<br> <br>
could never have made.
<br> <br>
I watched as she worked
<br> <br>
Each act so thorough
<br> <br>
Each leg and wing
<br> <br>
shining and clean
<br> <br>
each pollen basket
<br> <br>
freshened anew.
<br> <br>
When she was done
<br> <br>
off she flew.		
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>
<!-- END OF POSTS -->


	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
	
			<% if @authors_settings.email_subscription_feature %>
			<div class="functionality_container">
				<p class="functionality_title"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "sylvia_clare" %>
					<%= f.submit "done", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
			<% end %>

			<% if @authors_settings.social_icons_features %>
			<div class="functionality_container" style="margin-top: 60px;">
				<p class="functionality_title"> My Social </p>
				<a href="https://twitter.com/sylviaclare" target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px;"></i>
				</a>
				<a href="https://medium.com/@sylviaclare" target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<a href="https://www.facebook.com/sylvia.clare" target="_blank">
					<i class="fab fa-facebook" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
			</div>
			<% end %>

			<% if @authors_settings.contact_feature %>
			<div class="functionality_container" style="margin-top: 40px;">
				<p class="functionality_title"> Contact Me </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: " your message",
							style: "width: 170px; height: 100px;" %> <br>
				    <%= f.hidden_field :author, value: "sylvia_clare" %>
					<%= f.submit "send", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
	  		<% end %>
	  	</div>
	  </div>

	  </div>

</div>


<script type="text/javascript">
	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("middle_container").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url("https://pbs.twimg.com/profile_images/874184738210275328/lqpLD-zW_400x400.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
