<%= link_to "Author's Dashboard", clare_dashboard_path, id: "dashboard_link" %> 

<div class="container-fluid">
	
	  <div class="central_container" style="border: 1px solid lightgrey;"> 		

	  	<div class="left_side_container"> 		
		    <% if @authors_settings.portrait_feature %>
	  			<%= image_tag "https://cdn-images-1.medium.com/fit/c/100/100/1*fK176WLzCPb96o8AMKdmCw.jpeg", id: "profile_image" %>
			<% end %>
			<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h1 class="name_title"> Sylvia Clare </h1>

			<% if @authors_settings.about_feature %>
				<h3 class="title"> <%= @authors_settings.about_title %> </h3>
				<p> <%= @authors_settings.about_content %> </p> <br>
			<% end %>

			<h3 class="title"> Posts <h3>

		    <% if @authors_settings.post_one %>
			<p class="post_title" onclick='show_piece("piece_zero");'> What is a Writer? </p>
			<p class="post_excerpt"> Have you ever made a list or written  ...</p>
			<% end %>

		    <% if @authors_settings.post_two %>
			<p class="post_title" onclick='show_piece("piece_one");'> Instant Karma’s going to get you </p>
			<p class="post_excerpt">So sang the Beatles famously ... </p>
			<% end %>

		    <% if @authors_settings.post_three %>
			<p class="post_title" onclick='show_piece("piece_two");'> Writing to Find Your Best </p>
			<p class="post_excerpt"> I am a gardener of plants and ... </p>
			<% end %>

		    <% if @authors_settings.post_four %>
			<p class="post_title" onclick='show_piece("piece_three");'> Writing my way back to love </p>
			<p class="post_excerpt"> A few years ago I had a total ... </p>
			<% end %>
		
		    <% if @authors_settings.post_five %>
			<p class="post_title" onclick='show_piece("piece_four");'> Brief Encounter </p>
			<p class="post_excerpt"> Just now ... </p>
			<% end %>

			<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
	  	</div>


<!-- START OF POSTS -->
<div class="post" id="piece_zero">
	<h1 onclick='show_default("piece_zero")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
<h3 class="piece_header"> Crypto20 ICO Opportunity </h3>
<p>
As it stands, there are 19 hours left in the C20 token sale — with investors presented with a unique opportunity to potentially enjoy both short and long term returns. <br> <br>
<strong> How is a token tied to a ‘stable’ index fund flippable? What makes it more valuable than just an index fund? </strong>
<br> <br>
The reason I say C20 is flippable is because it differs heavily (in a good way), from your standard index fund. With your average index fund, you would throw, say, $1000 at it — with the fund then taking that money in order to re-balance portfolios and grow the overall fund size.
<br> <br>
However, the case of C20 is different. When the ICO timer reaches zero, contributions will cease and the fund will never issue new tokens — instead, opting to simply let the fund “sit and grow”. Therefore, until another competing index fund emerges (admittedly quite likely), any investor craving such a service will most likely need to purchase tokens from users directly off of the exchanges (unless people dis-invest).
<br> <br>
What we will get is a situation where the tokens base price is tied to the assets, with its value allowed to run up above the underlying assets due to its current monopoly on the index fund market. Obviously, this will all come undone when another competing index fund offers its’ services (assuming they are better or comparable) and new investors choose to invest there instead of paying a premium.
<br> <br>

<strong> But won’t this mean I have to wait for the fund to start performing before taking profits? </strong>
<br> <br>
The only time restriction before you could feasibly take a nice amount of profits is the time before trading is enabled (according to devs this will happen in December or early January, I believe they’re locked due to audits and security).
<br> <br>
As soon as trading and buybacks are unlocked you will be able to trade back to your original investing currency most likely at a profit. This is because the presale marines locked up their 90c token prices a month ago and since then the market bull run has caused the funds value (measured through NAV) to peak at $1.30. So essentially main sale participants will buy $1.30 worth of assets for $1.10, now this has of course been reduced due to the market correction we experienced but the principles should remain.
<br> <br>
If at the closing time of the ICO the NAV exceeds the buy-in price by a decent enough margin (minimum 5c) you will be rewarded with much more bang for your buck. Consider it a ~5% bonus except the token you’re buying is tied directly to real assets. <br> <br>

<strong> My Concerns and What Could Go Wrong </strong>
<br> <br>
While the fundamentals are very strong and I believe in C20 as a solid investment there are a few points of concern to be noted:
<br> <br>

1. If crypto crashes your funds are stuck in an ICO.
<br> <br>
While this is true for all ICOs, an ICO that is tied directly to market performance is much, much more perceptible to market swings. This is only a concern if you would have held your cash in fiat, if you held in crypto the market crash would have got you either way.
<br> <br>
2. You have to trust the individuals running the ICO.
<br> <br>
This is true for every ICO, but still is the main weakness in this project if I were to place one. All the individuals involved seem to have reputable LinkedIn projects, but due diligence is highly advised.
<br> <br>
<strong> False concerns </strong>
<br> <br>
One concern may be that the token price will remain parallel on the exchanges, or may even drop below. This is unlikely, as should it happen, every man and his dog will want to buy those tokens and go trade them in. When they get traded in the C20 token will be given back to the fund managers who will re-sell it at the NAV price or market price (whichever is higher). This means the maximum amount of C20 tokens will be locked once the ICO finishes, hopefully creating an excess demand.
<br> <br>
Note: I will edit for grammar later, this was rushed. Sorry.
<br> <br>
PS: I don’t know if this is really necessary, seeing as all my calls are gold, but — this is not financial advice, utilize your own brain power before acquiring your bags.
<br> <br>
Edit 1: Tokens are not “burnt”, rather resold at either NAV or market price, whichever is higher. Not quite as good as a burn but is similar.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_one">
	<h1 onclick='show_default("piece_one")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
<h3 class="piece_header"> The Holy Trinity of Fat Gains </h3>

Here I will go over three tokens that I believe will stand a great chance in netting you a fat profit in the medium to long run (not too long, no one likes waiting). Please do keep in mind that this is my opinion and as always research the shit before dropping 100k.<br> <br>

<strong> The Father: Kyber Network </strong> <br>
Kyber Network was (and still is) a heavyweight ICO, it returned fat gains to its fortunate investors. However, much like the next pick, Kyber has since then bled down to a much more reasonable market cap. Currently the price per token has fallen below $1 USD and could potentially fall further.<br> <br>

Like the projects to follow Kyber Network creates value for its holders by having its token burned as a fee on the platform. This means once the milestones are met and the first tokens start burning we should see a great jump in price. In the case that Kyber makes it big the burning of tokens will allow it to achieve a large market cap with an even higher price per token, assuming you’re still hodling this would prove quite profitable. <br> <br>

For this token I would look into it yourself (especially the roadmap) and look for an opportune moment to buy in as I believe there is still room for it to bleed in the current market. <br> <br>


<strong>The Son: 0x Protocol </strong> <br>
Oops, edited: <br> <br>

I can no longer recommend 0x as tokens will not be burnt as fees. However, the token amount is capped so it will have a deflationary affect over time as tokens get lost. Even though it is technically deflationary, the token is not as great an investor token as the other two. If it were to drop below 12c I will probably pick some up as the release of Ethfinex will be sure to cause a spike in the price :) <br> <br>

<strong>The Holy Spirit: Request Network</strong> <br>
After having a difficult start due to probably a mixture of presale dump and possible fud spread by the team, the coin has found a relatively stable price around and is now waiting for the coming milestones on the roadmap.
<br> <br>

Like the other two, this will be another token that burns its tokens as a part of the platform’s operation costs. Like the others this token will see usage (and burning) pretty much as soon as it releases its first working, public version. Partnered with ING there stands a great chance of positive announcements coming down the pipeline and volume could potentially explode. If Request sees proper usage the potential for an explosion in price of the token is truly remarkable. Even with limited to moderate usage we will see a price higher than that which we see now.<br> <br>

<strong>Review and Diversification</strong> <br>
While all three of these platforms are in different stages all it would take is the successful execution of one of these projects to net you a very profitable return. While I do believe and hope that all the projects succeed individually, diversifying between the three does make our chances so much easier. I hope you do your own research and take a look at each of these tokens :)<br> <br>

<strong> Summary of Calls & Positions:</strong> <br>
Kucoin: I sold a few of my shares near the peak (0.003250 for me) and will be buying more shortly. New exchanges, even when they are great, are risky as there are many relatively uncontrollable factors that affect its ability to operate and properly grow. My outlook on Kucoin is still positive and even despite the slowing volume on Red Pulse the exchange is still up 70% in volume compared to last week. The tokens have returned to my previous maximum purchase price of 80c so I guess that was a good call?<br> <br>

Edit 2: Damn the token has tanked quite a bit, I held off reinvesting until now and am hoping to dumps slightly more before I get back in. Looking for an entry around 0.0018 ETH / KCS. I still believe in the potential of the exchange so will be an easy buy if it drops that low.<br> <br>

AirSwap: I fudded AirSwap relatively hard in my first article where I compared it to Quantstamp. I still stand by my calls and beyond hype fed pumps I don’t see a rise in the price of the token in it’s current business model.
<br> <br>

Quantstamp: If you got into the presale you can make your own call, otherwise, just wait until closer to ICO for more details before I comment publicly :) <br> <br>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>

<div class="post" id="piece_two">
	<h1 onclick='show_default("piece_two")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
<h3 class="piece_header"> Kucoin: Where are they now? </h3>

I published an article on Kucoin little over a week ago, the price has since then increased by around 80% from 50c to over 80c. <br> <br>

Register Here: bit.ly/kucoin-exchange<br> <br>

<strong> So what’s gone down since the last article? </strong> <br>
Since the last article I wrote on Kucoin, the exchange has made great strides in the right direction. They have added new pairs, announce the first NEO pairs on any exchange (that I know of), introduced fee discounts based on Kucoins held and listed both their exchange and token on Coin Marketcap.<br> <br>

<strong>What’s still to come? </strong> <br>
As mentioned in the previous article, Kucoin will be the first exchange to list Red Pulse and this will surely prove to be a great move for Kucoin. This is due to happen within 24 hours and I have created a quick countdown to help you plan around it (http://bit.ly/rpx-countdown). Once RPX launches we could see some volatile movement in the price of KCS, depending on movement it could be worthwhile to sell at a possible new ATH.<br> <br>

After the hype around RPX and the possible sell and re-buy, an update of the whitepaper is planned. This update is to include a clause stating that token holders will receive at the very least 15% of trading fees. This is a great plus as technically they could have dropped bonuses to 10% based on the old whitepaper. Further down the line the whitepaper states there is to be exclusive features to be made available to KCS holders. What those may be we will have to wait and see, however, the future looks bright for token holders.<br> <br>

<strong>Is it too late to buy? </strong> <br>
At a price of 82c the token is slightly above my recommended max purchase price in the previous article. If you’re looking for a quick flip it could prove profitable to purchase 85c and sell if there is a significant pump due to RPX dropping. Beyond that it may prove worthwhile to wait until a bit after RPX trading opens and see if prices turn more favorable.<br> <br>

Either way you’ll wanna sign up to Kucoin (bit.ly/kucoin-exchange) to follow all the action.<br> <br>

<strong>Claim to fame: </strong> <br>
I’d like to say I predicted the Air Swap price tank and would continue to recommend staying away from that token :)
<br> <br>
Also, idk if this is necessary but this is merely my opinion and not solicited financial advice? Invest in anything at your own risk, don’t be an idiot, do your own research.<br> <br>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_three">
	<h1 onclick='show_default("piece_three")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
<h3 class="piece_header">Kucoin Exchange — Kucoin Token Value Breakdown </h3>
<strong> What is the Kucoin Exchange: </strong><br> <br>

The Kucoin Exchange is an Asian exchange that has, following tightening regulations, expanded into international markets. They recently released their stylized whitepaper on their telegram announcement channel. I have hosted a copy of the whitepaper available here.<br> <br>

<%= link_to "Register Here", "https://www.kucoin.com/#/signup?r=E2SX4A" %>
 and 
<%= link_to "Hompage Available Here.", "https://www.kucoin.com" %>
<br> <br>

    The registration link is a referral of mine but it has no negative impact on your account and would be greatly appreciated. I also plan to distribute rewards to the community if I were to make one (more on that at the bottom).<br> <br>

<strong>What makes the Kucoin Exchange unique? </strong><br> <br>

Beyond claiming it has state of the art technology and security behind their exchange, they have some interesting features:<br> <br>

    It is one of two exchanges that I know of that have a related token with the other being Binance.
    It has a referral plan to attract new users, while this can usually be seen as a negative, in the case of a platform such as an exchange this is a very great business feature.
    It plans to distribute funds to its token holders, more on that later.
    In the future we may see automatic or community run addition of new token pairs, which if pulled of correctly would be a major plus side for the exchange.<br> <br>

While the features listed above are great and all, it would be generous to call this exchange revolutionary. But not all great products have to be revolutionary.<br> <br>

<strong> Where do Kucoin Shares fit into the equation? </strong><br> <br>

Kucoin Shares are an ERC-20 token backed by the site and the profits it generates. While we will go into the profit potential later on, the only guarantee in terms of profit distributions is that 10% of the exchanges profits will be used for the buyback and destruction of tokens. All other bonuses I believe are up for debate and review.<br> <br>

While the 10% buyback is a given, here are some of the possible additional features:
<br> <br>
Receiving the Kucoin Bonus: By holding Kucoins users receive daily payouts as a percentage of the fees generated by the exchange. At the moment 50% of the fees are used to payout holders, but as said in the whitepaper this can be subject to change. However, they guarantee that only ever 100 Million tokens will be considered for the payouts and I assume members of the public will be give the priority here.
<br> <br>
Trading Fee Discount: Soon you will be able to, much like Binance, receive a discount on your exchange fees by holding Kucoins. However, in the case of Binance your Binance balance is used to pay the fees, whereas your Kucoin Shares simply grant you the discount based on how many you hold in the exchange wallet. This means your tokens will not be used to pay when you make trades on the exchange.
<br> <br>
Exclusive Rights & Decentralized Exchange: Kucoin plans introduce exclusive rights to users that hold significant amounts of Kucoin. Also, similar to Binance they plan to run a decentralized exchange where their currency will act as gas for the platform.
<br> <br>
I hope the story so far has given you a decent insight into the Kucoin project, for more information on the technical aspects I recommend taking a look at the whitepaper. In the following section I will get into some of the numbers and look potential earnings for Kucoin holders.
<br> <br>
To earn rewards from your KCS (Kucoin Shares) they must be on the exchange wallet. Register here.
<br> <br>

<strong> Kucoin Shares: Potential Returns </strong>
<br> <br>
At the moment Kucoin’s 24 Hour trade volumes are above $500'000 USD per day. While this certainly is a respectable number, there is plenty of work to be done and room to grow. Comparing Kucoin with another decentralized exchange, Coss.io, we see they both experience similar trade volumes and have the majority of their trades coming from their own tokens. While have your own token as your most traded is not a good thing, it most certainly is to be expected in the early stages of these two exchanges.
<br> <br>
Edited: Volume has spiked to $4 Million Daily, giving the following returns:
<br> <br>
    $ 1,460,000 USD generated per year in fees. <br>
    $ 730,000 USD paid out as bonuses <br>
    A stack of 100 KCS would net you 73c in bonuses. <br>
    That’s a current yearly return of 0.9125%.
<br> <br>
Trade Volume Milestones:<br> <br>

To achieve a 5% return through bonuses, assuming bonuses, would require a daily volume of $12.5 Million USD (If you’re buying at 69c per token increase this to $17.25 Million USD). At the time of article this kind of volume would place the exchange at 26th by daily trade volume, certainly achievable.
<br> <br>

If Kucoin were to crack top 10 exchanges and dethrone Bitstamp by boasting $140M USD in daily trades, it would return 56% of your investment in bonuses each year. That would mean a 1000 stack of KCS ($500) would pay you a cool $280 in bonuses each year.<br> <br>

<strong> Summary & Verdict: </strong> <br> <br>
I have already picked up a few Kucoins in the recent slump and am eyeing a nice entry point in the coming month. While I do have a certain degree of faith in this exchanges abilities, I would definitely label this a slightly more risky investment with the legal atmosphere surrounding exchanges.
<br> <br>

I also picked up a cool $5 of KCS (10 KCS) by retweeting one of their posts. Find a link to that event here, and a plug to my currently dead twitter.
<br> <br>

<strong> Advice & Play: </strong> <br>
With Kucoin to be the first to list Red Pulse and their massive burst in exchange volume I would probably purchase KCS up to 80c USD. After that point it may be better to re-evaluate and monitor the exchange. Since the writing of this article this exchange has repeatedly impressed and suprised me, the above writing may not reflect this completely as it is slightly older. I do recommend signing up on their website and taking a look at some of their news post. Also KCS Coinmarketcap listing is confirmed to be right around the corner!
<br> <br>

In case you missed it throughout the article, here is a registration link. The link is a referral link and it comes at no cost to you. I have plans to distribute some of the rewards if I ever make a Discord / Telegram so you have that incentive I guess :P
<br> <br>

<strong> Final Note: </strong>
<br> <br>

Please comment spelling errors, poor grammar, bad maths and abuse below. I’ll do my best to respond to, and fix the issues asap :)
<br> <br>

Update 1 (24/10/2017): Updated daily volume values and thus calculations. Kucoin Exchange listed on CMC (https://coinmarketcap.com/exchanges/kucoin/) and the numbers don’t include their most traded KCS pair.

	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>

<div class="post" id="piece_four">
	<h1 onclick='show_default("piece_four")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
<h3 class="piece_header">Quantstamp & AirSwap — An economic review of two token sales </h3>

Quantstamp is a fantastic upcoming ICO and as more and more of you coming to know, has great potential within its target market. Currently new smart contracts have to choose between no security review and having a trusted third party review their contract. This is obviously a great barrier for entry to smaller smart contract plans and leads to many developers cutting corners resulting in millions of dollars in losses within the industry.
<br> <br>
Without diving further into why the project is so great, as an investor it helps to take a step back and evaluate what it is you’re buying. In many projects I see people investing purely in the idea without asking themselves what their token does. I saw it in the recent AirSwap ICO that received tonnes of hype, everyone focused on the greatness of their fee devoid exchange and failed to evaluate what it was they were buying.
<br> <br>

<strong> Analysis of AirSwap Token </strong> <br>

The basic metrics of the AirSwap token are: <br>

    150,000,000 AST — Being Sold to the Public<br>
    500,000,000 AST — Total Maximum AST<br>
    20% Discount for Presale Investors<br>
    Token Buys Utility and Voting Rights<br> <br>

While most of these metrics are not too alarming the fact that less than a third of the tokens are being sold to the public truly diminishes the value of the voting rights bought.
<br> <br>

Along with this we have to take a look at the value offered from the token utility; A user can lock 100 AST for one week in order to establish 10 concurrent orders. This means for 100 AST (0.1 ETH at ICO rate) a user can trade an infinite amount of times and volume as long as they never have more than 10 open orders at the same time. Through the power of maths we can figure that given the 100 AST remains constant (users can vote to lower or increase this number), after the ICO there can be a potential 1'500'000 different users from the public pool of funds.
<br> <br>

This means up to 15'000'000 active orders at a time before adding presale funds (?) and company funds. And while it is true that some tokens may be lost and not all will be fully utilized, whichever way you look at this, those are still very ambitious numbers. Even more so when you consider the competition from 0x and Kyber.
<br> <br>

Edit: “The remaining 40% will be locked for a minimum of 6 months” — another 40% of that pie is going to unlock in 6 months tanking the price of AST? <br> <br>


<strong> Analysis of Quantstamp Token </strong>
<br> <br>

The basic metrics for the Quantstamp token are:
<br> <br>

    1 Billion Total Supply<br>
    650 Million (65%) Sold to Public<br>
    $30 Million USD Hard Cap<br>
    Team and Advisers Tokens (20%) are vested over 4 years<br> <br>

While the Quantstamp token (QSP) derives its value from its utility, much like the AirSwap token, the QSP distribution will be much more favorable for investors, especially long term early investors.
<br> <br>

One can already see that much more of the project is in the hands of the community with the QSP sale when compared AST. This means that voting should have a more meaningful impact on the direction of the platform. Beyond the ability to vote QSP will be used to pay for services within the platform much like in 0x. While this may not be the greatest driver of price in all situations, when your platform gets the first mover advantage (QSP has no close competition at the time of this article) it is sure to have a positive impact as the project fleshes out.
<br> <br>

<strong> Summary </strong> <br>
While both platforms rely on the utility to drive the tokens value, in the case of QSP investors are getting a much large share of the platform. This should lead to choices being made to benefit long term holders rather than only the founders of the platform. One concern I would have is with the bonuses being offered during the presale, but as you can see on their FAQ (https://quantstamp.com/) only 11 million of the total 30 million will be raised during the presale. To further negate the impact of the presale discounts the team has also announced a great proof of caring campaign in an effort to prevent the dumping of tokens once they hit the exchanges. Whether this works out we will have to wait and see.
<br> <br>

If you’re interested in learning more about the platform behind the QSP token you may want to look at one or two of these articles:
<br> <br>

https://medium.com/@yongsan/quantstamp-smart-contract-just-got-smarter-535dfa9146a2
<br> <br>

https://medium.com/@BuyingTops/quantstamp-the-next-step-forward-in-securing-the-crypto-space-bbbfeb62a3f4
<br> <br>

<strong> Proof of Caring: </strong> <br>
<br>
https://medium.com/quantstamp/announcing-proof-of-caring-9fa3209854ff

	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>
<!-- END OF POSTS -->


	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
	
			<% if @authors_settings.email_subscription_feature %>
			<div class="functionality_container">
				<p class="functionality_title"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "sylvia_clare" %>
					<%= f.submit "done", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
			<% end %>

			<% if @authors_settings.social_icons_features %>
			<div class="functionality_container" style="margin-top: 60px;">
				<p class="functionality_title"> My Social </p>
				<a href="https://twitter.com/sylviaclare" target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px;"></i>
				</a>
				<a href="https://medium.com/@sylviaclare" target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<a href="https://www.facebook.com/sylvia.clare" target="_blank">
					<i class="fab fa-facebook" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
			</div>
			<% end %>

			<% if @authors_settings.contact_feature %>
			<div class="functionality_container" style="margin-top: 40px;">
				<p class="functionality_title"> Contact Me </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: " your message",
							style: "width: 170px; height: 100px;" %> <br>
				    <%= f.hidden_field :author, value: "sylvia_clare" %>
					<%= f.submit "send", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
	  		<% end %>
	  	</div>
	  </div>

	  </div>

</div>


<script type="text/javascript">
	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("middle_container").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url("https://pbs.twimg.com/profile_images/874184738210275328/lqpLD-zW_400x400.jpg") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
