<%= link_to "Author's Dashboard", terijo_dashboard_path, id: "dashboard_link" %> 

<div class="container-fluid">
	
	  <div class="central_container" style="border: 1px solid lightgrey;"> 		

	  	<div class="left_side_container"> 		
		    <% if @authors_settings.portrait_feature %>
	  			<%= image_tag "#{@image_of_author}", id: "profile_image" %>
			<% end %>
			<p>	</p>
	  	</div>

	  	<div id="middle_container" class="middle_container">
	  		<% if notice %>
				<h1 class="name_title" style="margin-bottom: 28px"> <%= notice %> </h1>
			<% end %>

			<h1 class="name_title"> <%= @name %> </h1>

			<% if @authors_settings.about_feature %>
				<h3 class="title"> <%= @authors_settings.about_title %> </h3>
				<p> <%= @authors_settings.about_content %> </p> <br>
			<% end %>

			<h3 class="title"> Posts <h3>

		    <% if @authors_settings.post_one %>
			<p class="post_title" onclick='show_piece("piece_zero");'> <%= @title1 %> </p>
			<p class="post_excerpt"> standing in the scrub of the ...</p>
			<% end %>

		    <% if @authors_settings.post_two %>
			<p class="post_title" onclick='show_piece("piece_one");'> <%= @title2 %> </p>
			<p class="post_excerpt"> Blue kisses ... on the wind ... </p>
			<% end %>

		    <% if @authors_settings.post_three %>
			<p class="post_title" onclick='show_piece("piece_two");'> <%= @title3 %> </p>
			<p class="post_excerpt">  I am avoiding ... your scent ... </p>
			<% end %>

		    <% if @authors_settings.post_four %>
			<p class="post_title" onclick='show_piece("piece_three");'> <%= @title4 %> </p>
			<p class="post_excerpt">  The crows are cawing ... </p>
			<% end %>
		
		    <% if @authors_settings.post_five %>
			<p class="post_title" onclick='show_piece("piece_four");'> <%= @title5 %> </p>
			<p class="post_excerpt">  A trick of the light perhaps ... </p>
			<% end %>

			<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
	  	</div>

<!-- START OF POSTS -->
<div class="post" id="piece_zero">
	<h1 onclick='show_default("piece_zero")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title1 %> </h3>
	<p>
standing in the scrub of the winter garden <br>
i remember you <br>
i remember us <br>
i remember lust <br>
i hear the call of the mist <br>
luring me ever closer <br>
til the whisper of the dry leaves <br>
and the promise of green life  <br>
becomes the roar of the ocean’s waves <br>
and you, taking me home again
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_one">
	<h1 onclick='show_default("piece_one")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title2 %> </h3>
	<p>
Blue kisses <br>
on the wind <br>
times I think about <br>
the could’ve been’s <br>
 <br>
Blue kisses <br>
is there any doubt <br>
what we had was <br>
all I thought about <br>
but <br>
 <br>
Blue kisses <br>
like Elmo’s fire <br>
here today <br>
gone tomorrow <br>
 <br>
Blue kisses <br>
things I fought <br>
things I thought <br>
things that could have been <br>
times have changed <br>
I’m re-arranged <br>
if only I could have <br>
resisted those <br>
blue kisses
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_two">
	<h1 onclick='show_default("piece_two")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title3 %> </h3>
	<p>
I am avoiding <br>
your scent <br>
your memory <br>
your touch <br>
because I knew  <br>
it wasn’t real <br>
 <br>
I am avoiding <br>
the feeling of when  <br>
I felt <br>
so much <br>
because I knew you’d <br>
finally reveal <br>
 <br>
I am absconding <br>
with the memories <br>
left to me <br>
of when I thought <br>
you loved me <br>
I was right <br>
your words were false <br>
And I can’t handle<br>
any more<br>
<br>
I am running<br>
hiding<br>
thinking<br>
of all those years<br>
left behind me<br>
that you wanted me to<br>
forget<br>
to reveal me<br>
<br>
I am avoiding<br>
the admittance that<br>
I’m the one who’s scared<br>
and I won’t let you<br>
come and find me<br>
cuz I know you’re<br>
totally false<br>
<br>
I am the cheetah<br>
running faster and faster<br>
as far as I can get from you<br>
and your lies<br>
your tires<br>
your attempts to seduce me<br>
with all your tries<br>
<br>
I saw through you<br>
from the beginning.<br>
And now when I’m all in?<br>
You’re another one<br>
I would never have given<br>
the in.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_three">
	<h1 onclick='show_default("piece_three")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title4 %> </h3>
	<p>
The crows are cawing<br>
Starlings chirping<br>
hawks are squawking<br>
Chipmunks quirking<br>
Spring is calling<br>
Folk are walking<br>
It’s a new day<br>
A brand new day<br>
<br>
Titmouse tweeting<br>
hearts are beating<br>
Feelings flying<br>
love is fleeting<br>
It’s a new day<br>
a brand new day<br>
<br>
A day for flying high<br>
soaring through the sky<br>
A day for trying hard<br>
to take that step into the <br>
unknown<br>
underworld<br>
freak show<br>
of how and why<br>
<br>
A day to stop the constant lament<br>
the how and who<br>
the weird disconnect<br>
of why and where<br>
the distant calling<br>
of another life dawning<br>
<br>
The distant call<br>
of why you didn’t <br>
ask for me<br>
cry for me<br>
wonder where <br>
I would be<br>
<br>
The tortured gaze<br>
while in a drunken haze<br>
asking why<br>
you had fallen<br>
<br><br>
It’s a new day<br>
gone is the drugged up haze<br>
gone is the silken maze<br>
you tried to put me in<br>
while I…?<br>
<br>
I’m moving on again…
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>


<div class="post" id="piece_four">
	<h1 onclick='show_default("piece_four")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> <%= @title5 %></h3>
	<p>
A trick of the light perhaps, a spirit <br>
moving along<br>
in darkness<br>
shadows<br>
still<br>
<br>
This poem is the second stanza of Hunted, one of Chalkboard’s Tetractys Trails.
	</p>
	<div class="powered_by"> Powered by WordGates | The Home of Writers. </div>
</div>
<!-- END OF POSTS -->


	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
	
			<% if @authors_settings.email_subscription_feature %>
			<div class="functionality_container">
				<p class="functionality_title"> Email Notifier </p>
				<p> Notify me when new <br> posts are published. </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: " you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
				    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
					<%= f.submit "done", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
			<% end %>

			<% if @authors_settings.social_icons_features %>
			<div class="functionality_container" style="margin-top: 60px;">
				<p class="functionality_title"> My Social </p>
				
				<% unless @twitter_link.empty? %>
				<a href= <%= @twitter_link %> target="_blank">
					<i class="fab fa-twitter" style="font-size: 30px;"></i>
				</a>
				<% end %>

				<% unless @medium_link.empty? %>
				<a href= <%= @medium_link %> target="_blank">
					<i class="fab fa-medium-m" style="font-size: 30px; color: black;"></i>
				</a>
				<% end %>

				<% unless @fb_link.empty? %>
				<a href= <%= @fb_link %> target="_blank">
					<i class="fab fa-facebook" style="font-size: 30px; margin-left: 15px; color: black;"></i>
				</a>
				<% end %>
			
			</div>
			<% end %>

			<% if @authors_settings.contact_feature %>
			<div class="functionality_container" style="margin-top: 40px;">
				<p class="functionality_title"> Contact Me </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: " your message",
							style: "width: 170px; height: 100px;" %> <br>
				    <%= f.hidden_field :author, value: "#{@underscore_name}" %>
					<%= f.submit "send", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
	  		<% end %>
	  	</div>
	  </div>

	  </div>

</div>


<script type="text/javascript">
	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("middle_container").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url(<%= @background_image %>) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
