<%= link_to "Author's Dashboard", "#", id: "dashboard_link" %> 

<div class="container-fluid">
	
	  <div class="central_container"> 		

	  	<div class="left_side_container"> 		
	  		<%= image_tag "valerie_vaughn.jpg", id: "profile_image" %>
	  	</div>

	  	<div id="middle_container" class="middle_container">
			<h1 class="name_title"> Valerie Vaughn </h2>
			<h3 class="title"> Me in 10 seconds </h3>
			<p>
			“You must do the things you think you cannot do.” <br>
			 ~Eleanor Roosevelt
			</p> <br>

			<h3 class="title"> Posts <h3>
			<p class="post_title" onclick='show_piece("piece_one");'> The Flight of Succubus </p>
			<p class="post_excerpt"> Bound together, since torn apart. Once a proud smirk ... </p>

			<p class="post_title" onclick='show_piece("piece_two");'> Home </p>
			<p class="post_excerpt"> A winding Virginia road. An old country back road ... </p>
		
			<p class="post_title" onclick='show_piece("piece_three");'> The Quiet Survival of Loneliness </p>
			<p class="post_excerpt"> Our empty flat, in which I sit ... </p>
		
			<p class="post_title" onclick='show_piece("piece_four");'> Armchair Wallflower </p>
			<p class="post_excerpt"> I sit up, against the chair back ... </p>

			<p class="post_title" onclick='show_piece("piece_five");'> Love Burns </p>
			<p class="post_excerpt"> Your blistery words spoke only to gain ground ... </p>
	
			<p class="post_title" onclick='show_piece("piece_six");'> The Death of Love </p> 
			<p class="post_excerpt"> I often wonder how different my life would ... </p>
			
			<p class="post_title" onclick='show_piece("piece_seven");'> This Place </p>
			<p class="post_excerpt"> This Place. All your life, you wanted to be... </p>

			<p class="post_title" onclick='show_piece("piece_eight");'> Birth </p>	
			<p class="post_excerpt"> I was born two weeks overdue ... </p>

			<div class="powered_by"> Powered by Wordgates | The Home for Writers. </div>
	  	</div>


<!-- START OF POSTS -->
<div class="post" id="piece_one">
	<h1 onclick='show_default("piece_one")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> The Flight of Succubus </h3>		
	<p>
	Bound together,
	<br> <br>
	since torn apart.
	<br> <br>
	Once a proud smirk,
	<br> <br>
	now gone.
	<br> <br>
	Staged love,
	<br> <br>
	unnatural grin.
	<br> <br>
	Poison lips,
	<br> <br>
	drink memories down.
	<br> <br>
	Succubus flight,
	<br> <br>
	succumbs to night.
	</p>
	<div class="powered_by"> Powered by Wordgates | The Home for Writers. </div>
</div>

<div class="post" id="piece_two">
	<h1 onclick='show_default("piece_two")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> Home </h3>		
	<p>
	A winding Virginia road.<br>
	An old country back road. <br>
	A road which leads me, <br>
	Home.
	<br> <br>
	Past everlasting trees. <br>
	Past pastures of manure, <br>
	Coloring each a deep green; <br>
	Weathered wooden fences, <br>
	Guide me, on my way, <br>
	Home.
	<br> <br>
	Mountains so high, <br>
	Surely I can reach their unbound skies. <br>
	Skies which surround the place <br>
	I call, <br>
	Home.
	<br> <br>
	Deep blue ponds. <br>
	Fishing hole fools. <br>
	Talking about the one that got away, <br>
	On our way, <br>
	Home.
	<br> <br>
	Back to a place, <br>
	My space. <br>
	A place where I am free, <br>
	Free to be me. <br>
	The place I call, <br>
	Home.
	</p>
	<div class="powered_by"> Powered by Wordgates | The Home for Writers. </div>
</div>

<div class="post" id="piece_three">
	<h1 onclick='show_default("piece_three")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> The Quiet Survival of Lonelines </h3>		
	<p>
	Our empty flat, in which I sit,
	<br> <br>
	feels like night even when it’s day.
	<br> <br>
	All my days seem like nights since we parted ways.
	<br> <br>
	The early morning winter winds blow negativity aside,
	<br> <br>
	there’s already five inches of snow on the ground
	<br> <br>
	with more headed in a direction which I must escape;
	<br> <br>
	I must make my way before I convince my mind to stay.
	<br> <br>
	I drive in the direction of a new life
	<br> <br>
	barely escaping my own holocaust life,
	<br> <br>
	my mental needle closely rests on empty,
	<br> <br>
	I try not run out of gas before I get out what’s inside my head,
	<br> <br>
	how quickly your love ran to another
	<br> <br>
	as the quiet survival of loneliness fuels me ahead.
	</p>
	<div class="powered_by"> Powered by Wordgates | The Home for Writers. </div>
</div>

<div class="post" id="piece_four">
	<h1 onclick='show_default("piece_four")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> Armchair Wallflower </h3>		
	<p>
	I sit up, <br>
	against the chair back, <br>
	as the lies stack <br>
	against me, <br>
	I try not to fold <br>
	from the weight <br>
	of words, <br>
	be bold, <br>
	I am told <br>
	to find the courage <br>
	not to lose strength, <br>
	at times <br>
	to lost to walk <br>
	to broken to surrender, <br>
	finding no truth <br>
	in the falsehood of others.
	</p>
	<div class="powered_by"> Powered by Wordgates | The Home for Writers. </div>
</div>

<div class="post" id="piece_five">
	<h1 onclick='show_default("piece_five")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> Love Burns </h3>		
	<p>
	Your blistery words
	<br> <br>
	spoke only to gain ground,
	<br> <br>
	your breath burns
	<br> <br>
	like embers of a wildfire,
	<br> <br>
	I try to extinguish you,
	<br> <br>
	the heat of dying flames
	<br> <br>
	burn me
	<br> <br>
	burn us.
	<br> <br>
	The last flicker of our souls give way,
	<br> <br>
	a passion soot remains,
	<br> <br>
	we drift softly into an embrace
	<br> <br>
	only to burn one another
	<br> <br>
	with our dying flame.
	</p>
	<div class="powered_by"> Powered by Wordgates | The Home for Writers. </div>
</div>

<div class="post" id="piece_six">
	<h1 onclick='show_default("piece_six")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> The Death of Love </h3>		
	<p>
	I often wonder how different my life would have been <br> <br>
	had my mother not died when I was twenty-seven.<br> <br>
	Would my series of life mistakes even exist beyond just a bad dream;<br> <br>
	each a testament to my inability to chose wisely free of an inebriated state.<br> <br>
	Several bad decisions away, one ending with a ring on my left hand<br> <br>
	leading to false accusations and label lies.<br> <br>
	Time does not heal, that is a bullshit lie.<br> <br>
	Time does not lessen the pain of life.<br> <br>
	Time is never on one’s side, least of all mine.<br> <br>
	Silence slices the deafness of uncaring ears<br> <br>
	as each is not what the other one thought<br> <br>
	lost to uncompromising pride<br> <br>
	as once loved expectations die.
	</p>
	<div class="powered_by"> Powered by Wordgates | The Home for Writers. </div>
</div>

<div class="post" id="piece_seven">
	<h1 onclick='show_default("piece_seven")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> This Place </h3>		
	<p>
	This Place
	<br> <br>
	All your life,
	<br> <br>
	you wanted to be
	<br> <br>
	someplace else.
	<br> <br>
	Now you are there
	<br> <br>
	and you don’t know
	<br> <br>
	what to do
	<br> <br>
	with yourself.
	<br> <br>
	So you sit and stare
	<br> <br>
	into the bottom of
	<br> <br>
	a half-empty glass,
	<br> <br>
	in hopes to catch a glance
	<br> <br>
	of a life to live for.
	</p>
	<div class="powered_by"> Powered by Wordgates | The Home for Writers. </div>
</div>

<div class="post" id="piece_eight">
	<h1 onclick='show_default("piece_eight")' class="go_back_btn">
		<i class="fas fa-arrow-left" style="margin-right: 3px;"></i> Go Back 
	</h1>
	<h3 class="piece_header"> Birth </h3>		
	<p>
	I was born two weeks overdue, <br>
	still early in life. <br>
	More time was needed in my mother’s womb, <br>
	more time to feel complete, <br>
	More time was needed in my mother’s womb, <br>
	and told to land on my feet. <br>
	Face forward <br>
	while the sting of the world whips me into its desired shape, <br>
	shift-changing, clock awakening <br>
	sunrise schedules my time to fit the workday <br>
	to type my day away for minimal pay <br>
	in a one percent society which does not represent me, <br>
	but likes to micro-manage me. <br>
	Time clock, punch-management <br>
	inaccurate directions impede my stride, <br> 
	retracting dreams from attainable echelon skies; <br>
	I rise not from sleep but from a deep understanding <br>
	as tides of fluid birth nourish my seed of growth. <br>
	I plant my feet firmly upon the soil of my soul, <br>
	fruition multiples as dreams become real <br>
	for the first time since birth,  <br>
	until I return to the knowledge-rich soil <br>
	to cultivate my soul’s rebirth.
	</p>
	<div class="powered_by"> Powered by Wordgates | The Home for Writers. </div>
</div>
<!-- END OF POSTS -->

	  	<div id="right_side_container" class="right_side_container" style="margin-top: 62px;">
			<div class="functionality_container">
				<p class="functionality_title"> Email Notifier </p>
				<p> Get an Email  when a <br> new post comes out </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_field :email, placeholder: "you@youmail.com",
							style: "width: 170px; height: 28px; margin-bottom: 6px;" %> <br>
					<%= f.submit "done", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>

			<div class="functionality_container" style="margin-top: 60px;">
				<p class="functionality_title"> My Social </p>
				<a href="https://twitter.com/ValerieRVaughn">
					<i class="fab fa-twitter" style="font-size: 30px;"></i>
				</a>
				<a href="https://medium.com/@valerievaughn">
					<i class="fab fa-medium-m" style="font-size: 30px; margin-left: 14px; color: black;"></i>
				</a>
			</div>

			<div class="functionality_container" style="margin-top: 40px;">
				<p class="functionality_title"> Contact Me </p>
				<%= form_for :email_subscriber, url: email_subscriber_url do |f| %>
					<%= f.text_area :email, placeholder: "your message",
							style: "width: 170px; height: 100px;" %> <br>
					<%= f.submit "send", style: "cursor: pointer; float: right; font-size: 13px;" %>
				<% end %>
			</div>
	  	</div>
	  </div>

	  </div>

</div>


<script type="text/javascript">
	function show_piece(piece_id){
		document.getElementById("middle_container").style.display = "none";
		document.getElementById(piece_id).style.display = "block";	
	}	

	function show_default(piece_id){
		document.getElementById(piece_id).style.display = "none";
		document.getElementById("right_side_container").style.display = "block";
	}
</script>


<style type="text/css">
	body {
	  margin: 0;
	  padding-bottom: 20px;
	  background: url("https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/29541105_835895776619070_3405668396287489204_n.jpg?_nc_cat=0&oh=66cdc4ffad4a5be35f9ccb9633201c8b&oe=5B3BE014") no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}	
</style>

