<div data-collapse="medium" data-animation="default" data-duration="400"
    class="navbar w-nav" style="position: relative;">
  <a href="/" class="brand w-nav-brand">
      <div class="logo-design" style="font-size: 17px;"> MYN - <%= @user.name if @user %> </div>
  </a>
  <nav role="navigation" class="nav-menu w-nav-menu">
    <%= link_to 'About Us & Team', about_path, class: "header_btn" %>
    <%= link_to 'Security & Privacy Policy', security_and_privacy_path, class: "header_btn" %>
    <%= link_to '2 MINUTE PRODUCT TOUR', product_tour_path, class: "header_btn_outer" %>

    <%= link_to 'Log Out', logout_path, method: :delete, class: "header_btn" %>

  <div class="w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
</div>
