<!DOCTYPE html>
<html>
  <head>
    <title>mind-your-network</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <%= favicon_link_tag 'logo.png' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<!--
<%= form_for :contact, url: create_contact_url do |f| %>
  <%= f.text_field :name, placeholder: "Add one Contact" %>
  <%= f.submit "done" %>
<% end %> <br>
-->
