<!DOCTYPE html>
<html>
  <head>
    <title> Programming with Python </title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'python_favicon.png' %>
  </head>

  <style type="text/css">
    html{
      /* font-family: "DejaVu Sans"; */
      margin-top: 28px;
      margin-bottom: 125px;
      font-size: 15px;
    }

    #container{
      width: 890px;
      margin-left: 100px;
    }

    #course_title{
      text-decoration: underline; 
      margin-bottom: 32px;
    }

    #side_bar{
      width: 270px;
      float: left;
    }

    .side_bar_links{
      display: block;
      margin-top: 3px;
      text-decoration: none;
    }

    #lesson_content{
      width: 410px;
      float: left;     
    }

    #lesson_title{
      margin-top: 0px;
    }

    #lesson_footer{
      /* container of prev and next link */
      margin-top: 28px;
    }

    #previous_link{
      font-size: 16px;
    }

    #next_link{
      float: right; 
      font-size: 16px;
    }
  </style>

  <body>

    <div id="container">
      <!--
      <h3 id="course_title"> Programming with Python </h3>
      -->

      <h3 id="course_title"> The Minimum to be Dangerous <br> Python </h3>

      <div id="side_bar">
        <!--
        <%= link_to "1. Intro", lesson_intro_path, class: "side_bar_links" %>
        <%= link_to "2. Setup", lesson_one_path, class: "side_bar_links" %>
      -->
        <%= link_to "Repl.it", lesson_two_path, class: "side_bar_links" %>
      <!--
        <%= link_to "4.", lesson_three_path, class: "side_bar_links" %>
        <%= link_to "5.", lesson_four_path, class: "side_bar_links" %>
        <%= link_to "6.", lesson_five_path, class: "side_bar_links" %>
        <%= link_to "7.", lesson_six_path, class: "side_bar_links" %>
        <%= link_to "8.", lesson_seven_path, class: "side_bar_links" %>
        <%= link_to "9.", lesson_eight_path, class: "side_bar_links" %>
        <%= link_to "10.", lesson_eight_path, class: "side_bar_links" %>
      -->

        <br>
        <p> <strong> Ask Johannes </strong> </p>
        <%= form_for :student_question, url: student_question_url do |f| %>
            <%= f.text_field :question, placeholder: "Your Question",
                style: "width: 130px; height: 26px; margin-bottom: 6px;" %> <br>
            <%= f.text_field :student, placeholder: "Your Name",
                style: "width: 130px; height: 26px; margin-bottom: 12px;" %> <br>
            <%= f.submit "ask", style: "cursor: pointer; left: right; font-size: 13px;" %>
        <% end %>
      </div>


      <div id="lesson_content">
         <%= yield %>

         <div id="lesson_footer">
            <% if @previous_link %>
              <%= link_to "Prev", @previous_link, id: "previous_link" %>
            <% end %>

            <% if @next_link %>
              <%= link_to "Next", @next_link, id: "next_link" %>
            <% end %>
        </div>
      </div>
    </div>

  </body>
</html>
