<!DOCTYPE html>
<html>
  <head>
    <title> Programming with Python </title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'python_favicon.png' %>
  </head>

  <style type="text/css">
    html{
      /* font-family: "DejaVu Sans"; */
      margin-top: 28px;
      margin-bottom: 125px;
      font-size: 15px;
    }

    #container{
      width: 890px;
      margin-left: 100px;
    }

    #course_title{
      text-decoration: underline; 
      margin-bottom: 42px;
    }

    #side_bar{
      width: 270px;
      float: left;
    }

    .side_bar_links{
      display: block;
      margin-top: 3px;
    }

    #lesson_content{
      width: 410px;
      float: left;     
    }

    #lesson_title{
      margin-top: 0px;
    }

    #lesson_footer{
      /* container of prev and next link */
      margin-top: 28px;
    }

    #previous_link{
      font-size: 16px;
    }

    #next_link{
      float: right; 
      font-size: 16px;
    }
  </style>

  <body>

    <div id="container">
      <h3 id="course_title"> Programming with Python </h3>

      <div id="side_bar">
        <%= link_to "Intro", lesson_intro_path, class: "side_bar_links" %>
        <%= link_to "Setup", lesson_one_path, class: "side_bar_links" %>
        <%= link_to "Numbers & Variables", lesson_two_path, class: "side_bar_links" %>
        <%= link_to "Strings", lesson_three_path, class: "side_bar_links" %>
        <%= link_to "Lists", lesson_four_path, class: "side_bar_links" %>
        <%= link_to "If Statements", lesson_five_path, class: "side_bar_links" %>
        <%= link_to "For Loops", lesson_six_path, class: "side_bar_links" %>
        <%= link_to "Modules", lesson_seven_path, class: "side_bar_links" %>
        <%= link_to "Project Start", lesson_eight_path, class: "side_bar_links" %>

        <!--
        <%= link_to "Creating Logic", lesson_eight_path, class: "side_bar_links" %>
        <%= link_to "Built-In Functions", lesson_eight_path, class: "side_bar_links" %>
        <%= link_to "A note of how to hack", lesson_eight_path, class: "side_bar_links" %>
        -->
      </div>

      <div id="lesson_content">
         <%= yield %>

         <div id="lesson_footer">
            <% if @previous_link %>
              <%= link_to "Prev", @previous_link, id: "previous_link" %>
            <% end %>

            <% if @next_link %>
              <%= link_to "Next", @next_link, id: "next_link" %>
            <% end %>
        </div>
      </div>
    </div>

  </body>
</html>
